#  Creating enzyme-substrate database from GO Annotation database for Uniprot IDs

### 1. Extracting all GO Terms with information about chemical reactions
### 2. Getting IDs for the substrates
### 3. Searching the GO Annotations database for UniProt IDs for entries with GO Terms stating the catalyitic activity of an enzyme
### 4. Splitting the dataset in training and testing set
### 5. Calculating enzyme and substrate representations
### 6. Adding negative data points
### 7. Adding task-specific enzyme representations

In [1]:
import pandas as pd
import numpy as np
import random
from os.path import join
import os
import re
import sys
import time
from rdkit import Chem
from rdkit import DataStructs
from rdkit.Chem import AllChem
from Bio import SeqIO
import warnings
import torch
warnings.filterwarnings("ignore")

sys.path.append('.\\additional_code')
from data_preprocessing import *

CURRENT_DIR = os.getcwd()
print(CURRENT_DIR)

C:\Users\alexk\projects\SubFinder\notebooks_and_code

## 1. Extract all GO Terms with information about chemical reactions

### (a) Create pandas DataFrame with alle GO Terms (with infomration about the catalytic activity of enzymes) including its names, definitions, and reaction IDs:
go.obo file with information about GO Terms was downloaded from http://geneontology.org/docs/download-ontology/

In [5]:
df = pd.DataFrame(columns = ["GO ID", "Definition", "Name", "RHEA ID"])

#read go obo file
path_go_obo = join(CURRENT_DIR, ".." ,"data", "GOA_data", 'go.obo')
file = open(path_go_obo, 'r')
Lines = file.read()

#process data from go.obo-file and save it in a pandas DataFrame:
start = Lines.index('[Term]\n')
while start != -1:
    start = Lines.index('[Term]\n')
    Lines = Lines[start+1:]
    try:
        GO_Term = Lines[: Lines.index('[Term]\n')]
    except ValueError:
        start = -1
    definition, name, ID = get_info_from_GO_Term(GO_Term = GO_Term)
    if "Catalysis of the reaction" in definition:
        RHEA_ID= get_RHEA_reaction_IDs(GO_ID = ID, GO_Term = GO_Term)
        df = df.append({"GO ID" : ID , "Definition" : definition, "Name" : name,
                        "RHEA ID" : RHEA_ID}, ignore_index = True)
df.head()

,GO ID,Definition,Name,RHEA ID,KEGG ID
0,GO:0000010,"""Catalysis of the reaction: all-trans-hexapren...",trans-hexaprenyltranstransferase activity,20836,NaN
1,GO:0000016,"""Catalysis of the reaction: lactose + H2O = D-...",lactase activity,10076,NaN
2,GO:0000034,"""Catalysis of the reaction: adenine + H2O = hy...",adenine deaminase activity,23688,NaN
3,GO:0000048,"""Catalysis of the reaction: peptidyl-tRNA(1) +...",peptidyltransferase activity,NaN,NaN
4,GO:0000104,"""Catalysis of the reaction: succinate + accept...",succinate dehydrogenase activity,16357,NaN

In [6]:
df.to_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))

In [2]:
df_catalytic = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))
df_catalytic

,GO ID,Definition,Name,RHEA ID,KEGG ID
0,GO:0000010,"""Catalysis of the reaction: all-trans-hexapren...",trans-hexaprenyltranstransferase activity,20836,NaN
1,GO:0000016,"""Catalysis of the reaction: lactose + H2O = D-...",lactase activity,10076,NaN
2,GO:0000034,"""Catalysis of the reaction: adenine + H2O = hy...",adenine deaminase activity,23688,NaN
3,GO:0000048,"""Catalysis of the reaction: peptidyl-tRNA(1) +...",peptidyltransferase activity,NaN,NaN
4,GO:0000104,"""Catalysis of the reaction: succinate + accept...",succinate dehydrogenase activity,16357,NaN
...,...,...,...,...,...
6582,GO:1990833,"""Catalysis of the reaction: ATP + H2O = ADP + ...",clathrin-uncoating ATPase activity,NaN,NaN
6583,GO:1990883,"""Catalysis of the reaction: acetyl-CoA + cytid...",rRNA cytidine N-acetyltransferase activity,NaN,NaN
6584,GO:1990887,"""Catalysis of the reaction: 2-polyprenyl-3-met...","2-polyprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-...",NaN,NaN
6585,GO:1990888,"""Catalysis of the reaction: 2-polyprenyl-6-hyd...",2-polyprenyl-6-hydroxyphenol O-methyltransfera...,NaN,NaN
6586,GO:1990965,"""Catalysis of the reaction: cytosylglucuronic ...",cytosylglucuronate decarboxylase activity,NaN,NaN

## 2. Getting IDs for the substrates

### (a) Trying to get substrate name via text mining of the GO Term definitions:

In [3]:
df_catalytic["substrates"] = ""

for ind in df_catalytic.index:
    df_catalytic["substrates"][ind] = find_substrates(definition = df_catalytic["Definition"][ind])
    
df_catalytic

Could not find substrate in the following definition: which results in unsaturation at C-7 in the B ring of sterols
Could not find substrate in the following definition: GlcNAc-1,6-anhMurNAc-L-Ala-gamma-D-Glu-DAP-D-Ala + H2O glcNAc-1,6-anhMurNAc + L-Ala-gamma-D-Glu-DAP-D-Ala
Could not find substrate in the following definition: involving the transfer of a phosphatidate (otherwise known as diacylglycerol 3-phosphosphate) group
Could not find substrate in the following definition: ATP + undecaprenol + all-trans-undecaprenyl phosphate + ADP + H+
Could not find substrate in the following definition: 7-hydroxymethyl chlorophyll a + 2 reduced ferredoxin + 2 H+ chlorophyll a + 2 oxidized ferredoxin + H2O

,GO ID,Definition,Name,RHEA ID,KEGG ID,substrates
0,GO:0000010,"""Catalysis of the reaction: all-trans-hexapren...",trans-hexaprenyltranstransferase activity,20836,NaN,"[all-trans-hexaprenyl diphosphate, isopentenyl..."
1,GO:0000016,"""Catalysis of the reaction: lactose + H2O = D-...",lactase activity,10076,NaN,"[lactose, H2O ]"
2,GO:0000034,"""Catalysis of the reaction: adenine + H2O = hy...",adenine deaminase activity,23688,NaN,"[adenine, H2O ]"
3,GO:0000048,"""Catalysis of the reaction: peptidyl-tRNA(1) +...",peptidyltransferase activity,NaN,NaN,"[peptidyl-tRNA(1), aminoacyl-tRNA(2) ]"
4,GO:0000104,"""Catalysis of the reaction: succinate + accept...",succinate dehydrogenase activity,16357,NaN,"[succinate, acceptor ]"
...,...,...,...,...,...,...
6582,GO:1990833,"""Catalysis of the reaction: ATP + H2O = ADP + ...",clathrin-uncoating ATPase activity,NaN,NaN,"[ATP, H2O ]"
6583,GO:1990883,"""Catalysis of the reaction: acetyl-CoA + cytid...",rRNA cytidine N-acetyltransferase activity,NaN,NaN,"[acetyl-CoA, cytidine ]"
6584,GO:1990887,"""Catalysis of the reaction: 2-polyprenyl-3-met...","2-polyprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-...",NaN,NaN,"[2-polyprenyl-3-methyl-5-hydroxy-6-methoxy-1,4..."
6585,GO:1990888,"""Catalysis of the reaction: 2-polyprenyl-6-hyd...",2-polyprenyl-6-hydroxyphenol O-methyltransfera...,NaN,NaN,"[2-polyprenyl-6-hydroxyphenol, S-adenosyl-L-me..."
6586,GO:1990965,"""Catalysis of the reaction: cytosylglucuronic ...",cytosylglucuronate decarboxylase activity,NaN,NaN,"[cytosylglucuronic acid, H(+) ]"

### (b) Getting substrate CHEBI IDs for the reactions with RHEA IDs:

#### (b)(i) Mapping the metabolites of the reaction with RHEA IDs to CHEBI metabolite IDs
Information about RHEA reactions were downloaded from https://ftp.expasy.org/databases/rhea/txt/

In [5]:
df_RHEA = pd.DataFrame(columns = ["RHEA ID", "CHEBI IDs", "CHEBI_ID_list"])

file1 = open(join(CURRENT_DIR, ".." ,"data", "reaction_data", "rhea-reactions.txt"), 'r')
Lines = file1.readlines()

while True:
    try:
        end = Lines.index('///\n')
        entry = Lines[:end]
        RHEA_ID, CHEBI_IDs = extract_RHEA_ID_and_CHEBI_IDs(entry)
        CHEBI_ID_list = get_substrate_IDs(IDs = CHEBI_IDs)
        Lines = Lines[end+1:]
        df_RHEA = df_RHEA.append({"RHEA ID" : RHEA_ID, "CHEBI_ID_list" : CHEBI_ID_list}, ignore_index = True)
    except ValueError:
        break
        
df_RHEA["RHEA ID"] = [float(ID.split(":")[-1]) for ID in df_RHEA["RHEA ID"]]
df_RHEA.to_pickle(join(CURRENT_DIR, ".." ,"data", "reaction_data", "RHEA_reaction_df.pkl"))
df_RHEA

       RHEA ID CHEBI IDs                                      CHEBI_ID_list
0      10000.0       NaN                         [CHEBI:15377, CHEBI:16459]
1      10001.0       NaN                         [CHEBI:15377, CHEBI:16459]
2      10002.0       NaN                         [CHEBI:28938, CHEBI:31011]
3      10003.0       NaN                         [CHEBI:15377, CHEBI:16459]
4      10004.0       NaN                                      [CHEBI:17484]
...        ...       ...                                                ...
54195  66623.0       NaN            [CHEBI:71550, CHEBI:15379, CHEBI:57618]
54196  66624.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]
54197  66625.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]
54198  66626.0       NaN  [CHEBI:71541, CHEBI:15378, CHEBI:15377, CHEBI:...
54199  66627.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]

[54200 rows x 3 columns]

#### (b)(ii) Mapping CHEBI IDs to df_catalytic

In [10]:
df_catalytic["RHEA ID"] = [float(ID) for ID in df_catalytic["RHEA ID"]]
df_catalytic = df_catalytic.merge(df_RHEA, how = "left", on = ["RHEA ID"])
df_catalytic.head()

,GO ID,Definition,Name,RHEA ID,KEGG ID,substrates,CHEBI IDs,CHEBI_ID_list
0,GO:0000010,"""Catalysis of the reaction: all-trans-hexapren...",trans-hexaprenyltranstransferase activity,20836.0,NaN,"[all-trans-hexaprenyl diphosphate, isopentenyl...",NaN,"[CHEBI:58179, CHEBI:128769]"
1,GO:0000016,"""Catalysis of the reaction: lactose + H2O = D-...",lactase activity,10076.0,NaN,"[lactose, H2O ]",NaN,"[CHEBI:15377, CHEBI:17716]"
2,GO:0000034,"""Catalysis of the reaction: adenine + H2O = hy...",adenine deaminase activity,23688.0,NaN,"[adenine, H2O ]",NaN,"[CHEBI:16708, CHEBI:15378, CHEBI:15377]"
3,GO:0000048,"""Catalysis of the reaction: peptidyl-tRNA(1) +...",peptidyltransferase activity,NaN,NaN,"[peptidyl-tRNA(1), aminoacyl-tRNA(2) ]",NaN,NaN
4,GO:0000104,"""Catalysis of the reaction: succinate + accept...",succinate dehydrogenase activity,16357.0,NaN,"[succinate, acceptor ]",NaN,"[CHEBI:13193, CHEBI:30031]"

#### (b)(iii) Creating DataFrame with all combinations of GO Terms and single substrates:

In [12]:
df_substrates = pd.DataFrame(columns = ["GO ID", "molecule", "molecule ID"])
df_catalytic["CHEBI_ID_list"].loc[pd.isnull(df_catalytic["CHEBI_ID_list"])] = ""

for ind in df_catalytic.index:
    GO_ID = df_catalytic["GO ID"][ind]
    
    if len(df_catalytic["CHEBI_ID_list"][ind]) > 0:
        IDs = df_catalytic["CHEBI_ID_list"][ind]
        for ID in IDs:
            df_substrates = df_substrates.append({"GO ID" : GO_ID, "molecule": np.nan, "molecule ID" : ID},
                                                 ignore_index = True)
    else:
        metabolites = df_catalytic["substrates"][ind]
        for met in metabolites:
            df_substrates = df_substrates.append({"GO ID" : GO_ID, "molecule": met, "molecule ID" : np.nan},
                                                 ignore_index = True)
            
df_substrates.reset_index(inplace = True, drop = True)
df_substrates

            GO ID                      molecule   molecule ID
0      GO:0000010                           NaN   CHEBI:58179
1      GO:0000010                           NaN  CHEBI:128769
2      GO:0000016                           NaN   CHEBI:15377
3      GO:0000016                           NaN   CHEBI:17716
4      GO:0000034                           NaN   CHEBI:16708
...           ...                           ...           ...
14649  GO:1990887      S-adenosyl-L-methionine            NaN
14650  GO:1990888  2-polyprenyl-6-hydroxyphenol           NaN
14651  GO:1990888      S-adenosyl-L-methionine            NaN
14652  GO:1990965        cytosylglucuronic acid           NaN
14653  GO:1990965                         H(+)            NaN

[14654 rows x 3 columns]

###  (c) Trying to map all substrates without a CHEBI ID to an identifier:

In [14]:
metabolites = []
for ind in df_substrates.index:
    if pd.isnull(df_substrates["molecule ID"][ind]):
        metabolites = metabolites + [df_substrates["molecule"][ind]]
    
df_unmapped = pd.DataFrame(data = {"metabolites" : list(set(metabolites))})
df_unmapped

                                     metabolites
0                                       xanthan
1                                     indan-1-ol
2                                 oxidosqualene
3                                     galactogen
4                            (histone)-arginine
...                                          ...
2402                   GDP-mannose = mannan(n+1)
2403                   a 3-oxo-dodecanoyl-[acp]
2404               coenzyme A or its derivatives
2405                     DNA with alkylated base
2406  2,4-dihydroxy-hept-trans-2-ene-1,7-dioate

[2407 rows x 1 columns]

#### (c)(i) Mapping metabolite names to KEGG compound synonym database:

In [16]:
datasets_dir = "C:\\Users\\alexk\\projects\\Prediction_of_KM_V4\\datasets\\"

drugs_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "KEGG_drugs_df.pkl"))
compounds_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "KEGG_substrate_df.pkl"))
KEGG_substrate_df = compounds_df.append(drugs_df).reset_index(drop = True)

##If we have multiple IDs for the same substrate name, we keep the first ID:
droplist = []
for ind in KEGG_substrate_df.index:
    if not ind in droplist:
        substrate = KEGG_substrate_df["substrate"][ind]
        help_df = KEGG_substrate_df.loc[KEGG_substrate_df["substrate"] == substrate]
        if len(help_df) > 1 :
            droplist = droplist + list(help_df.index)[1:]

KEGG_substrate_df.drop(droplist, inplace = True)

KEGG_substrate_df["substrate"] = [name.lower() for name in KEGG_substrate_df["substrate"]]
df_unmapped["substrate"] = [name.lower() for name in df_unmapped["metabolites"]]

df_unmapped = df_unmapped.merge(KEGG_substrate_df, on = "substrate", how = "left")
print("For %s out of %s data points we could not map the substrate name to a KEGG ID." %
      (sum(pd.isnull(df_unmapped["KEGG ID"])), len(df_unmapped)))

For 1589 out of 2407 data points we could not map the substrate name to a KEGG ID.

#### (c)(ii) Mapping all substrate names without a KEGG CID to PubChem CIDs:

In [20]:
unmapped_substrates = list(set(list(df_unmapped["substrate"][pd.isnull(list(df_unmapped["KEGG ID"]))])))
matches = substrate_names_to_Pubchem_CIDs(unmapped_substrates)
matches.to_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "Pubchem_substrate_matches_GO_Terms.pkl"))

Mapping all PubChem CIDs to KEGG CIDs: Therefore, we create a txt-file ("Pubchem_CIDs_GO_Terms.txt") that contains all PubChem CIDs that we want to map to KEGG CIDs:

In [21]:
#convert CIDs from strings to integers:
for ind in matches.index:
    cid = matches.loc[ind]["CID"]
    if not pd.isnull(cid):
        matches["CID"][ind] = int(cid)
        
        
#create txt file with all CIDs in matches:
CIDs = list(matches.loc[~ pd.isnull(matches["CID"])]["CID"])
f = open(join(CURRENT_DIR, ".." ,"data", "substrate_data", "Pubchem_CIDs_GO_Terms.txt"),"w") 
for cid in CIDs:
    f.write(str(cid) + "\n")
f.close()

The txt-file "Pubchem_CIDs_GO_Terms.txt" can be used as the input for the webservice https://www.metaboanalyst.ca/MetaboAnalyst/upload/ConvertView.xhtml to map the Pubchem CIDs to KEGG CIDs and CHEBI IDs.

In [41]:
matches= pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "Pubchem_substrate_matches_GO_Terms.pkl"))
matches["CID"] = [int(cid) if not pd.isnull(cid) else np.nan for cid in matches["CID"]]
matches.head()
matches = matches.loc[~pd.isnull(matches["CID"])]

#load the resulting file and store it in a DataFrame:
Pubchem_CID_to_KEGG_df = pd.read_csv(join(CURRENT_DIR, ".." ,"data", "substrate_data", "name_map_metaboanalyst.csv"), sep = ",")
#rename columns:
Pubchem_CID_to_KEGG_df.rename(columns = {"PubChem" : "CID"}, inplace = True)
Pubchem_CID_to_KEGG_df.drop(columns = ["Match","Query", "HMDB", "SMILES", "Comment"], inplace = True)

#merge this DataFrame with the DataFrame called matches:
macthes_with_KEGG_IDs = pd.merge(matches, Pubchem_CID_to_KEGG_df, how='left', on=['CID'])
macthes_with_KEGG_IDs.rename(columns = {"Match" : "substrate"}, inplace = True)
macthes_with_KEGG_IDs

                         Metabolite         CID    ChEBI    KEGG  METLIN
0                             coash     87642.0  15346.0  C00010  6235.0
1               dehydroabietadienal  11694869.0  52487.0     NaN     NaN
2            tricaffeoyl spermidine  15241070.0      NaN     NaN     NaN
3              chlorophyllide b(1-)  86289090.0      NaN     NaN     NaN
4                    beta-chaconine    119393.0      NaN     NaN     NaN
..                              ...         ...      ...     ...     ...
447        2,4-dinitrocyclohexanone   9543365.0      NaN     NaN     NaN
448     2-(methylthio)benzothiazole     11989.0      NaN     NaN     NaN
449              indole acetic acid       802.0  16411.0  C00954  5211.0
450  (r)-3-hydroxyicosanoyl-coa(4-)  72193813.0      NaN     NaN     NaN
451    monocyclic sesterterpenediol  90658711.0      NaN     NaN     NaN

[452 rows x 5 columns]

In [42]:
df_unmapped["CHEBI ID"] = np.nan

for ind in df_unmapped.index:
    if pd.isnull(df_unmapped["KEGG ID"][ind]):
        substrate = df_unmapped["substrate"][ind]
        try:
            KEGG_ID = list(macthes_with_KEGG_IDs.loc[macthes_with_KEGG_IDs["substrate"]== substrate]["KEGG ID"])[0]
            df_unmapped["KEGG ID"][ind] = KEGG_ID
        except:
            None
        try:
            CHEBI_ID = list(macthes_with_KEGG_IDs.loc[macthes_with_KEGG_IDs["substrate"]== substrate]["ChEBI"])[0]
            df_unmapped["CHEBI ID"][ind] = CHEBI_ID
        except:
            None
df_unmapped

,metabolites,substrate,KEGG ID,CHEBI ID
0,xanthan,xanthan,NaN,NaN
1,indan-1-ol,indan-1-ol,C01710,NaN
2,oxidosqualene,oxidosqualene,NaN,NaN
3,galactogen,galactogen,C01698,NaN
4,(histone)-arginine,(histone)-arginine,NaN,NaN
...,...,...,...,...
2402,GDP-mannose = mannan(n+1),gdp-mannose = mannan(n+1),NaN,NaN
2403,a 3-oxo-dodecanoyl-[acp],a 3-oxo-dodecanoyl-[acp],NaN,NaN
2404,coenzyme A or its derivatives,coenzyme a or its derivatives,NaN,NaN
2405,DNA with alkylated base,dna with alkylated base,NaN,NaN
2406,"2,4-dihydroxy-hept-trans-2-ene-1,7-dioate","2,4-dihydroxy-hept-trans-2-ene-1,7-dioate",NaN,NaN

#### (c)(iii) Mapping substrate IDs to df_substrate:

In [44]:
for ind in df_substrates.index:
    if pd.isnull(df_substrates["molecule ID"][ind]):
        met = df_substrates["molecule"][ind]

        ID = list(df_unmapped["CHEBI ID"].loc[df_unmapped["metabolites"] == met])[0]
        if pd.isnull(ID):
            ID = list(df_unmapped["KEGG ID"].loc[df_unmapped["metabolites"] == met])[0]

        df_substrates["molecule ID"][ind] = ID
df_substrates

            GO ID                      molecule   molecule ID
0      GO:0000010                           NaN   CHEBI:58179
1      GO:0000010                           NaN  CHEBI:128769
2      GO:0000016                           NaN   CHEBI:15377
3      GO:0000016                           NaN   CHEBI:17716
4      GO:0000034                           NaN   CHEBI:16708
...           ...                           ...           ...
14649  GO:1990887      S-adenosyl-L-methionine            NaN
14650  GO:1990888  2-polyprenyl-6-hydroxyphenol        C17551
14651  GO:1990888      S-adenosyl-L-methionine            NaN
14652  GO:1990965        cytosylglucuronic acid           NaN
14653  GO:1990965                         H(+)            NaN

[14654 rows x 3 columns]

In [45]:
df_substrates.drop(columns = ["molecule"], inplace= True)
df_substrates = df_substrates.loc[~pd.isnull(df_substrates["molecule ID"])]
df_substrates.reset_index(inplace = True, drop = True)
df_substrates

            GO ID   molecule ID
0      GO:0000010   CHEBI:58179
1      GO:0000010  CHEBI:128769
2      GO:0000016   CHEBI:15377
3      GO:0000016   CHEBI:17716
4      GO:0000034   CHEBI:16708
...           ...           ...
11304  GO:1990738   CHEBI:15377
11305  GO:1990738   CHEBI:58380
11306  GO:1990833        C00002
11307  GO:1990883        C00024
11308  GO:1990888        C17551

[11309 rows x 2 columns]

In [46]:
df_substrates.to_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))

## 3. Searching the GO Annotations database for entries with GO Terms stating the catalyitic activity of an enzyme

In [2]:
df_substrates = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))

#### (a) Searching the database

The GO Annotation database contains evidence codes (ECOs). These ECOs contain the information which kind of evidence an annotation has, e.g. "computational", "experimential", "phylogenetic",...
We are only interested in data points with experimental and phylogenetic evidence.

In [14]:
df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))
catalytic_go_terms = list(set(df["GO ID"]))

In [ ]:
df_GO_UID = pd.read_csv(join(CURRENT_DIR, "alex_data", "df_GO_UID.csv"))

In [16]:
len(catalytic_go_terms)

5763

In [3]:
ECO_to_GAF = pd.read_csv(join(CURRENT_DIR, ".." ,"data", "GOA_data", 'ECO_to_GAF.tsv'), sep = "\t")
exp_evidence = ["EXP","IDA","IPI","IMP","IGI","IEP", "HTP","HDA","HMP","HGI","HEP"]
phylo_evidence = ["IBA","IBD","IKR","IRD"]

The GOA database contains over 922 million entries. We created a function "search_GOA_database" to parallize the search. It takes the argument run which should be an integer betwenn 0 and 922 and searches one million entries accoriding to the value run has.
The GOA database for uniprot IDs was downloaded from here:

In [4]:
#for run in range(923):
#    search_GOA_database(run)

#### (b)Mapping GO_terms with phylogenetic and experimental evidence to substrate IDs:

Merging the created DataFrames:

In [ ]:
df_GO_UID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "experimental_and_phylogenetic",
                                "experimental_phylogenetic_df_GO_UID_part_" + str(0) +".pkl"))

for i in range(1,923):
    try:
        df_new = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "experimental_and_phylogenetic",
                                     "experimental_phylogenetic_df_GO_UID_part_" + str(i) +".pkl"))
        df_GO_UID = pd.concat([df_GO_UID, df_new], ignore_index= True)
    except FileNotFoundError:
        print("Error", i)
df_GO_UID.to_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "experimental_phylogenetic_df_GO_UID.pkl"))

In [5]:
df_GO_UID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "experimental_phylogenetic_df_GO_UID.pkl"))

Mapping Uniprot IDs and metabolite IDs:

In [17]:
df_UID_MID = pd.DataFrame(columns =["Uniprot ID", "molecule ID", "evidence"])

for ind in df_GO_UID.index:
    if ind >= -1:
        GO_ID = df_GO_UID["GO Term"][ind]
        UID = df_GO_UID["Uniprot ID"][ind]
        evidence = df_GO_UID["evidence"][ind]
        met_IDs = list(df_substrates["molecule ID"].loc[df_substrates["GO ID"] == GO_ID])
        for met_ID in met_IDs:
            df_UID_MID = df_UID_MID.append({"Uniprot ID" : UID, "molecule ID" : met_ID,
                                           "evidence": evidence}, ignore_index = True)
    if ind % 1000 ==1:
        print(ind)
        
df_UID_MID.drop_duplicates(inplace = True)
df_UID_MID.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))

Uniprot_IDs = list(set(df_UID_MID["Uniprot ID"]))
print(len(Uniprot_IDs), len(list(set(df_UID_MID["molecule ID"]))))

df_UID_MID

1
1001
2001
3001
4001
5001
6001
7001
8001
9001
10001
11001
12001
13001
14001
15001
16001
17001
18001
19001
20001
21001
22001
23001
24001
25001
26001
27001
28001
29001
30001
31001
32001
33001
34001
35001
36001
37001
38001
39001
40001
41001
42001
43001
44001
45001
46001
47001
48001
49001
50001
51001
52001
53001
54001
55001
56001
57001
58001
59001
60001
61001
62001
63001
64001
65001
66001
67001
68001
69001
70001
71001
72001
73001
74001
75001
76001
77001
78001
79001
80001
81001
82001
83001
84001
85001
86001
87001
88001
89001
90001
91001
92001
93001
94001
95001
96001
97001
98001
99001
100001
101001
102001
103001
104001
105001
106001
107001
108001
109001
110001
111001
112001
113001
114001
115001
116001
117001
118001
119001
120001
121001
122001
123001
124001
125001
126001
127001
128001
129001
130001
131001
132001
133001
134001
135001
136001
137001
138001
139001
140001
141001
142001
143001
144001
145001
146001
147001
148001
149001
150001
151001
152001
153001
154001
155001
156001
157001
158001
159001
160001
161001
162001
163001
164001
165001
166001
167001
168001
169001
170001
171001
172001
173001
174001
175001
176001
177001
178001
179001
180001
181001
182001
183001
184001
185001
186001
187001
188001
189001
190001
191001
192001
193001
194001
195001
196001
197001
198001
199001
200001
201001
202001
203001
204001
205001
206001
207001
208001
209001
210001
211001
212001
213001
214001
215001
216001
217001
218001
219001
220001
221001
222001
223001
224001
225001
226001
227001
228001
229001
230001
231001
232001
233001
234001
235001
236001
237001
238001
239001
240001
241001
242001
243001
244001
245001
246001
247001
248001
249001
250001
251001
252001
253001
254001
255001
256001
257001
258001
259001
260001
261001
262001
263001
264001
265001
266001
267001
268001
269001
270001
271001
272001
273001
274001
275001
276001
277001
278001
279001
236843 1772

        Uniprot ID  molecule ID evidence
0       A0A009IHW8  CHEBI:15377      exp
1       A0A009IHW8  CHEBI:57540      exp
2       A0A022PMU5       C00030    phylo
3       A0A022PN36  CHEBI:57318    phylo
4       A0A022PN36  CHEBI:57540    phylo
...            ...          ...      ...
495070      Z4YNJ9  CHEBI:15378    phylo
495071      Z4YNJ9  CHEBI:15379    phylo
495072      Z4YNJ9  CHEBI:57394    phylo
495073      Z4YNJ9       C00154    phylo
495074      Z4YNJ9       C00030    phylo

[462406 rows x 3 columns]

In [18]:
df_UID_MID.loc[df_UID_MID["evidence"] == "exp"]

        Uniprot ID  molecule ID evidence
0       A0A009IHW8  CHEBI:15377      exp
1       A0A009IHW8  CHEBI:57540      exp
10167   A0A059TC02  CHEBI:16731      exp
10168   A0A059TC02  CHEBI:57287      exp
10169   A0A059TC02  CHEBI:58349      exp
...            ...          ...      ...
495053      X5KCU3       C00535      exp
495054      X5KCU9       C00535      exp
495055      X5KJC0       C00535      exp
495056      X5L1L5       C00535      exp
495057      X5L565       C00535      exp

[28112 rows x 3 columns]

We are removing small molecules like H2O and H+ from the dataset:

In [19]:
'''#magnesium, Phosphoprotein,  Collagen, C02, O2, Calmodulin, water, RNA, calcium, iron, hydrogen,
protein polypeptide chain,DNA, ammonium, lipopolysaccharide, fatty acid anion, double stranded DNA,
iron, hydrogen donor, hydrogen acceptor, lipid''';

remove_mets = ["CHEBI:18420", "C00562", "C00211", "CHEBI:16526", "CHEBI:15379", "C00391", "CHEBI:15377",
               "C00046", "CHEBI:29108", "CHEBI:29034", "CHEBI:15378", "CHEBI:16541", "CHEBI:16991",
              "CHEBI:28938", "CHEBI:16412", "CHEBI:28868", "CHEBI:4705", "CHEBI:29033", "CHEBI:17499",
              "CHEBI:13193", "C01356"]

df_UID_MID = df_UID_MID.loc[~df_UID_MID["molecule ID"].isin(remove_mets)]
df_UID_MID

        Uniprot ID  molecule ID evidence
1       A0A009IHW8  CHEBI:57540      exp
2       A0A022PMU5       C00030    phylo
3       A0A022PN36  CHEBI:57318    phylo
4       A0A022PN36  CHEBI:57540    phylo
6       A0A022PN36  CHEBI:16469    phylo
...            ...          ...      ...
495066      Z4YHZ5  CHEBI:16810    phylo
495067      Z4YHZ5  CHEBI:50342    phylo
495072      Z4YNJ9  CHEBI:57394    phylo
495073      Z4YNJ9       C00154    phylo
495074      Z4YNJ9       C00030    phylo

[369461 rows x 3 columns]

#### (c) Getting an overview of the number of unique enzymes and substrates in the dataset:

In [21]:
df_exp = df_UID_MID.loc[df_UID_MID["evidence"] == "exp"]
df_phylo = df_UID_MID.loc[df_UID_MID["evidence"] == "phylo"]

print("We have %s entries with phylogenetic evidence and %s entries with experimental evidence" % (len(df_phylo), len(df_exp)))

print("\n experimental dataset:")
print("Number of different enzymes: %s, Number of different substrates: %s"
      % (len(set(df_exp["Uniprot ID"])), len(set(df_exp["molecule ID"]))) )

print("\n phylogenetic dataset:")
print("Number of different enzymes: %s, Number of different substrates: %s"
      % (len(set(df_phylo["Uniprot ID"])), len(set(df_phylo["molecule ID"]))) )

We have 346923 entries with phylogenetic evidence and 22538 entries with experimental evidence

 experimental dataset:
Number of different enzymes: 13508, Number of different substrates: 1754

 phylogenetic dataset:
Number of different enzymes: 229254, Number of different substrates: 888

In [22]:
df_UID_MID.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))

## 4. Splitting the dataset in training and testing set:

In [2]:
df_UID_MID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))

To split the dataset in training and test set, we take the enzyme's sequence identity into account. Therefore, we first cluster the enzymes by sequence identity:

### (a) Downloading sequences for all UniProt IDs:

Creating file with all UniProt IDs: We split it into two files, since UniProt only takes files up to 2MB.

In [5]:
Uniprot_IDs = list(set(df_UID_MID["Uniprot ID"]))

Uniprot_IDs_V1 = Uniprot_IDs[:100000]
Uniprot_IDs_V2 = Uniprot_IDs[100000:]

f = open(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "UNIPROT_IDs_V1.txt"),"w")
for ID in list(set(Uniprot_IDs_V1)):
    f.write(str(ID) + "\n")
f.close()

f = open(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "UNIPROT_IDs_V2.txt"),"w")
for ID in list(set(Uniprot_IDs_V2)):
    f.write(str(ID) + "\n")
f.close()

Downloading UniProt IDs via the UniProt mapping service (https://www.uniprot.org/uploadlists/):

In [6]:
from Bio import SeqIO

In [7]:
UNIPROT_df = pd.DataFrame(columns = ["Uniprot ID", "Sequence"])

for version in ["1", "2"]:
    fasta_sequences = SeqIO.parse(open(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                                            "UNIPROT_IDs_V" +version + ".fasta")),'fasta')
    for fasta in fasta_sequences:
        name, sequence = fasta.id, str(fasta.seq)
        UNIPROT_df = UNIPROT_df.append({"Uniprot ID" : name.split("|")[1], "Sequence" : sequence}, ignore_index = True)

KeyboardInterrupt:

In [34]:
UNIPROT_df.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "UNIPROT_df.pkl"))

### (b) Clustering enzymes by sequence identity:

In [3]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "UNIPROT_df.pkl"))

Creating fasta file with all sequences:

In [27]:
ofile = open(join(CURRENT_DIR, ".." ,"data", "enzyme_data", 'clusters', "all_sequences.fasta"), "w")
for ind in UNIPROT_df.index:
    seq = UNIPROT_df["Sequence"][ind]
    if not pd.isnull(seq):
        seq_end = seq.find("#")
        seq = seq[:seq_end]
        ofile.write(">" + str(ind) + "\n" + seq  + "\n")
ofile.close()

#### (b)(i) Clustering:

We first cluster in such a way that two different clusters do not contain two enzymes with a sequence identity higher than 80%:

Getting input for cd-hit algorithm:

In [4]:
# cluster the fasta files
cluster_folder = join(CURRENT_DIR, ".." ,"data", "enzyme_data", 'clusters')
start_folder = cluster_folder
cluster_all_levels(start_folder, 
                   cluster_folder, 
                   filename='all_sequences')

In [5]:
cluster_folder = join(CURRENT_DIR, ".." ,"data", "enzyme_data", 'clusters')
    
# cluster the fasta files
start_folder = cluster_folder
cluster_all_levels_80(start_folder, 
                   cluster_folder, 
                   filename='all_sequences')

# collect cluster members
df_80 = find_cluster_members_80(folder=cluster_folder, 
                          filename='all_sequences')

display(df_80.describe())
display(df_80.head())
display(df_80.tail())

             cluster
count  230802.000000
mean    61688.071425
std     37173.511476
min         0.000000
25%     29925.250000
50%     59270.000000
75%     92366.000000
max    133172.000000

   cluster  member
0        0   59618
1        1   17477
2        2  193350
3        3  202039
4        3   31895

        cluster  member
230797   133168  102904
230798   133169  168585
230799   133170   39204
230800   133171   42158
230801   133172   99620

We cluster in such a way that two different clusters do not contain two enzymes with a sequence identity higher than 60%:

In [6]:
cluster_all_levels_60(start_folder, 
                   cluster_folder, 
                   filename='all_sequences')

# collect cluster members
df_60 = find_cluster_members_60(folder=cluster_folder, 
                       filename='all_sequences')
display(df_60.describe())

             cluster
count  230802.000000
mean    32736.837146
std     21124.000661
min         0.000000
25%     14827.000000
50%     29851.000000
75%     48600.750000
max     79033.000000

We first cluster in such a way that two different clusters do not contain two enzymes with a sequence identity higher than 40%:

In [7]:
# cluster the fasta files
cluster_all_levels(start_folder, 
                   cluster_folder, 
                   filename='all_sequences')

# collect cluster members
df_40 = find_cluster_members(folder=cluster_folder, 
                          filename='all_sequences')

display(df_40.describe())

             cluster
count  230802.000000
mean    13197.257376
std      9271.144542
min         0.000000
25%      5389.000000
50%     11371.000000
75%     19518.750000
max     36601.000000

In [8]:
df2 = pd.DataFrame({"member" : UNIPROT_df.index, "Uniprot ID" : UNIPROT_df["Uniprot ID"]})
df_UID_MID = df_UID_MID.merge(df2, how = "left", on = "Uniprot ID")

df_40["evidence"] = "phylo"
for ind in df_40.index:
    member = int(df_40["member"][ind])
    evidences = list(df_UID_MID["evidence"].loc[df_UID_MID["member"] == member])
    if "exp" in evidences:
        df_40["evidence"][ind] = "exp"
        
        
df_60["evidence"] = "phylo"
for ind in df_60.index:
    member = int(df_60["member"][ind])
    evidences = list(df_UID_MID["evidence"].loc[df_UID_MID["member"] == member])
    if "exp" in evidences:
        df_60["evidence"][ind] = "exp"

#### (a)(ii) Splitting the dataset in train, validation and test set with a sequence identity cutoff of 80%. Later, we divide the test set in three subparts with identity cutoffs of <40%, 40-60% and 60-80%

In [9]:
UNIPROT_df["cluster"] = np.nan
for ind in df_80.index:
    member = int(df_80["member"][ind])
    cluster = df_80["cluster"][ind]
    UNIPROT_df["cluster"][member] = cluster

We only use the additional validation set for the training of the ESM-1b model. It is so big that we can't do a 5-fold CV. Therefore, we use an independent validation set to validate the model instead.

In [10]:
clusters = list(set(UNIPROT_df["cluster"]))
random.seed(1)
random.shuffle(clusters)
print(len(clusters))

n = int(len(clusters)*0.8)
train_clusters = clusters[:n]
test_clusters = clusters[n:]

training_UIDs = UNIPROT_df["Uniprot ID"].loc[UNIPROT_df["cluster"].isin(train_clusters)]
test_UIDs = UNIPROT_df["Uniprot ID"].loc[UNIPROT_df["cluster"].isin(test_clusters)]

df_80["split"] = np.nan
df_80["split"].loc[df_80["cluster"].isin(train_clusters)] = "train"
df_80["split"].loc[df_80["cluster"].isin(test_clusters)] = "test"

train_members = list(df_80["member"].loc[df_80["split"] == "train"])
test_members = list(df_80["member"].loc[df_80["split"] == "test"])

df_60["split"] = np.nan
df_40["split"] = np.nan
df_60["split"].loc[df_60["member"].isin(train_members)] = "train"
df_60["split"].loc[df_60["member"].isin(test_members)] = "test"
df_40["split"].loc[df_40["member"].isin(train_members)] = "train"
df_40["split"].loc[df_40["member"].isin(test_members)] = "test"

len(training_UIDs), len(test_UIDs)

133185

(185312, 45514)

In [11]:
df_UID_MID_train = df_UID_MID.loc[df_UID_MID["Uniprot ID"].isin(training_UIDs)]
df_UID_MID_test = df_UID_MID.loc[df_UID_MID["Uniprot ID"].isin(test_UIDs)]
len(df_UID_MID_test), len(df_UID_MID_train)

(71791, 290206)

Calculating for every sequence in the validation and test set the maximum accuracy compared to sequences in the training set:

In [12]:
df_80["identity"] = np.nan
df_80["identity"].loc[df_80["split"].isin(["test"])] =  "60-80%"

test_indices = list(df_80.loc[~pd.isnull(df_80["identity"])].index)


for ind in test_indices:

    member = df_80["member"][ind]
    cluster = list(df_40["cluster"].loc[df_40["member"] == member])[0]
    cluster_splits = list(df_40["split"].loc[df_40["cluster"] == cluster].loc[df_40["evidence"] == "exp"])
    if not "train" in cluster_splits:
        df_80["identity"][ind] = "<40%"
    else:
        cluster = list(df_60["cluster"].loc[df_60["member"] == member])[0]
        cluster_splits = list(df_60["split"].loc[df_60["cluster"] == cluster].loc[df_60["evidence"] == "exp"])
        if not "train" in cluster_splits:
            df_80["identity"][ind] = "40-60%"
            
    if ind % 1000 == 0:
        print(ind)

2000
4000
5000
8000
14000
17000
18000
23000
24000
26000
27000
33000
37000
41000
45000
51000
54000
59000
67000
68000
70000
87000
90000
97000
115000
123000
129000
132000
149000
153000
158000
159000
167000
168000
177000
178000
192000
198000
202000
209000
216000
217000
218000
219000
220000
223000
224000
229000

In [13]:
df_80.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                          "df_80.pkl"))

In [14]:
df_80

        cluster  member  split identity
0             0   59618  train      NaN
1             1   17477  train      NaN
2             2  193350  train      NaN
3             3  202039  train      NaN
4             3   31895  train      NaN
...         ...     ...    ...      ...
230797   133168  102904  train      NaN
230798   133169  168585  train      NaN
230799   133170   39204   test     <40%
230800   133171   42158  train      NaN
230801   133172   99620  train      NaN

[230802 rows x 4 columns]

In [16]:
df2 = pd.DataFrame({"member": df_80["member"], "identity": df_80["identity"]})
UNIPROT_df["member"] = [str(ind) for ind in UNIPROT_df.index]

,Uniprot ID,Sequence,cluster,member,identity
0,G3QP07,MAAGAGTAGLASGPGVVRDPAASQPRKRPGREGGEGARRSDTMAGG...,43869.0,0,NaN
1,Q9KNU3,MRNTMFTSKEGQTIPQVTFPTRQGDAWVNVTSDELFKGKTVIVFSL...,109863.0,1,NaN
2,H3HBD2,MYPSVALLLWLWGAGVALQVIGLLGCLVEQNDTSDCASTARDRRTS...,17764.0,2,NaN
3,A0A3B6C0N2,MEYHRVVSLVAVVVVLLRRWPALSSAQAPVSRTITVDSHGGGDFSS...,88170.0,3,<40%
4,A0A1Z5RRB7,MDMPSHTHSQLCESKALVASYTQEARKRNQQHNMASKPGPLSRWPW...,28018.0,4,NaN
...,...,...,...,...,...
230809,A0A072VJI1,MELSAVTLGGKGSSLSSSAVYATAIGKSQIKIDSSALDRLTSPPSS...,15606.0,230809,NaN
230810,D7SVZ9,MFIESFKVESPNVKYTENEIHSVYDYETTELVHENRNGTYQWVVKP...,34817.0,230810,NaN
230811,A0A2C9WL07,MAPISILLFSSILLFSASSTGRALSFNYYEKTCPDVELIVTNAVKN...,93693.0,230811,NaN
230812,F4ICB6,MGCVNSKQTVSVTPAIDHSGVFRDNVCSGSGRIVVEDLPPVTETKL...,22447.0,230812,NaN
230813,B5LAU7,MAAAATCAFFPTGNPPSDSGAKSSGNLGGGSVPGSIDARGLNNVKK...,66315.0,230813,60-80%

In [21]:
UNIPROT_df = UNIPROT_df.merge(df2, on = "member", how = "left")
        
UNIPROT_df.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                          "Uniprot_df_with_seq_identities.pkl"))

In [22]:
len(UNIPROT_df.loc[UNIPROT_df["identity"] == "60-80%"]), len(UNIPROT_df.loc[UNIPROT_df["identity"] == "40-60%"]), len(UNIPROT_df.loc[UNIPROT_df["identity"] == "<40%"])

(8406, 12498, 24598)

#### (a)(iii) For every enzyme in the test set with a sequence-identity of 60-80% we want to find out: How many enzymes with a sequence identity over 40% exist in the training set?

In [22]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                          "Uniprot_df_with_seq_identities.pkl"))
df_UID_MID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))
df_UID_MID_train = df_UID_MID.loc[df_UID_MID["Uniprot ID"].isin(training_UIDs)]
df_UID_MID_test = df_UID_MID.loc[df_UID_MID["Uniprot ID"].isin(test_UIDs)]
df_UID_MID_train_exp = df_UID_MID_train.loc[df_UID_MID_train["evidence"] == "exp"]
exp_UIDs = list(set(df_UID_MID["Uniprot ID"].loc[df_UID_MID["evidence"] == "exp"]))

1294

In [54]:
UNIPROT_df["n_similiar_train_enz"] = np.nan
UIDs_indices = list(UNIPROT_df["Uniprot ID"].loc[UNIPROT_df["identity"] == "60-80%"].index)

for ind in UIDs_indices:
    UID = UNIPROT_df["Uniprot ID"][ind]
    if UID in exp_UIDs:
        cluster = list(df_40["cluster"].loc[df_40["member"] == str(ind)])[0]
        cluster_members = list(df_40["member"].loc[df_40["cluster"] == cluster])
        cluster_UIDs = [UNIPROT_df["Uniprot ID"][int(member)] for member in cluster_members]
        UNIPROT_df["n_similiar_train_enz"][ind] = len(df_UID_MID_train_exp.loc[df_UID_MID_train_exp["Uniprot ID"].isin(cluster_UIDs)])
        
UNIPROT_df.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                          "Uniprot_df_with_seq_identities_V2.pkl"))

## 5. Calculating enzyme and substrate representations

In [3]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "Uniprot_df_with_seq_identities.pkl"))
df_UID_MID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))

### (a) Calculate extended-connectivity fingerprints (ECFPs) for substrates:

In [4]:
mol_folder = "C:\\Users\\alexk\\mol-files\\"
mol_IDs = list(set(df_UID_MID["molecule ID"]))

df_ecfps = pd.DataFrame(data = {"substrate ID" : mol_IDs})
df_ecfps["ECFP"] = ""
df_ecfps

     substrate ID ECFP
0     CHEBI:18378
1     CHEBI:58282
2     CHEBI:17071
3     CHEBI:57955
4          C21650
...           ...  ...
1757  CHEBI:58628
1758  CHEBI:16737
1759  CHEBI:30909
1760  CHEBI:61519
1761  CHEBI:58189

[1762 rows x 2 columns]

Creating txt file with all ChEBI IDs:

In [5]:
ChEBI_IDs = list(set(df_UID_MID["molecule ID"]))
f = open(join(CURRENT_DIR, ".." ,"data", "substrate_data", "ChEBI_IDs.txt"),"w")
for ID in list(set(ChEBI_IDs)):
    if ID[:2] == "CH":
        f.write(str(ID.replace("CHEBI", "ChEBI")) + "\n")
f.close()

First we map ChEBI IDs to InChI strings using https://metacyc.org/metabolite-translation-service.shtml:

In [6]:
df_chebi_to_inchi = pd.read_csv(join(CURRENT_DIR, ".." ,"data", "substrate_data", "chebiID_to_inchi.tsv"), sep = "\t")
df_chebi_to_inchi.head()

,Input,Result,BioCyc Common-Name,BioCyc,Kegg,ChEBI,PubChem,HMDB,ChemSpider,MetaboLights,MetaNetX,BiGG,Seed,Inchi
0,ChEBI:132511,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ChEBI:11805,success,3-hydroxy-isobutanoate,3-HYDROXY-ISOBUTYRATE,C01188,11805.0,11966314,HMDB62640,,,MNXM396,,cpd00876,"InChI=1S/C4H8O3/c1-3(2-5)4(6)7/h3,5H,2H2,1H3,(..."
2,ChEBI:17568,success,uracil,URACIL,C00106,17568.0,1174,HMDB00300,1141,MTBLC17568,MNXM158,ura,cpd00092,"InChI=1S/C4H4N2O2/c7-3-1-2-5-4(8)6-3/h1-2H,(H2..."
3,ChEBI:17237,success,crotono-betaine,CROTONO-BETAINE,C04114,17237.0,5462194,,4575319,,MNXM1607,ctbt,cpd02543,"InChI=1S/C7H13NO2/c1-8(2,3)6-4-5-7(9)10/h4-5H,..."
4,ChEBI:35121,success,"(2R,3S)-3-isopropylmalate",2-D-THREO-HYDROXY-3-CARBOXY-ISOCAPROATE,C04411,35121.0,6857402,HMDB12156,5256741,,MNXM891,3c2hmp,cpd02693,InChI=1S/C7H12O5/c1-3(2)4(6(9)10)5(8)7(11)12/h...

Mapping InChI string to DataFrame:

In [7]:
for ind in df_ecfps.index:
    met_ID = df_ecfps["substrate ID"][ind]
    is_CHEBI_ID = (met_ID[0:5] == "CHEBI")
    
    
    if is_CHEBI_ID:
        try:
            ID = int(met_ID.split(" ")[0].split(":")[-1])
            Inchi = list(df_chebi_to_inchi["Inchi"].loc[df_chebi_to_inchi["ChEBI"] == float(ID)])[0]
            if not pd.isnull(Inchi):
                mol = Chem.inchi.MolFromInchi(Inchi)
        except IndexError:
            mol = None
        
    else:
        try:
            mol = Chem.MolFromMolFile(mol_folder +  "/mol-files/" + met_ID + '.mol')
        except OSError:
            None
            
    if mol is not None:
        ecfp = AllChem.GetMorganFingerprintAsBitVect(mol, 3, nBits=1024).ToBitString()
        df_ecfps["ECFP"][ind] = ecfp

In [8]:
df_ecfps = df_ecfps.loc[df_ecfps["ECFP"] !=""]

In [10]:
df_ecfps.to_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "df_ecfps.pkl"))

### (b) Calculating enzyme representations with the ESM-1b model:

The ESM-1b model takes a FASTA file with the enzymes' amino acid sequences as its input. Creating a FASTA file with enzyme sequences:

In [30]:
ofile = open(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "all_sequences.fasta"), "w")
for ind in UNIPROT_df.index:
    seq = UNIPROT_df["Sequence"][ind]
    if not pd.isnull(seq):
        seq_end = seq.find("#")
        seq = seq[:seq_end]
        ofile.write(">" + str(ind) + "\n" + seq[:1018]  + "\n")
ofile.close()

To calculate the ESM-1b vectors, we used the model and code provided by the Facebook Research team: https://github.com/facebookresearch/esm. The following command line was used to calculate the representations:

<span style="color:red"> 
python extract.py esm1b_t33_650M_UR50S \path_to_fasta_file\all_sequences.fasta \path_to_store_representations\all_sequences_esm1b_reps--repr_layers 33 --include mean </span>

Loading ESM-1b-vectors and storing them in the UniProt DataFrame. All representations were merged into one dictionary:

In [23]:
UNIPROT_df["ESM1b"] = ""

rep_dict = torch.load(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "all_sequences_enz_sub.pt"))

for ind in UNIPROT_df.index:
    try:
        UNIPROT_df["ESM1b"][ind] = rep_dict[str(ind) +".pt"]
    except:
        print(ind)
UNIPROT_df

,Uniprot ID,Sequence,cluster,identity,ESM1b
0,G3QP07,MAAGAGTAGLASGPGVVRDPAASQPRKRPGREGGEGARRSDTMAGG...,43869.0,NaN,"[-0.024416907, 0.18361057, 0.05229881, 0.04472..."
1,Q9KNU3,MRNTMFTSKEGQTIPQVTFPTRQGDAWVNVTSDELFKGKTVIVFSL...,109863.0,NaN,"[-0.10067828, 0.1986571, -0.21036363, 0.013421..."
2,H3HBD2,MYPSVALLLWLWGAGVALQVIGLLGCLVEQNDTSDCASTARDRRTS...,17764.0,NaN,"[0.040806588, 0.1870469, 0.11258543, 0.0708398..."
3,A0A3B6C0N2,MEYHRVVSLVAVVVVLLRRWPALSSAQAPVSRTITVDSHGGGDFSS...,88170.0,60-80%,"[0.07788918, 0.11309477, 0.021622797, 0.094022..."
4,A0A1Z5RRB7,MDMPSHTHSQLCESKALVASYTQEARKRNQQHNMASKPGPLSRWPW...,28018.0,NaN,"[0.04624611, 0.27114883, 0.20789135, -0.034673..."
...,...,...,...,...,...
230809,A0A072VJI1,MELSAVTLGGKGSSLSSSAVYATAIGKSQIKIDSSALDRLTSPPSS...,15606.0,NaN,"[-0.04588662, 0.27346706, 0.12282053, 0.027531..."
230810,D7SVZ9,MFIESFKVESPNVKYTENEIHSVYDYETTELVHENRNGTYQWVVKP...,34817.0,NaN,"[0.0014713518, 0.20142357, 0.077046216, -0.077..."
230811,A0A2C9WL07,MAPISILLFSSILLFSASSTGRALSFNYYEKTCPDVELIVTNAVKN...,93693.0,NaN,"[-0.041781973, 0.19652756, 0.077766806, 0.1401..."
230812,F4ICB6,MGCVNSKQTVSVTPAIDHSGVFRDNVCSGSGRIVVEDLPPVTETKL...,22447.0,NaN,"[0.052631423, 0.29968897, -0.037843555, -0.007..."
230813,B5LAU7,MAAAATCAFFPTGNPPSDSGAKSSGNLGGGSVPGSIDARGLNNVKK...,66315.0,60-80%,"[-0.037645016, 0.23983482, -0.044912808, 0.028..."

In [24]:
UNIPROT_df.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "Uniprot_df_with_ESM1b.pkl"))

## 6. Adding negative data points

In [2]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "Uniprot_df_with_ESM1b.pkl"))

Only using UniProt IDs with ESM1b vectors:

In [39]:
UIDs_with_rep = list(set(UNIPROT_df["Uniprot ID"].loc[UNIPROT_df["ESM1b"] != ""]))

df_UID_MID_train = df_UID_MID_train.loc[df_UID_MID_train["Uniprot ID"].isin(UIDs_with_rep)]
df_UID_MID_test = df_UID_MID_test.loc[df_UID_MID_test["Uniprot ID"].isin(UIDs_with_rep)]

df_UID_MID_train = df_UID_MID_train.sample(frac = 1, random_state = 1).reset_index(drop = True)
df_UID_MID_test = df_UID_MID_test.sample(frac = 1, random_state = 1).reset_index(drop = True)

Mapping ECFPs to DataFrames:

In [71]:
df_ecfps = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "df_ecfps.pkl"))

df_UID_MID_train["ECFP"] = ""
df_UID_MID_test["ECFP"] = ""
for ind in df_ecfps.index:
    sub_ID, ecfp = df_ecfps["substrate ID"][ind], df_ecfps["ECFP"][ind]
    df_UID_MID_train["ECFP"].loc[df_UID_MID_train["molecule ID"] == sub_ID] = ecfp
    df_UID_MID_test["ECFP"].loc[df_UID_MID_test["molecule ID"] == sub_ID] = ecfp
    
df_UID_MID_test = df_UID_MID_test.loc[df_UID_MID_test["ECFP"] != ""]
df_UID_MID_train = df_UID_MID_train.loc[df_UID_MID_train["ECFP"] != ""]

df_UID_MID_train.to_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data", "df_UID_MID_train.pkl"))
df_UID_MID_test.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID_test.pkl"))

### Only using enzymes with more than two substrate:

In [3]:
df_UID_MID_train = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data", "df_UID_MID_train.pkl"))
df_UID_MID_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID_test.pkl"))

In [ ]:
all_UIDs = list(df_UID_MID_train["Uniprot ID"])
UIDs = list(set(all_UIDs)) 
n_pos = [UIDs.count(UID) for UID in UIDs]

In [ ]:
promiscous_enzymes = np.array(UIDs)[list(np.array(n_pos) >= 3)]
df_UID_MID_train = df_UID_MID_train.loc[df_UID_MID_train["Uniprot ID"].isin(promiscous_enzymes)]

In [ ]:
all_UIDs = list(df_UID_MID_test["Uniprot ID"])
UIDs = list(set(all_UIDs)) 
n_pos = [UIDs.count(UID) for UID in UIDs]
promiscous_enzymes = np.array(UIDs)[list(np.array(n_pos) >= 3)]
df_UID_MID_test = df_UID_MID_test.loc[df_UID_MID_test["Uniprot ID"].isin(promiscous_enzymes)]

In [ ]:
df_all = pd.concat([df_UID_MID_train, df_UID_MID_test], ignore_index = True)

df_exp = df_all.loc[df_all["evidence"] == "exp"]
df_phylo = df_all.loc[df_all["evidence"] == "phylo"]

print("We have %s entries with phylogenetic evidence and %s entries with experimental evidence" % (len(df_phylo), len(df_exp)))

print("\n experimental dataset:")
print("Number of different enzymes: %s, Number of different substrates: %s"
      % (len(set(df_exp["Uniprot ID"])), len(set(df_exp["molecule ID"]))) )

print("\n phylogenetic dataset:")
print("Number of different enzymes: %s, Number of different substrates: %s"
      % (len(set(df_phylo["Uniprot ID"])), len(set(df_phylo["molecule ID"]))))

### (a) Creating negative data points for the training and test set:
To assign the negative data points, we will choose similar metabolites compared to the substrate of the psoitive datapoints. Therefore, we are first creating a similarity matrix for all metabolites in the dataset.

In [ ]:
df_chebi_to_inchi = pd.read_csv(join(CURRENT_DIR, ".." ,"data", "substrate_data", "chebiID_to_inchi.tsv"), sep = "\t")
mol_folder = "C:\\Users\\alexk\\mol-files\\"

def get_mol(met_ID):
    is_CHEBI_ID = (met_ID[0:5] == "CHEBI")
    is_InChI = (met_ID[0:5] == "InChI")
    if is_CHEBI_ID:
        try:
            ID = int(met_ID.split(" ")[0].split(":")[-1])
            Inchi = list(df_chebi_to_inchi["Inchi"].loc[df_chebi_to_inchi["ChEBI"] == float(ID)])[0]
            mol = Chem.inchi.MolFromInchi(Inchi)
        except:
            mol = None     
    elif is_InChI:
        try:
            mol = Chem.inchi.MolFromInchi(met_ID)
        except:
            mol = None
        
    else:
        try:
            mol = Chem.MolFromMolFile(mol_folder +  "mol-files\\" + met_ID + '.mol')
        except OSError:
            mol = None
            
    return(mol)

def drop_samples_without_mol_file(df):
    droplist = []
    for ind in df.index:
        if get_mol(met_ID = df["molecule ID"][ind]) is None:
            droplist.append(ind)

    df.drop(droplist, inplace = True)
    return(df)

def get_metabolites_and_similarities(df):
    df_metabolites = pd.DataFrame(data = {"ECFP": df["ECFP"], "ID": df["molecule ID"]})
    df_metabolites = df_metabolites.drop_duplicates()
    df_metabolites.reset_index(inplace = True, drop = True)


    ms = [get_mol(met_ID = df_metabolites["ID"][ind]) for ind in df_metabolites.index]
    fps = [Chem.RDKFingerprint(x) for x in ms]

    similarity_matrix = np.zeros((len(ms), len(ms)))
    for i in range(len(ms)):
        for j in range(len(ms)):
            similarity_matrix[i,j] = DataStructs.FingerprintSimilarity(fps[i],fps[j])
            
    return(df_metabolites, similarity_matrix)



def get_valid_list(met_ID, UID, forbidden_metabolites, df_metabolites, similarity_matrix, lower_bound =0.7, upper_bound =0.9):
    binding_met_IDs = list(df_UID_MID["molecule ID"].loc[df_UID_MID["Uniprot ID"] == UID])
    k = df_metabolites.loc[df_metabolites["ID"] == met_ID].index[0]

    similarities = similarity_matrix[k,:]
    selection = (similarities< upper_bound) * (similarities >lower_bound) 
    metabolites = list(df_metabolites["ID"].loc[selection])
    
    no_mets = list(set(binding_met_IDs + forbidden_metabolites))
    
    metabolites = [met for met in metabolites if (met not in no_mets)]
    return(metabolites)


def create_negative_samples(df, df_metabolites, similarity_matrix):
    start = time.time()
    UID_list = []
    MID_list = []
    Type_list = []
    forbidden_mets = []

    for ind in df.index:
        if ind % 100 ==0:
            print(ind)
            print("Time: %s [min]" % np.round(float((time.time()-start)/60),2))

            df2 = pd.DataFrame(data = {"Uniprot ID": UID_list, "molecule ID" : MID_list, "type" : Type_list})
            df2["Binding"] = 0
            df = pd.concat([df, df2], ignore_index=True)

            UID_list, MID_list, Type_list = [], [], []

            forbidden_mets_old = forbidden_mets.copy()
            all_mets = list(set(df["molecule ID"]))
            all_mets = [met for met in all_mets if not met in forbidden_mets_old]
            forbidden_mets = list(set([met for met in all_mets if 
                                       (np.mean(df["Binding"].loc[df["molecule ID"] == met]) < 1/4)]))
            forbidden_mets = forbidden_mets + forbidden_mets_old
            print(len(forbidden_mets))

        UID = df["Uniprot ID"][ind]
        Type = df["type"][ind]
        met_ID = df["molecule ID"][ind]

        metabolites = get_valid_list(met_ID = met_ID, UID = UID, forbidden_metabolites= forbidden_mets,
                                     df_metabolites = df_metabolites, similarity_matrix = similarity_matrix,
                                     lower_bound =0.7, upper_bound =0.95)
        lower_bound = 0.7
        while len(metabolites) < 2:
            lower_bound = lower_bound - 0.2
            metabolites = get_valid_list(met_ID = met_ID, UID = UID, forbidden_metabolites= forbidden_mets,
                                     df_metabolites = df_metabolites, similarity_matrix = similarity_matrix,
                                     lower_bound =lower_bound, upper_bound =0.95)
            if lower_bound <0:
                break
        
        new_metabolites =  random.sample(metabolites, min(3,len(metabolites)))

        for met in new_metabolites:
            UID_list.append(UID), MID_list.append(met), Type_list.append(Type)

    df2 = pd.DataFrame(data = {"Uniprot ID": UID_list, "molecule ID" : MID_list, "type" : Type_list})
    df2["Binding"] = 0

    df = pd.concat([df, df2], ignore_index = True)
    return(df)

#### (a)(i) Creating negative data points for the training set (experimental evidence):

In [ ]:
df_UID_MID_train_exp = df_UID_MID_train.loc[df_UID_MID_train["evidence"] == "exp"]

df_UID_MID_train_exp = drop_samples_without_mol_file(df = df_UID_MID_train_exp)
#calculating similarity matrix for all metabolites in the set:
df_metabolites_train, similarity_matrix_train = get_metabolites_and_similarities(df = df_UID_MID_train_exp)
print(len(df_metabolites_train))

df_UID_MID_train_exp["Binding"] = 1
df_UID_MID_train_exp.reset_index(inplace = True, drop = True)

df_UID_MID_train_exp = create_negative_samples(df = df_UID_MID_train_exp, df_metabolites = df_metabolites_train,
                                          similarity_matrix = similarity_matrix_train)
df_UID_MID_train_exp

#### (a)(ii) Creating negative data points for the training set (phylogentical evidence):

In [ ]:
df_UID_MID_train_phylo = df_UID_MID_train.loc[df_UID_MID_train["evidence"] == "phylo"]

In [ ]:
df_UID_MID_train_phylo = drop_samples_without_mol_file(df = df_UID_MID_train_phylo)
#calculating similarity matrix for all metabolites in the set:
df_metabolites_train, similarity_matrix_train = get_metabolites_and_similarities(df = df_UID_MID_train_phylo)
print(len(df_metabolites_train))

df_UID_MID_train_phylo["Binding"] = 1
df_UID_MID_train_phylo.reset_index(inplace = True, drop = True)

df_UID_MID_train_phylo = create_negative_samples(df = df_UID_MID_train_phylo, df_metabolites = df_metabolites_train,
                                          similarity_matrix = similarity_matrix_train)
df_UID_MID_train_phylo

#### (a)(iii) Creating negative data points for the test set:

In [ ]:
df_UID_MID_test = df_UID_MID_test.loc[df_UID_MID_test["evidence"] == "exp"]

In [ ]:
df_UID_MID_test = drop_samples_without_mol_file(df = df_UID_MID_test)
#calculating similarity matrix for all metabolites in the set:
df_metabolites_test, similarity_matrix_test = get_metabolites_and_similarities(df = df_UID_MID_test)
print(len(df_metabolites_test))

df_UID_MID_test["Binding"] = 1
df_UID_MID_test.reset_index(inplace = True, drop = True)

df_UID_MID_test = create_negative_samples(df = df_UID_MID_test, df_metabolites = df_metabolites_test,
                                          similarity_matrix = similarity_matrix_test)
df_UID_MID_test

In [ ]:
df_UID_MID_train_phylo.to_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_train_phylo_promiscous.pkl"))
df_UID_MID_train_exp.to_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_train_exp_promiscous.pkl"))
df_UID_MID_test.to_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_test_exp_phylo_promiscous.pkl"))

### (b) Mapping ECFPs and ESM-1b-vectors to different splits:

In [ ]:
df_UID_MID_train_phylo = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_train_phylo_promiscous.pkl"))
df_UID_MID_train_exp = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_train_exp_promiscous.pkl"))
df_UID_MID_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_test_exp_phylo_promiscous.pkl"))

In [ ]:
df_UID_MID_train_exp["evidence"] = "exp"
df_UID_MID_train_phylo["evidence"] = "phylo"
df_UID_MID_train = pd.concat([df_UID_MID_train_exp, df_UID_MID_train_phylo], ignore_index = True)

df_UID_MID_test["evidence"] = "exp"

#### (b)(i) Mappings ECFPs:

In [ ]:
df_UID_MID_train.drop(columns = ["ECFP"], inplace = True)
df_UID_MID_train = df_UID_MID_train.merge(df_ecfps, right_on = "substrate ID", left_on = "molecule ID", how = "left")

df_UID_MID_test.drop(columns = ["ECFP"], inplace = True)
df_UID_MID_test = df_UID_MID_test.merge(df_ecfps, right_on = "substrate ID", left_on = "molecule ID", how = "left")

#### (b)(ii) Mappings ESM1b-vectors:

In [ ]:
df_train = df_UID_MID_train
df_test = df_UID_MID_test

Uniprot_df = pd.DataFrame(data = {"Uniprot ID" : UNIPROT_df["Uniprot ID"],
                                 "ESM1b" : UNIPROT_df["ESM1b"]})

df_train = df_train.merge(Uniprot_df, on = "Uniprot ID", how = "left")
df_test = df_test.merge(Uniprot_df, on = "Uniprot ID", how = "left")

df_train.to_pickle(join(CURRENT_DIR, ".." ,"data","splits", "df_train_promiscous.pkl"))
df_test.to_pickle(join(CURRENT_DIR, ".." ,"data", "splits", "df_test_promiscous.pkl"))

## 7. Adding task-specific enzyme representations

### (a) Creating input data for training the task-specific ESM1b vectors:

In [ ]:
df_UID_MID_train = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data", "df_UID_MID_train_promiscous.pkl" ))
df_UID_MID_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID_test_promiscous.pkl"))

### (b) Training the ESM1b model:
Training is executed via terminal with the following command:

### (c) Creating and mapping task-specific ESM1b vectors:

The following command line was used to calculate the representations:

<span style="color:red"> 
python extract_ts.py esm1b_t33_650M_UR50S \path_to_fasta_file\all_sequences.fasta \path_to_store_representations\all_sequences_enz_sub_ts --repr_layers 33 --include mean </span>

Loading ESM-1b-vectors and storing them in the UniProt DataFrame. All representations were merged into one dictionary:

In [10]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "Uniprot_df_with_ESM1b.pkl"))
UNIPROT_df.drop(columns = "ESM1b", inplace = True)

In [ ]:
rep_dict = torch.load(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "all_sequences_enz_sub_ts.pt"))

UNIPROT_df["ESM1b_ts"] = ""

for ind in UNIPROT_df.index:
    try:
        UNIPROT_df["ESM1b_ts"][ind] = rep_dict[str(ind) +".pt"]
    except:
        print(ind)
UNIPROT_df

Mapping:

In [ ]:
df_train = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","splits", "df_train_promiscous.pkl"))
df_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "splits", "df_test_promiscous.pkl"))

Uniprot_df = pd.DataFrame(data = {"Uniprot ID" : UNIPROT_df["Uniprot ID"],
                                 "ESM1b_ts" : UNIPROT_df["ESM1b_ts"]})

df_train = df_train.merge(Uniprot_df, on = "Uniprot ID", how = "left")
df_test = df_test.merge(Uniprot_df, on = "Uniprot ID", how = "left")

df_train.to_pickle(join(CURRENT_DIR, ".." ,"data","splits", "df_train_with_ESM1b_ts_promiscous.pkl"))
df_test.to_pickle(join(CURRENT_DIR, ".." ,"data", "splits", "df_test_with_ESM1b_ts_promiscous.pkl"))

## 8. Adding task-specific metabolite representations

Task-specific metabolite representations are created with the jupyter notebook "Training Graph Neural Network":

In [ ]:
df_train = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","splits", "df_train_with_ESM1b_ts_GNN.pkl"))
df_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "splits", "df_test_with_ESM1b_ts_GNN.pkl"))