#  Creating enzyme-substrate database from GO Annotation database for Uniprot IDs

### 1. Extracting all GO Terms with information about chemical reactions
### 2. Getting IDs for the substrates
### 3. Searching the GO Annotations database for UniProt IDs for entries with GO Terms stating the catalyitic activity of an enzyme
### 4. Splitting the dataset in training and testing set
### 5. Calculating enzyme and substrate representations
### 6. Adding negative data points
### 7. Adding task-specific enzyme representations

In [1]:
import pandas as pd
import numpy as np
import random
from os.path import join
import os
import re
import sys
import time
from rdkit import Chem
from rdkit import DataStructs
from rdkit.Chem import AllChem
from Bio import SeqIO
import warnings
import torch
warnings.filterwarnings("ignore")

sys.path.append('.\\additional_code')
from data_preprocessing import *

CURRENT_DIR = os.getcwd()
print(CURRENT_DIR)

C:\Users\alexk\projects\SubFinder\notebooks_and_code

## 1. Extract all GO Terms with information about chemical reactions

### (a) Create pandas DataFrame with alle GO Terms (with infomration about the catalytic activity of enzymes) including its names, definitions, and reaction IDs:
go.obo file with information about GO Terms was downloaded from http://geneontology.org/docs/download-ontology/

In [5]:
df = pd.DataFrame(columns = ["GO ID", "Definition", "Name", "RHEA ID"])

#read go obo file
path_go_obo = join(CURRENT_DIR, ".." ,"data", "GOA_data", 'go.obo')
file = open(path_go_obo, 'r')
Lines = file.read()

#process data from go.obo-file and save it in a pandas DataFrame:
start = Lines.index('[Term]\n')
while start != -1:
    start = Lines.index('[Term]\n')
    Lines = Lines[start+1:]
    try:
        GO_Term = Lines[: Lines.index('[Term]\n')]
    except ValueError:
        start = -1
    definition, name, ID = get_info_from_GO_Term(GO_Term = GO_Term)
    if "Catalysis of the reaction" in definition:
        RHEA_ID= get_RHEA_reaction_IDs(GO_ID = ID, GO_Term = GO_Term)
        df = df.append({"GO ID" : ID , "Definition" : definition, "Name" : name,
                        "RHEA ID" : RHEA_ID}, ignore_index = True)
df.head()

,GO ID,Definition,Name,RHEA ID,KEGG ID
0,GO:0000010,"""Catalysis of the reaction: all-trans-hexapren...",trans-hexaprenyltranstransferase activity,20836,NaN
1,GO:0000016,"""Catalysis of the reaction: lactose + H2O = D-...",lactase activity,10076,NaN
2,GO:0000034,"""Catalysis of the reaction: adenine + H2O = hy...",adenine deaminase activity,23688,NaN
3,GO:0000048,"""Catalysis of the reaction: peptidyl-tRNA(1) +...",peptidyltransferase activity,NaN,NaN
4,GO:0000104,"""Catalysis of the reaction: succinate + accept...",succinate dehydrogenase activity,16357,NaN

In [6]:
df.to_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))

In [2]:
df_catalytic = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))
df_catalytic

,GO ID,Definition,Name,RHEA ID,KEGG ID
0,GO:0000010,"""Catalysis of the reaction: all-trans-hexapren...",trans-hexaprenyltranstransferase activity,20836,NaN
1,GO:0000016,"""Catalysis of the reaction: lactose + H2O = D-...",lactase activity,10076,NaN
2,GO:0000034,"""Catalysis of the reaction: adenine + H2O = hy...",adenine deaminase activity,23688,NaN
3,GO:0000048,"""Catalysis of the reaction: peptidyl-tRNA(1) +...",peptidyltransferase activity,NaN,NaN
4,GO:0000104,"""Catalysis of the reaction: succinate + accept...",succinate dehydrogenase activity,16357,NaN
...,...,...,...,...,...
6582,GO:1990833,"""Catalysis of the reaction: ATP + H2O = ADP + ...",clathrin-uncoating ATPase activity,NaN,NaN
6583,GO:1990883,"""Catalysis of the reaction: acetyl-CoA + cytid...",rRNA cytidine N-acetyltransferase activity,NaN,NaN
6584,GO:1990887,"""Catalysis of the reaction: 2-polyprenyl-3-met...","2-polyprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-...",NaN,NaN
6585,GO:1990888,"""Catalysis of the reaction: 2-polyprenyl-6-hyd...",2-polyprenyl-6-hydroxyphenol O-methyltransfera...,NaN,NaN
6586,GO:1990965,"""Catalysis of the reaction: cytosylglucuronic ...",cytosylglucuronate decarboxylase activity,NaN,NaN

## 2. Getting IDs for the substrates

### (a) Trying to get substrate name via text mining of the GO Term definitions:

In [3]:
df_catalytic["substrates"] = ""

for ind in df_catalytic.index:
    df_catalytic["substrates"][ind] = find_substrates(definition = df_catalytic["Definition"][ind])
    
df_catalytic

Could not find substrate in the following definition: which results in unsaturation at C-7 in the B ring of sterols
Could not find substrate in the following definition: GlcNAc-1,6-anhMurNAc-L-Ala-gamma-D-Glu-DAP-D-Ala + H2O glcNAc-1,6-anhMurNAc + L-Ala-gamma-D-Glu-DAP-D-Ala
Could not find substrate in the following definition: involving the transfer of a phosphatidate (otherwise known as diacylglycerol 3-phosphosphate) group
Could not find substrate in the following definition: ATP + undecaprenol + all-trans-undecaprenyl phosphate + ADP + H+
Could not find substrate in the following definition: 7-hydroxymethyl chlorophyll a + 2 reduced ferredoxin + 2 H+ chlorophyll a + 2 oxidized ferredoxin + H2O

,GO ID,Definition,Name,RHEA ID,KEGG ID,substrates
0,GO:0000010,"""Catalysis of the reaction: all-trans-hexapren...",trans-hexaprenyltranstransferase activity,20836,NaN,"[all-trans-hexaprenyl diphosphate, isopentenyl..."
1,GO:0000016,"""Catalysis of the reaction: lactose + H2O = D-...",lactase activity,10076,NaN,"[lactose, H2O ]"
2,GO:0000034,"""Catalysis of the reaction: adenine + H2O = hy...",adenine deaminase activity,23688,NaN,"[adenine, H2O ]"
3,GO:0000048,"""Catalysis of the reaction: peptidyl-tRNA(1) +...",peptidyltransferase activity,NaN,NaN,"[peptidyl-tRNA(1), aminoacyl-tRNA(2) ]"
4,GO:0000104,"""Catalysis of the reaction: succinate + accept...",succinate dehydrogenase activity,16357,NaN,"[succinate, acceptor ]"
...,...,...,...,...,...,...
6582,GO:1990833,"""Catalysis of the reaction: ATP + H2O = ADP + ...",clathrin-uncoating ATPase activity,NaN,NaN,"[ATP, H2O ]"
6583,GO:1990883,"""Catalysis of the reaction: acetyl-CoA + cytid...",rRNA cytidine N-acetyltransferase activity,NaN,NaN,"[acetyl-CoA, cytidine ]"
6584,GO:1990887,"""Catalysis of the reaction: 2-polyprenyl-3-met...","2-polyprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-...",NaN,NaN,"[2-polyprenyl-3-methyl-5-hydroxy-6-methoxy-1,4..."
6585,GO:1990888,"""Catalysis of the reaction: 2-polyprenyl-6-hyd...",2-polyprenyl-6-hydroxyphenol O-methyltransfera...,NaN,NaN,"[2-polyprenyl-6-hydroxyphenol, S-adenosyl-L-me..."
6586,GO:1990965,"""Catalysis of the reaction: cytosylglucuronic ...",cytosylglucuronate decarboxylase activity,NaN,NaN,"[cytosylglucuronic acid, H(+) ]"

### (b) Getting substrate CHEBI IDs for the reactions with RHEA IDs:

#### (b)(i) Mapping the metabolites of the reaction with RHEA IDs to CHEBI metabolite IDs
Information about RHEA reactions were downloaded from https://ftp.expasy.org/databases/rhea/txt/

In [5]:
df_RHEA = pd.DataFrame(columns = ["RHEA ID", "CHEBI IDs", "CHEBI_ID_list"])

file1 = open(join(CURRENT_DIR, ".." ,"data", "reaction_data", "rhea-reactions.txt"), 'r')
Lines = file1.readlines()

while True:
    try:
        end = Lines.index('///\n')
        entry = Lines[:end]
        RHEA_ID, CHEBI_IDs = extract_RHEA_ID_and_CHEBI_IDs(entry)
        CHEBI_ID_list = get_substrate_IDs(IDs = CHEBI_IDs)
        Lines = Lines[end+1:]
        df_RHEA = df_RHEA.append({"RHEA ID" : RHEA_ID, "CHEBI_ID_list" : CHEBI_ID_list}, ignore_index = True)
    except ValueError:
        break
        
df_RHEA["RHEA ID"] = [float(ID.split(":")[-1]) for ID in df_RHEA["RHEA ID"]]
df_RHEA.to_pickle(join(CURRENT_DIR, ".." ,"data", "reaction_data", "RHEA_reaction_df.pkl"))
df_RHEA

       RHEA ID CHEBI IDs                                      CHEBI_ID_list
0      10000.0       NaN                         [CHEBI:15377, CHEBI:16459]
1      10001.0       NaN                         [CHEBI:15377, CHEBI:16459]
2      10002.0       NaN                         [CHEBI:28938, CHEBI:31011]
3      10003.0       NaN                         [CHEBI:15377, CHEBI:16459]
4      10004.0       NaN                                      [CHEBI:17484]
...        ...       ...                                                ...
54195  66623.0       NaN            [CHEBI:71550, CHEBI:15379, CHEBI:57618]
54196  66624.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]
54197  66625.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]
54198  66626.0       NaN  [CHEBI:71541, CHEBI:15378, CHEBI:15377, CHEBI:...
54199  66627.0       NaN            [CHEBI:16175, CHEBI:15379, CHEBI:57618]

[54200 rows x 3 columns]

#### (b)(ii) Mapping CHEBI IDs to df_catalytic

In [10]:
df_catalytic["RHEA ID"] = [float(ID) for ID in df_catalytic["RHEA ID"]]
df_catalytic = df_catalytic.merge(df_RHEA, how = "left", on = ["RHEA ID"])
df_catalytic.head()

,GO ID,Definition,Name,RHEA ID,KEGG ID,substrates,CHEBI IDs,CHEBI_ID_list
0,GO:0000010,"""Catalysis of the reaction: all-trans-hexapren...",trans-hexaprenyltranstransferase activity,20836.0,NaN,"[all-trans-hexaprenyl diphosphate, isopentenyl...",NaN,"[CHEBI:58179, CHEBI:128769]"
1,GO:0000016,"""Catalysis of the reaction: lactose + H2O = D-...",lactase activity,10076.0,NaN,"[lactose, H2O ]",NaN,"[CHEBI:15377, CHEBI:17716]"
2,GO:0000034,"""Catalysis of the reaction: adenine + H2O = hy...",adenine deaminase activity,23688.0,NaN,"[adenine, H2O ]",NaN,"[CHEBI:16708, CHEBI:15378, CHEBI:15377]"
3,GO:0000048,"""Catalysis of the reaction: peptidyl-tRNA(1) +...",peptidyltransferase activity,NaN,NaN,"[peptidyl-tRNA(1), aminoacyl-tRNA(2) ]",NaN,NaN
4,GO:0000104,"""Catalysis of the reaction: succinate + accept...",succinate dehydrogenase activity,16357.0,NaN,"[succinate, acceptor ]",NaN,"[CHEBI:13193, CHEBI:30031]"

#### (b)(iii) Creating DataFrame with all combinations of GO Terms and single substrates:

In [12]:
df_substrates = pd.DataFrame(columns = ["GO ID", "molecule", "molecule ID"])
df_catalytic["CHEBI_ID_list"].loc[pd.isnull(df_catalytic["CHEBI_ID_list"])] = ""

for ind in df_catalytic.index:
    GO_ID = df_catalytic["GO ID"][ind]
    
    if len(df_catalytic["CHEBI_ID_list"][ind]) > 0:
        IDs = df_catalytic["CHEBI_ID_list"][ind]
        for ID in IDs:
            df_substrates = df_substrates.append({"GO ID" : GO_ID, "molecule": np.nan, "molecule ID" : ID},
                                                 ignore_index = True)
    else:
        metabolites = df_catalytic["substrates"][ind]
        for met in metabolites:
            df_substrates = df_substrates.append({"GO ID" : GO_ID, "molecule": met, "molecule ID" : np.nan},
                                                 ignore_index = True)
            
df_substrates.reset_index(inplace = True, drop = True)
df_substrates

            GO ID                      molecule   molecule ID
0      GO:0000010                           NaN   CHEBI:58179
1      GO:0000010                           NaN  CHEBI:128769
2      GO:0000016                           NaN   CHEBI:15377
3      GO:0000016                           NaN   CHEBI:17716
4      GO:0000034                           NaN   CHEBI:16708
...           ...                           ...           ...
14649  GO:1990887      S-adenosyl-L-methionine            NaN
14650  GO:1990888  2-polyprenyl-6-hydroxyphenol           NaN
14651  GO:1990888      S-adenosyl-L-methionine            NaN
14652  GO:1990965        cytosylglucuronic acid           NaN
14653  GO:1990965                         H(+)            NaN

[14654 rows x 3 columns]

###  (c) Trying to map all substrates without a CHEBI ID to an identifier:

In [14]:
metabolites = []
for ind in df_substrates.index:
    if pd.isnull(df_substrates["molecule ID"][ind]):
        metabolites = metabolites + [df_substrates["molecule"][ind]]
    
df_unmapped = pd.DataFrame(data = {"metabolites" : list(set(metabolites))})
df_unmapped

                                     metabolites
0                                       xanthan
1                                     indan-1-ol
2                                 oxidosqualene
3                                     galactogen
4                            (histone)-arginine
...                                          ...
2402                   GDP-mannose = mannan(n+1)
2403                   a 3-oxo-dodecanoyl-[acp]
2404               coenzyme A or its derivatives
2405                     DNA with alkylated base
2406  2,4-dihydroxy-hept-trans-2-ene-1,7-dioate

[2407 rows x 1 columns]

#### (c)(i) Mapping metabolite names to KEGG compound synonym database:

In [16]:
datasets_dir = "C:\\Users\\alexk\\projects\\Prediction_of_KM_V4\\datasets\\"

drugs_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "KEGG_drugs_df.pkl"))
compounds_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "KEGG_substrate_df.pkl"))
KEGG_substrate_df = compounds_df.append(drugs_df).reset_index(drop = True)

##If we have multiple IDs for the same substrate name, we keep the first ID:
droplist = []
for ind in KEGG_substrate_df.index:
    if not ind in droplist:
        substrate = KEGG_substrate_df["substrate"][ind]
        help_df = KEGG_substrate_df.loc[KEGG_substrate_df["substrate"] == substrate]
        if len(help_df) > 1 :
            droplist = droplist + list(help_df.index)[1:]

KEGG_substrate_df.drop(droplist, inplace = True)

KEGG_substrate_df["substrate"] = [name.lower() for name in KEGG_substrate_df["substrate"]]
df_unmapped["substrate"] = [name.lower() for name in df_unmapped["metabolites"]]

df_unmapped = df_unmapped.merge(KEGG_substrate_df, on = "substrate", how = "left")
print("For %s out of %s data points we could not map the substrate name to a KEGG ID." %
      (sum(pd.isnull(df_unmapped["KEGG ID"])), len(df_unmapped)))

For 1589 out of 2407 data points we could not map the substrate name to a KEGG ID.

#### (c)(ii) Mapping all substrate names without a KEGG CID to PubChem CIDs:

In [20]:
unmapped_substrates = list(set(list(df_unmapped["substrate"][pd.isnull(list(df_unmapped["KEGG ID"]))])))
matches = substrate_names_to_Pubchem_CIDs(unmapped_substrates)
matches.to_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "Pubchem_substrate_matches_GO_Terms.pkl"))

Mapping all PubChem CIDs to KEGG CIDs: Therefore, we create a txt-file ("Pubchem_CIDs_GO_Terms.txt") that contains all PubChem CIDs that we want to map to KEGG CIDs:

In [21]:
#convert CIDs from strings to integers:
for ind in matches.index:
    cid = matches.loc[ind]["CID"]
    if not pd.isnull(cid):
        matches["CID"][ind] = int(cid)
        
        
#create txt file with all CIDs in matches:
CIDs = list(matches.loc[~ pd.isnull(matches["CID"])]["CID"])
f = open(join(CURRENT_DIR, ".." ,"data", "substrate_data", "Pubchem_CIDs_GO_Terms.txt"),"w") 
for cid in CIDs:
    f.write(str(cid) + "\n")
f.close()

The txt-file "Pubchem_CIDs_GO_Terms.txt" can be used as the input for the webservice https://www.metaboanalyst.ca/MetaboAnalyst/upload/ConvertView.xhtml to map the Pubchem CIDs to KEGG CIDs and CHEBI IDs.

In [41]:
matches= pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "Pubchem_substrate_matches_GO_Terms.pkl"))
matches["CID"] = [int(cid) if not pd.isnull(cid) else np.nan for cid in matches["CID"]]
matches.head()
matches = matches.loc[~pd.isnull(matches["CID"])]

#load the resulting file and store it in a DataFrame:
Pubchem_CID_to_KEGG_df = pd.read_csv(join(CURRENT_DIR, ".." ,"data", "substrate_data", "name_map_metaboanalyst.csv"), sep = ",")
#rename columns:
Pubchem_CID_to_KEGG_df.rename(columns = {"PubChem" : "CID"}, inplace = True)
Pubchem_CID_to_KEGG_df.drop(columns = ["Match","Query", "HMDB", "SMILES", "Comment"], inplace = True)

#merge this DataFrame with the DataFrame called matches:
macthes_with_KEGG_IDs = pd.merge(matches, Pubchem_CID_to_KEGG_df, how='left', on=['CID'])
macthes_with_KEGG_IDs.rename(columns = {"Match" : "substrate"}, inplace = True)
macthes_with_KEGG_IDs

                         Metabolite         CID    ChEBI    KEGG  METLIN
0                             coash     87642.0  15346.0  C00010  6235.0
1               dehydroabietadienal  11694869.0  52487.0     NaN     NaN
2            tricaffeoyl spermidine  15241070.0      NaN     NaN     NaN
3              chlorophyllide b(1-)  86289090.0      NaN     NaN     NaN
4                    beta-chaconine    119393.0      NaN     NaN     NaN
..                              ...         ...      ...     ...     ...
447        2,4-dinitrocyclohexanone   9543365.0      NaN     NaN     NaN
448     2-(methylthio)benzothiazole     11989.0      NaN     NaN     NaN
449              indole acetic acid       802.0  16411.0  C00954  5211.0
450  (r)-3-hydroxyicosanoyl-coa(4-)  72193813.0      NaN     NaN     NaN
451    monocyclic sesterterpenediol  90658711.0      NaN     NaN     NaN

[452 rows x 5 columns]

In [42]:
df_unmapped["CHEBI ID"] = np.nan

for ind in df_unmapped.index:
    if pd.isnull(df_unmapped["KEGG ID"][ind]):
        substrate = df_unmapped["substrate"][ind]
        try:
            KEGG_ID = list(macthes_with_KEGG_IDs.loc[macthes_with_KEGG_IDs["substrate"]== substrate]["KEGG ID"])[0]
            df_unmapped["KEGG ID"][ind] = KEGG_ID
        except:
            None
        try:
            CHEBI_ID = list(macthes_with_KEGG_IDs.loc[macthes_with_KEGG_IDs["substrate"]== substrate]["ChEBI"])[0]
            df_unmapped["CHEBI ID"][ind] = CHEBI_ID
        except:
            None
df_unmapped

,metabolites,substrate,KEGG ID,CHEBI ID
0,xanthan,xanthan,NaN,NaN
1,indan-1-ol,indan-1-ol,C01710,NaN
2,oxidosqualene,oxidosqualene,NaN,NaN
3,galactogen,galactogen,C01698,NaN
4,(histone)-arginine,(histone)-arginine,NaN,NaN
...,...,...,...,...
2402,GDP-mannose = mannan(n+1),gdp-mannose = mannan(n+1),NaN,NaN
2403,a 3-oxo-dodecanoyl-[acp],a 3-oxo-dodecanoyl-[acp],NaN,NaN
2404,coenzyme A or its derivatives,coenzyme a or its derivatives,NaN,NaN
2405,DNA with alkylated base,dna with alkylated base,NaN,NaN
2406,"2,4-dihydroxy-hept-trans-2-ene-1,7-dioate","2,4-dihydroxy-hept-trans-2-ene-1,7-dioate",NaN,NaN

#### (c)(iii) Mapping substrate IDs to df_substrate:

In [44]:
for ind in df_substrates.index:
    if pd.isnull(df_substrates["molecule ID"][ind]):
        met = df_substrates["molecule"][ind]

        ID = list(df_unmapped["CHEBI ID"].loc[df_unmapped["metabolites"] == met])[0]
        if pd.isnull(ID):
            ID = list(df_unmapped["KEGG ID"].loc[df_unmapped["metabolites"] == met])[0]

        df_substrates["molecule ID"][ind] = ID
df_substrates

            GO ID                      molecule   molecule ID
0      GO:0000010                           NaN   CHEBI:58179
1      GO:0000010                           NaN  CHEBI:128769
2      GO:0000016                           NaN   CHEBI:15377
3      GO:0000016                           NaN   CHEBI:17716
4      GO:0000034                           NaN   CHEBI:16708
...           ...                           ...           ...
14649  GO:1990887      S-adenosyl-L-methionine            NaN
14650  GO:1990888  2-polyprenyl-6-hydroxyphenol        C17551
14651  GO:1990888      S-adenosyl-L-methionine            NaN
14652  GO:1990965        cytosylglucuronic acid           NaN
14653  GO:1990965                         H(+)            NaN

[14654 rows x 3 columns]

In [45]:
df_substrates.drop(columns = ["molecule"], inplace= True)
df_substrates = df_substrates.loc[~pd.isnull(df_substrates["molecule ID"])]
df_substrates.reset_index(inplace = True, drop = True)
df_substrates

            GO ID   molecule ID
0      GO:0000010   CHEBI:58179
1      GO:0000010  CHEBI:128769
2      GO:0000016   CHEBI:15377
3      GO:0000016   CHEBI:17716
4      GO:0000034   CHEBI:16708
...           ...           ...
11304  GO:1990738   CHEBI:15377
11305  GO:1990738   CHEBI:58380
11306  GO:1990833        C00002
11307  GO:1990883        C00024
11308  GO:1990888        C17551

[11309 rows x 2 columns]

In [46]:
df_substrates.to_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))

## 3. Searching the GO Annotations database for entries with GO Terms stating the catalyitic activity of an enzyme

In [2]:
df_substrates = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))

#### (a) Searching the database

The GO Annotation database contains evidence codes (ECOs). These ECOs contain the information which kind of evidence an annotation has, e.g. "computational", "experimential", "phylogenetic",...
We are only interested in data points with experimental and phylogenetic evidence.

In [14]:
df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "df_GO_catalytic.pkl"))
catalytic_go_terms = list(set(df["GO ID"]))

In [ ]:
df_GO_UID = pd.read_csv(join(CURRENT_DIR, "alex_data", "df_GO_UID.csv"))

In [16]:
len(catalytic_go_terms)

5763

In [3]:
ECO_to_GAF = pd.read_csv(join(CURRENT_DIR, ".." ,"data", "GOA_data", 'ECO_to_GAF.tsv'), sep = "\t")
exp_evidence = ["EXP","IDA","IPI","IMP","IGI","IEP", "HTP","HDA","HMP","HGI","HEP"]
phylo_evidence = ["IBA","IBD","IKR","IRD"]

The GOA database contains over 922 million entries. We created a function "search_GOA_database" to parallize the search. It takes the argument run which should be an integer betwenn 0 and 922 and searches one million entries accoriding to the value run has.
The GOA database for uniprot IDs was downloaded from here:

In [4]:
#for run in range(923):
#    search_GOA_database(run)

#### (b)Mapping GO_terms with phylogenetic and experimental evidence to substrate IDs:

Merging the created DataFrames:

In [ ]:
df_GO_UID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "experimental_and_phylogenetic",
                                "experimental_phylogenetic_df_GO_UID_part_" + str(0) +".pkl"))

for i in range(1,923):
    try:
        df_new = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "experimental_and_phylogenetic",
                                     "experimental_phylogenetic_df_GO_UID_part_" + str(i) +".pkl"))
        df_GO_UID = pd.concat([df_GO_UID, df_new], ignore_index= True)
    except FileNotFoundError:
        print("Error", i)
df_GO_UID.to_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "experimental_phylogenetic_df_GO_UID.pkl"))

In [5]:
df_GO_UID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "GOA_data", "experimental_phylogenetic_df_GO_UID.pkl"))

Mapping Uniprot IDs and metabolite IDs:

In [17]:
df_UID_MID = pd.DataFrame(columns =["Uniprot ID", "molecule ID", "evidence"])

for ind in df_GO_UID.index:
    if ind >= -1:
        GO_ID = df_GO_UID["GO Term"][ind]
        UID = df_GO_UID["Uniprot ID"][ind]
        evidence = df_GO_UID["evidence"][ind]
        met_IDs = list(df_substrates["molecule ID"].loc[df_substrates["GO ID"] == GO_ID])
        for met_ID in met_IDs:
            df_UID_MID = df_UID_MID.append({"Uniprot ID" : UID, "molecule ID" : met_ID,
                                           "evidence": evidence}, ignore_index = True)
    if ind % 1000 ==1:
        print(ind)
        
df_UID_MID.drop_duplicates(inplace = True)
df_UID_MID.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))

Uniprot_IDs = list(set(df_UID_MID["Uniprot ID"]))
print(len(Uniprot_IDs), len(list(set(df_UID_MID["molecule ID"]))))

df_UID_MID

1
1001
2001
3001
4001
5001
6001
7001
8001
9001
10001
11001
12001
13001
14001
15001
16001
17001
18001
19001
20001
21001
22001
23001
24001
25001
26001
27001
28001
29001
30001
31001
32001
33001
34001
35001
36001
37001
38001
39001
40001
41001
42001
43001
44001
45001
46001
47001
48001
49001
50001
51001
52001
53001
54001
55001
56001
57001
58001
59001
60001
61001
62001
63001
64001
65001
66001
67001
68001
69001
70001
71001
72001
73001
74001
75001
76001
77001
78001
79001
80001
81001
82001
83001
84001
85001
86001
87001
88001
89001
90001
91001
92001
93001
94001
95001
96001
97001
98001
99001
100001
101001
102001
103001
104001
105001
106001
107001
108001
109001
110001
111001
112001
113001
114001
115001
116001
117001
118001
119001
120001
121001
122001
123001
124001
125001
126001
127001
128001
129001
130001
131001
132001
133001
134001
135001
136001
137001
138001
139001
140001
141001
142001
143001
144001
145001
146001
147001
148001
149001
150001
151001
152001
153001
154001
155001
156001
157001
158001
159001
160001
161001
162001
163001
164001
165001
166001
167001
168001
169001
170001
171001
172001
173001
174001
175001
176001
177001
178001
179001
180001
181001
182001
183001
184001
185001
186001
187001
188001
189001
190001
191001
192001
193001
194001
195001
196001
197001
198001
199001
200001
201001
202001
203001
204001
205001
206001
207001
208001
209001
210001
211001
212001
213001
214001
215001
216001
217001
218001
219001
220001
221001
222001
223001
224001
225001
226001
227001
228001
229001
230001
231001
232001
233001
234001
235001
236001
237001
238001
239001
240001
241001
242001
243001
244001
245001
246001
247001
248001
249001
250001
251001
252001
253001
254001
255001
256001
257001
258001
259001
260001
261001
262001
263001
264001
265001
266001
267001
268001
269001
270001
271001
272001
273001
274001
275001
276001
277001
278001
279001
236843 1772

        Uniprot ID  molecule ID evidence
0       A0A009IHW8  CHEBI:15377      exp
1       A0A009IHW8  CHEBI:57540      exp
2       A0A022PMU5       C00030    phylo
3       A0A022PN36  CHEBI:57318    phylo
4       A0A022PN36  CHEBI:57540    phylo
...            ...          ...      ...
495070      Z4YNJ9  CHEBI:15378    phylo
495071      Z4YNJ9  CHEBI:15379    phylo
495072      Z4YNJ9  CHEBI:57394    phylo
495073      Z4YNJ9       C00154    phylo
495074      Z4YNJ9       C00030    phylo

[462406 rows x 3 columns]

In [18]:
df_UID_MID.loc[df_UID_MID["evidence"] == "exp"]

        Uniprot ID  molecule ID evidence
0       A0A009IHW8  CHEBI:15377      exp
1       A0A009IHW8  CHEBI:57540      exp
10167   A0A059TC02  CHEBI:16731      exp
10168   A0A059TC02  CHEBI:57287      exp
10169   A0A059TC02  CHEBI:58349      exp
...            ...          ...      ...
495053      X5KCU3       C00535      exp
495054      X5KCU9       C00535      exp
495055      X5KJC0       C00535      exp
495056      X5L1L5       C00535      exp
495057      X5L565       C00535      exp

[28112 rows x 3 columns]

We are removing small molecules like H2O and H+ from the dataset:

In [19]:
'''#magnesium, Phosphoprotein,  Collagen, C02, O2, Calmodulin, water, RNA, calcium, iron, hydrogen,
protein polypeptide chain,DNA, ammonium, lipopolysaccharide, fatty acid anion, double stranded DNA,
iron, hydrogen donor, hydrogen acceptor, lipid''';

remove_mets = ["CHEBI:18420", "C00562", "C00211", "CHEBI:16526", "CHEBI:15379", "C00391", "CHEBI:15377",
               "C00046", "CHEBI:29108", "CHEBI:29034", "CHEBI:15378", "CHEBI:16541", "CHEBI:16991",
              "CHEBI:28938", "CHEBI:16412", "CHEBI:28868", "CHEBI:4705", "CHEBI:29033", "CHEBI:17499",
              "CHEBI:13193", "C01356"]

df_UID_MID = df_UID_MID.loc[~df_UID_MID["molecule ID"].isin(remove_mets)]
df_UID_MID

        Uniprot ID  molecule ID evidence
1       A0A009IHW8  CHEBI:57540      exp
2       A0A022PMU5       C00030    phylo
3       A0A022PN36  CHEBI:57318    phylo
4       A0A022PN36  CHEBI:57540    phylo
6       A0A022PN36  CHEBI:16469    phylo
...            ...          ...      ...
495066      Z4YHZ5  CHEBI:16810    phylo
495067      Z4YHZ5  CHEBI:50342    phylo
495072      Z4YNJ9  CHEBI:57394    phylo
495073      Z4YNJ9       C00154    phylo
495074      Z4YNJ9       C00030    phylo

[369461 rows x 3 columns]

#### (c) Getting an overview of the number of unique enzymes and substrates in the dataset:

In [21]:
df_exp = df_UID_MID.loc[df_UID_MID["evidence"] == "exp"]
df_phylo = df_UID_MID.loc[df_UID_MID["evidence"] == "phylo"]

print("We have %s entries with phylogenetic evidence and %s entries with experimental evidence" % (len(df_phylo), len(df_exp)))

print("\n experimental dataset:")
print("Number of different enzymes: %s, Number of different substrates: %s"
      % (len(set(df_exp["Uniprot ID"])), len(set(df_exp["molecule ID"]))) )

print("\n phylogenetic dataset:")
print("Number of different enzymes: %s, Number of different substrates: %s"
      % (len(set(df_phylo["Uniprot ID"])), len(set(df_phylo["molecule ID"]))) )

We have 346923 entries with phylogenetic evidence and 22538 entries with experimental evidence

 experimental dataset:
Number of different enzymes: 13508, Number of different substrates: 1754

 phylogenetic dataset:
Number of different enzymes: 229254, Number of different substrates: 888

In [22]:
df_UID_MID.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))

## 4. Splitting the dataset in training and testing set:

In [2]:
df_UID_MID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))

To split the dataset in training and test set, we take the enzyme's sequence identity into account. Therefore, we first cluster the enzymes by sequence identity:

### (a) Downloading sequences for all UniProt IDs:

Creating file with all UniProt IDs: We split it into two files, since UniProt only takes files up to 2MB.

In [5]:
Uniprot_IDs = list(set(df_UID_MID["Uniprot ID"]))

Uniprot_IDs_V1 = Uniprot_IDs[:100000]
Uniprot_IDs_V2 = Uniprot_IDs[100000:]

f = open(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "UNIPROT_IDs_V1.txt"),"w")
for ID in list(set(Uniprot_IDs_V1)):
    f.write(str(ID) + "\n")
f.close()

f = open(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "UNIPROT_IDs_V2.txt"),"w")
for ID in list(set(Uniprot_IDs_V2)):
    f.write(str(ID) + "\n")
f.close()

Downloading UniProt IDs via the UniProt mapping service (https://www.uniprot.org/uploadlists/):

In [6]:
from Bio import SeqIO

In [7]:
UNIPROT_df = pd.DataFrame(columns = ["Uniprot ID", "Sequence"])

for version in ["1", "2"]:
    fasta_sequences = SeqIO.parse(open(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                                            "UNIPROT_IDs_V" +version + ".fasta")),'fasta')
    for fasta in fasta_sequences:
        name, sequence = fasta.id, str(fasta.seq)
        UNIPROT_df = UNIPROT_df.append({"Uniprot ID" : name.split("|")[1], "Sequence" : sequence}, ignore_index = True)

KeyboardInterrupt:

In [34]:
UNIPROT_df.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "UNIPROT_df.pkl"))

### (b) Clustering enzymes by sequence identity:

In [3]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "UNIPROT_df.pkl"))

Creating fasta file with all sequences:

In [27]:
ofile = open(join(CURRENT_DIR, ".." ,"data", "enzyme_data", 'clusters', "all_sequences.fasta"), "w")
for ind in UNIPROT_df.index:
    seq = UNIPROT_df["Sequence"][ind]
    if not pd.isnull(seq):
        seq_end = seq.find("#")
        seq = seq[:seq_end]
        ofile.write(">" + str(ind) + "\n" + seq  + "\n")
ofile.close()

#### (b)(i) Clustering:

We first cluster in such a way that two different clusters do not contain two enzymes with a sequence identity higher than 80%:

Getting input for cd-hit algorithm:

In [4]:
# cluster the fasta files
cluster_folder = join(CURRENT_DIR, ".." ,"data", "enzyme_data", 'clusters')
start_folder = cluster_folder
cluster_all_levels(start_folder, 
                   cluster_folder, 
                   filename='all_sequences')

In [5]:
cluster_folder = join(CURRENT_DIR, ".." ,"data", "enzyme_data", 'clusters')
    
# cluster the fasta files
start_folder = cluster_folder
cluster_all_levels_80(start_folder, 
                   cluster_folder, 
                   filename='all_sequences')

# collect cluster members
df_80 = find_cluster_members_80(folder=cluster_folder, 
                          filename='all_sequences')

display(df_80.describe())
display(df_80.head())
display(df_80.tail())

             cluster
count  230802.000000
mean    61688.071425
std     37173.511476
min         0.000000
25%     29925.250000
50%     59270.000000
75%     92366.000000
max    133172.000000

   cluster  member
0        0   59618
1        1   17477
2        2  193350
3        3  202039
4        3   31895

        cluster  member
230797   133168  102904
230798   133169  168585
230799   133170   39204
230800   133171   42158
230801   133172   99620

We cluster in such a way that two different clusters do not contain two enzymes with a sequence identity higher than 60%:

In [6]:
cluster_all_levels_60(start_folder, 
                   cluster_folder, 
                   filename='all_sequences')

# collect cluster members
df_60 = find_cluster_members_60(folder=cluster_folder, 
                       filename='all_sequences')
display(df_60.describe())

             cluster
count  230802.000000
mean    32736.837146
std     21124.000661
min         0.000000
25%     14827.000000
50%     29851.000000
75%     48600.750000
max     79033.000000

We first cluster in such a way that two different clusters do not contain two enzymes with a sequence identity higher than 40%:

In [7]:
# cluster the fasta files
cluster_all_levels(start_folder, 
                   cluster_folder, 
                   filename='all_sequences')

# collect cluster members
df_40 = find_cluster_members(folder=cluster_folder, 
                          filename='all_sequences')

display(df_40.describe())

             cluster
count  230802.000000
mean    13197.257376
std      9271.144542
min         0.000000
25%      5389.000000
50%     11371.000000
75%     19518.750000
max     36601.000000

In [8]:
df2 = pd.DataFrame({"member" : UNIPROT_df.index, "Uniprot ID" : UNIPROT_df["Uniprot ID"]})
df_UID_MID = df_UID_MID.merge(df2, how = "left", on = "Uniprot ID")

df_40["evidence"] = "phylo"
for ind in df_40.index:
    member = int(df_40["member"][ind])
    evidences = list(df_UID_MID["evidence"].loc[df_UID_MID["member"] == member])
    if "exp" in evidences:
        df_40["evidence"][ind] = "exp"
        
        
df_60["evidence"] = "phylo"
for ind in df_60.index:
    member = int(df_60["member"][ind])
    evidences = list(df_UID_MID["evidence"].loc[df_UID_MID["member"] == member])
    if "exp" in evidences:
        df_60["evidence"][ind] = "exp"

#### (a)(ii) Splitting the dataset in train, validation and test set with a sequence identity cutoff of 80%. Later, we divide the test set in three subparts with identity cutoffs of <40%, 40-60% and 60-80%

In [9]:
UNIPROT_df["cluster"] = np.nan
for ind in df_80.index:
    member = int(df_80["member"][ind])
    cluster = df_80["cluster"][ind]
    UNIPROT_df["cluster"][member] = cluster

We only use the additional validation set for the training of the ESM-1b model. It is so big that we can't do a 5-fold CV. Therefore, we use an independent validation set to validate the model instead.

In [10]:
clusters = list(set(UNIPROT_df["cluster"]))
random.seed(1)
random.shuffle(clusters)
print(len(clusters))

n = int(len(clusters)*0.8)
train_clusters = clusters[:n]
test_clusters = clusters[n:]

training_UIDs = UNIPROT_df["Uniprot ID"].loc[UNIPROT_df["cluster"].isin(train_clusters)]
test_UIDs = UNIPROT_df["Uniprot ID"].loc[UNIPROT_df["cluster"].isin(test_clusters)]

df_80["split"] = np.nan
df_80["split"].loc[df_80["cluster"].isin(train_clusters)] = "train"
df_80["split"].loc[df_80["cluster"].isin(test_clusters)] = "test"

train_members = list(df_80["member"].loc[df_80["split"] == "train"])
test_members = list(df_80["member"].loc[df_80["split"] == "test"])

df_60["split"] = np.nan
df_40["split"] = np.nan
df_60["split"].loc[df_60["member"].isin(train_members)] = "train"
df_60["split"].loc[df_60["member"].isin(test_members)] = "test"
df_40["split"].loc[df_40["member"].isin(train_members)] = "train"
df_40["split"].loc[df_40["member"].isin(test_members)] = "test"

len(training_UIDs), len(test_UIDs)

133185

(185312, 45514)

In [11]:
df_UID_MID_train = df_UID_MID.loc[df_UID_MID["Uniprot ID"].isin(training_UIDs)]
df_UID_MID_test = df_UID_MID.loc[df_UID_MID["Uniprot ID"].isin(test_UIDs)]
len(df_UID_MID_test), len(df_UID_MID_train)

(71791, 290206)

Calculating for every sequence in the validation and test set the maximum accuracy compared to sequences in the training set:

In [12]:
df_80["identity"] = np.nan
df_80["identity"].loc[df_80["split"].isin(["test"])] =  "60-80%"

test_indices = list(df_80.loc[~pd.isnull(df_80["identity"])].index)


for ind in test_indices:

    member = df_80["member"][ind]
    cluster = list(df_40["cluster"].loc[df_40["member"] == member])[0]
    cluster_splits = list(df_40["split"].loc[df_40["cluster"] == cluster].loc[df_40["evidence"] == "exp"])
    if not "train" in cluster_splits:
        df_80["identity"][ind] = "<40%"
    else:
        cluster = list(df_60["cluster"].loc[df_60["member"] == member])[0]
        cluster_splits = list(df_60["split"].loc[df_60["cluster"] == cluster].loc[df_60["evidence"] == "exp"])
        if not "train" in cluster_splits:
            df_80["identity"][ind] = "40-60%"
            
    if ind % 1000 == 0:
        print(ind)

2000
4000
5000
8000
14000
17000
18000
23000
24000
26000
27000
33000
37000
41000
45000
51000
54000
59000
67000
68000
70000
87000
90000
97000
115000
123000
129000
132000
149000
153000
158000
159000
167000
168000
177000
178000
192000
198000
202000
209000
216000
217000
218000
219000
220000
223000
224000
229000

In [13]:
df_80.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                          "df_80.pkl"))

In [14]:
df_80

        cluster  member  split identity
0             0   59618  train      NaN
1             1   17477  train      NaN
2             2  193350  train      NaN
3             3  202039  train      NaN
4             3   31895  train      NaN
...         ...     ...    ...      ...
230797   133168  102904  train      NaN
230798   133169  168585  train      NaN
230799   133170   39204   test     <40%
230800   133171   42158  train      NaN
230801   133172   99620  train      NaN

[230802 rows x 4 columns]

In [16]:
df2 = pd.DataFrame({"member": df_80["member"], "identity": df_80["identity"]})
UNIPROT_df["member"] = [str(ind) for ind in UNIPROT_df.index]

,Uniprot ID,Sequence,cluster,member,identity
0,G3QP07,MAAGAGTAGLASGPGVVRDPAASQPRKRPGREGGEGARRSDTMAGG...,43869.0,0,NaN
1,Q9KNU3,MRNTMFTSKEGQTIPQVTFPTRQGDAWVNVTSDELFKGKTVIVFSL...,109863.0,1,NaN
2,H3HBD2,MYPSVALLLWLWGAGVALQVIGLLGCLVEQNDTSDCASTARDRRTS...,17764.0,2,NaN
3,A0A3B6C0N2,MEYHRVVSLVAVVVVLLRRWPALSSAQAPVSRTITVDSHGGGDFSS...,88170.0,3,<40%
4,A0A1Z5RRB7,MDMPSHTHSQLCESKALVASYTQEARKRNQQHNMASKPGPLSRWPW...,28018.0,4,NaN
...,...,...,...,...,...
230809,A0A072VJI1,MELSAVTLGGKGSSLSSSAVYATAIGKSQIKIDSSALDRLTSPPSS...,15606.0,230809,NaN
230810,D7SVZ9,MFIESFKVESPNVKYTENEIHSVYDYETTELVHENRNGTYQWVVKP...,34817.0,230810,NaN
230811,A0A2C9WL07,MAPISILLFSSILLFSASSTGRALSFNYYEKTCPDVELIVTNAVKN...,93693.0,230811,NaN
230812,F4ICB6,MGCVNSKQTVSVTPAIDHSGVFRDNVCSGSGRIVVEDLPPVTETKL...,22447.0,230812,NaN
230813,B5LAU7,MAAAATCAFFPTGNPPSDSGAKSSGNLGGGSVPGSIDARGLNNVKK...,66315.0,230813,60-80%

In [21]:
UNIPROT_df = UNIPROT_df.merge(df2, on = "member", how = "left")
        
UNIPROT_df.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                          "Uniprot_df_with_seq_identities.pkl"))

In [22]:
len(UNIPROT_df.loc[UNIPROT_df["identity"] == "60-80%"]), len(UNIPROT_df.loc[UNIPROT_df["identity"] == "40-60%"]), len(UNIPROT_df.loc[UNIPROT_df["identity"] == "<40%"])

(8406, 12498, 24598)

#### (a)(iii) For every enzyme in the test set with a sequence-identity of 60-80% we want to find out: How many enzymes with a sequence identity over 40% exist in the training set?

In [22]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                          "Uniprot_df_with_seq_identities.pkl"))
df_UID_MID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))
df_UID_MID_train = df_UID_MID.loc[df_UID_MID["Uniprot ID"].isin(training_UIDs)]
df_UID_MID_test = df_UID_MID.loc[df_UID_MID["Uniprot ID"].isin(test_UIDs)]
df_UID_MID_train_exp = df_UID_MID_train.loc[df_UID_MID_train["evidence"] == "exp"]
exp_UIDs = list(set(df_UID_MID["Uniprot ID"].loc[df_UID_MID["evidence"] == "exp"]))

1294

In [54]:
UNIPROT_df["n_similiar_train_enz"] = np.nan
UIDs_indices = list(UNIPROT_df["Uniprot ID"].loc[UNIPROT_df["identity"] == "60-80%"].index)

for ind in UIDs_indices:
    UID = UNIPROT_df["Uniprot ID"][ind]
    if UID in exp_UIDs:
        cluster = list(df_40["cluster"].loc[df_40["member"] == str(ind)])[0]
        cluster_members = list(df_40["member"].loc[df_40["cluster"] == cluster])
        cluster_UIDs = [UNIPROT_df["Uniprot ID"][int(member)] for member in cluster_members]
        UNIPROT_df["n_similiar_train_enz"][ind] = len(df_UID_MID_train_exp.loc[df_UID_MID_train_exp["Uniprot ID"].isin(cluster_UIDs)])
        
UNIPROT_df.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data",
                          "Uniprot_df_with_seq_identities_V2.pkl"))

## 5. Calculating enzyme and substrate representations

In [3]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "Uniprot_df_with_seq_identities.pkl"))
df_UID_MID = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID.pkl"))

### (a) Calculate extended-connectivity fingerprints (ECFPs) for substrates:

In [4]:
mol_folder = "C:\\Users\\alexk\\mol-files\\"
mol_IDs = list(set(df_UID_MID["molecule ID"]))

df_ecfps = pd.DataFrame(data = {"substrate ID" : mol_IDs})
df_ecfps["ECFP"] = ""
df_ecfps

     substrate ID ECFP
0     CHEBI:18378
1     CHEBI:58282
2     CHEBI:17071
3     CHEBI:57955
4          C21650
...           ...  ...
1757  CHEBI:58628
1758  CHEBI:16737
1759  CHEBI:30909
1760  CHEBI:61519
1761  CHEBI:58189

[1762 rows x 2 columns]

Creating txt file with all ChEBI IDs:

In [5]:
ChEBI_IDs = list(set(df_UID_MID["molecule ID"]))
f = open(join(CURRENT_DIR, ".." ,"data", "substrate_data", "ChEBI_IDs.txt"),"w")
for ID in list(set(ChEBI_IDs)):
    if ID[:2] == "CH":
        f.write(str(ID.replace("CHEBI", "ChEBI")) + "\n")
f.close()

First we map ChEBI IDs to InChI strings using https://metacyc.org/metabolite-translation-service.shtml:

In [6]:
df_chebi_to_inchi = pd.read_csv(join(CURRENT_DIR, ".." ,"data", "substrate_data", "chebiID_to_inchi.tsv"), sep = "\t")
df_chebi_to_inchi.head()

,Input,Result,BioCyc Common-Name,BioCyc,Kegg,ChEBI,PubChem,HMDB,ChemSpider,MetaboLights,MetaNetX,BiGG,Seed,Inchi
0,ChEBI:132511,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ChEBI:11805,success,3-hydroxy-isobutanoate,3-HYDROXY-ISOBUTYRATE,C01188,11805.0,11966314,HMDB62640,,,MNXM396,,cpd00876,"InChI=1S/C4H8O3/c1-3(2-5)4(6)7/h3,5H,2H2,1H3,(..."
2,ChEBI:17568,success,uracil,URACIL,C00106,17568.0,1174,HMDB00300,1141,MTBLC17568,MNXM158,ura,cpd00092,"InChI=1S/C4H4N2O2/c7-3-1-2-5-4(8)6-3/h1-2H,(H2..."
3,ChEBI:17237,success,crotono-betaine,CROTONO-BETAINE,C04114,17237.0,5462194,,4575319,,MNXM1607,ctbt,cpd02543,"InChI=1S/C7H13NO2/c1-8(2,3)6-4-5-7(9)10/h4-5H,..."
4,ChEBI:35121,success,"(2R,3S)-3-isopropylmalate",2-D-THREO-HYDROXY-3-CARBOXY-ISOCAPROATE,C04411,35121.0,6857402,HMDB12156,5256741,,MNXM891,3c2hmp,cpd02693,InChI=1S/C7H12O5/c1-3(2)4(6(9)10)5(8)7(11)12/h...

Mapping InChI string to DataFrame:

In [7]:
for ind in df_ecfps.index:
    met_ID = df_ecfps["substrate ID"][ind]
    is_CHEBI_ID = (met_ID[0:5] == "CHEBI")
    
    
    if is_CHEBI_ID:
        try:
            ID = int(met_ID.split(" ")[0].split(":")[-1])
            Inchi = list(df_chebi_to_inchi["Inchi"].loc[df_chebi_to_inchi["ChEBI"] == float(ID)])[0]
            if not pd.isnull(Inchi):
                mol = Chem.inchi.MolFromInchi(Inchi)
        except IndexError:
            mol = None
        
    else:
        try:
            mol = Chem.MolFromMolFile(mol_folder +  "/mol-files/" + met_ID + '.mol')
        except OSError:
            None
            
    if mol is not None:
        ecfp = AllChem.GetMorganFingerprintAsBitVect(mol, 3, nBits=1024).ToBitString()
        df_ecfps["ECFP"][ind] = ecfp

In [8]:
df_ecfps = df_ecfps.loc[df_ecfps["ECFP"] !=""]

In [10]:
df_ecfps.to_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "df_ecfps.pkl"))

### (b) Calculating enzyme representations with the ESM-1b model:

The ESM-1b model takes a FASTA file with the enzymes' amino acid sequences as its input. Creating a FASTA file with enzyme sequences:

In [30]:
ofile = open(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "all_sequences.fasta"), "w")
for ind in UNIPROT_df.index:
    seq = UNIPROT_df["Sequence"][ind]
    if not pd.isnull(seq):
        seq_end = seq.find("#")
        seq = seq[:seq_end]
        ofile.write(">" + str(ind) + "\n" + seq[:1018]  + "\n")
ofile.close()

To calculate the ESM-1b vectors, we used the model and code provided by the Facebook Research team: https://github.com/facebookresearch/esm. The following command line was used to calculate the representations:

<span style="color:red"> 
python extract.py esm1b_t33_650M_UR50S \path_to_fasta_file\all_sequences.fasta \path_to_store_representations\all_sequences_esm1b_reps--repr_layers 33 --include mean </span>

Loading ESM-1b-vectors and storing them in the UniProt DataFrame. All representations were merged into one dictionary:

In [23]:
UNIPROT_df["ESM1b"] = ""

rep_dict = torch.load(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "all_sequences_enz_sub.pt"))

for ind in UNIPROT_df.index:
    try:
        UNIPROT_df["ESM1b"][ind] = rep_dict[str(ind) +".pt"]
    except:
        print(ind)
UNIPROT_df

,Uniprot ID,Sequence,cluster,identity,ESM1b
0,G3QP07,MAAGAGTAGLASGPGVVRDPAASQPRKRPGREGGEGARRSDTMAGG...,43869.0,NaN,"[-0.024416907, 0.18361057, 0.05229881, 0.04472..."
1,Q9KNU3,MRNTMFTSKEGQTIPQVTFPTRQGDAWVNVTSDELFKGKTVIVFSL...,109863.0,NaN,"[-0.10067828, 0.1986571, -0.21036363, 0.013421..."
2,H3HBD2,MYPSVALLLWLWGAGVALQVIGLLGCLVEQNDTSDCASTARDRRTS...,17764.0,NaN,"[0.040806588, 0.1870469, 0.11258543, 0.0708398..."
3,A0A3B6C0N2,MEYHRVVSLVAVVVVLLRRWPALSSAQAPVSRTITVDSHGGGDFSS...,88170.0,60-80%,"[0.07788918, 0.11309477, 0.021622797, 0.094022..."
4,A0A1Z5RRB7,MDMPSHTHSQLCESKALVASYTQEARKRNQQHNMASKPGPLSRWPW...,28018.0,NaN,"[0.04624611, 0.27114883, 0.20789135, -0.034673..."
...,...,...,...,...,...
230809,A0A072VJI1,MELSAVTLGGKGSSLSSSAVYATAIGKSQIKIDSSALDRLTSPPSS...,15606.0,NaN,"[-0.04588662, 0.27346706, 0.12282053, 0.027531..."
230810,D7SVZ9,MFIESFKVESPNVKYTENEIHSVYDYETTELVHENRNGTYQWVVKP...,34817.0,NaN,"[0.0014713518, 0.20142357, 0.077046216, -0.077..."
230811,A0A2C9WL07,MAPISILLFSSILLFSASSTGRALSFNYYEKTCPDVELIVTNAVKN...,93693.0,NaN,"[-0.041781973, 0.19652756, 0.077766806, 0.1401..."
230812,F4ICB6,MGCVNSKQTVSVTPAIDHSGVFRDNVCSGSGRIVVEDLPPVTETKL...,22447.0,NaN,"[0.052631423, 0.29968897, -0.037843555, -0.007..."
230813,B5LAU7,MAAAATCAFFPTGNPPSDSGAKSSGNLGGGSVPGSIDARGLNNVKK...,66315.0,60-80%,"[-0.037645016, 0.23983482, -0.044912808, 0.028..."

In [24]:
UNIPROT_df.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "Uniprot_df_with_ESM1b.pkl"))

## 6. Adding negative data points

In [36]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "Uniprot_df_with_ESM1b.pkl"))

Only using UniProt IDs with ESM1b vectors:

In [39]:
UIDs_with_rep = list(set(UNIPROT_df["Uniprot ID"].loc[UNIPROT_df["ESM1b"] != ""]))

df_UID_MID_train = df_UID_MID_train.loc[df_UID_MID_train["Uniprot ID"].isin(UIDs_with_rep)]
df_UID_MID_test = df_UID_MID_test.loc[df_UID_MID_test["Uniprot ID"].isin(UIDs_with_rep)]

df_UID_MID_train = df_UID_MID_train.sample(frac = 1, random_state = 1).reset_index(drop = True)
df_UID_MID_test = df_UID_MID_test.sample(frac = 1, random_state = 1).reset_index(drop = True)

Mapping ECFPs to DataFrames:

In [71]:
df_ecfps = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "substrate_data", "df_ecfps.pkl"))

df_UID_MID_train["ECFP"] = ""
df_UID_MID_test["ECFP"] = ""
for ind in df_ecfps.index:
    sub_ID, ecfp = df_ecfps["substrate ID"][ind], df_ecfps["ECFP"][ind]
    df_UID_MID_train["ECFP"].loc[df_UID_MID_train["molecule ID"] == sub_ID] = ecfp
    df_UID_MID_test["ECFP"].loc[df_UID_MID_test["molecule ID"] == sub_ID] = ecfp
    
df_UID_MID_test = df_UID_MID_test.loc[df_UID_MID_test["ECFP"] != ""]
df_UID_MID_train = df_UID_MID_train.loc[df_UID_MID_train["ECFP"] != ""]

df_UID_MID_train.to_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data", "df_UID_MID_train.pkl"))
df_UID_MID_test.to_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID_test.pkl"))

In [72]:
df_all = pd.concat([df_UID_MID_train, df_UID_MID_test], ignore_index = True)

df_exp = df_all.loc[df_all["evidence"] == "exp"]
df_phylo = df_all.loc[df_all["evidence"] == "phylo"]

print("We have %s entries with phylogenetic evidence and %s entries with experimental evidence" % (len(df_phylo), len(df_exp)))

print("\n experimental dataset:")
print("Number of different enzymes: %s, Number of different substrates: %s"
      % (len(set(df_exp["Uniprot ID"])), len(set(df_exp["molecule ID"]))) )

print("\n phylogenetic dataset:")
print("Number of different enzymes: %s, Number of different substrates: %s"
      % (len(set(df_phylo["Uniprot ID"])), len(set(df_phylo["molecule ID"]))))

We have 274030 entries with phylogenetic evidence and 18351 entries with experimental evidence

 experimental dataset:
Number of different enzymes: 12156, Number of different substrates: 1379

 phylogenetic dataset:
Number of different enzymes: 198259, Number of different substrates: 661

### (a) Creating negative data points for the training and test set:
To assign the negative data points, we will choose similar metabolites compared to the substrate of the psoitive datapoints. Therefore, we are first creating a similarity matrix for all metabolites in the dataset.

In [87]:
df_chebi_to_inchi = pd.read_csv(join(CURRENT_DIR, ".." ,"data", "substrate_data", "chebiID_to_inchi.tsv"), sep = "\t")
mol_folder = "C:\\Users\\alexk\\mol-files\\"

def get_mol(met_ID):
    is_CHEBI_ID = (met_ID[0:5] == "CHEBI")
    is_InChI = (met_ID[0:5] == "InChI")
    if is_CHEBI_ID:
        try:
            ID = int(met_ID.split(" ")[0].split(":")[-1])
            Inchi = list(df_chebi_to_inchi["Inchi"].loc[df_chebi_to_inchi["ChEBI"] == float(ID)])[0]
            mol = Chem.inchi.MolFromInchi(Inchi)
        except:
            mol = None     
    elif is_InChI:
        try:
            mol = Chem.inchi.MolFromInchi(met_ID)
        except:
            mol = None
        
    else:
        try:
            mol = Chem.MolFromMolFile(mol_folder +  "mol-files\\" + met_ID + '.mol')
        except OSError:
            mol = None
            
    return(mol)

def drop_samples_without_mol_file(df):
    droplist = []
    for ind in df.index:
        if get_mol(met_ID = df["molecule ID"][ind]) is None:
            droplist.append(ind)

    df.drop(droplist, inplace = True)
    return(df)

def get_metabolites_and_similarities(df):
    df_metabolites = pd.DataFrame(data = {"ECFP": df["ECFP"], "ID": df["molecule ID"]})
    df_metabolites = df_metabolites.drop_duplicates()
    df_metabolites.reset_index(inplace = True, drop = True)


    ms = [get_mol(met_ID = df_metabolites["ID"][ind]) for ind in df_metabolites.index]
    fps = [Chem.RDKFingerprint(x) for x in ms]

    similarity_matrix = np.zeros((len(ms), len(ms)))
    for i in range(len(ms)):
        for j in range(len(ms)):
            similarity_matrix[i,j] = DataStructs.FingerprintSimilarity(fps[i],fps[j])
            
    return(df_metabolites, similarity_matrix)



def get_valid_list(met_ID, UID, forbidden_metabolites, df_metabolites, similarity_matrix, lower_bound =0.7, upper_bound =0.9):
    binding_met_IDs = list(df_UID_MID["molecule ID"].loc[df_UID_MID["Uniprot ID"] == UID])
    k = df_metabolites.loc[df_metabolites["ID"] == met_ID].index[0]

    similarities = similarity_matrix[k,:]
    selection = (similarities< upper_bound) * (similarities >lower_bound) 
    metabolites = list(df_metabolites["ID"].loc[selection])
    
    no_mets = list(set(binding_met_IDs + forbidden_metabolites))
    
    metabolites = [met for met in metabolites if (met not in no_mets)]
    return(metabolites)


def create_negative_samples(df, df_metabolites, similarity_matrix):
    start = time.time()
    UID_list = []
    MID_list = []
    Type_list = []
    forbidden_mets = []

    for ind in df.index:
        if ind % 100 ==0:
            print(ind)
            print("Time: %s [min]" % np.round(float((time.time()-start)/60),2))

            df2 = pd.DataFrame(data = {"Uniprot ID": UID_list, "molecule ID" : MID_list, "type" : Type_list})
            df2["Binding"] = 0
            df = pd.concat([df, df2], ignore_index=True)

            UID_list, MID_list, Type_list = [], [], []

            forbidden_mets_old = forbidden_mets.copy()
            all_mets = list(set(df["molecule ID"]))
            all_mets = [met for met in all_mets if not met in forbidden_mets_old]
            forbidden_mets = list(set([met for met in all_mets if 
                                       (np.mean(df["Binding"].loc[df["molecule ID"] == met]) < 1/4)]))
            forbidden_mets = forbidden_mets + forbidden_mets_old
            print(len(forbidden_mets))

        UID = df["Uniprot ID"][ind]
        Type = df["type"][ind]
        met_ID = df["molecule ID"][ind]

        metabolites = get_valid_list(met_ID = met_ID, UID = UID, forbidden_metabolites= forbidden_mets,
                                     df_metabolites = df_metabolites, similarity_matrix = similarity_matrix,
                                     lower_bound =0.7, upper_bound =0.95)
        lower_bound = 0.7
        while len(metabolites) < 2:
            lower_bound = lower_bound - 0.2
            metabolites = get_valid_list(met_ID = met_ID, UID = UID, forbidden_metabolites= forbidden_mets,
                                     df_metabolites = df_metabolites, similarity_matrix = similarity_matrix,
                                     lower_bound =lower_bound, upper_bound =0.95)
            if lower_bound <0:
                break
        
        new_metabolites =  random.sample(metabolites, min(3,len(metabolites)))

        for met in new_metabolites:
            UID_list.append(UID), MID_list.append(met), Type_list.append(Type)

    df2 = pd.DataFrame(data = {"Uniprot ID": UID_list, "molecule ID" : MID_list, "type" : Type_list})
    df2["Binding"] = 0

    df = pd.concat([df, df2], ignore_index = True)
    return(df)

#### (a)(i) Creating negative data points for the training set (experimental evidence):

In [95]:
df_UID_MID_train_exp = df_UID_MID_train.loc[df_UID_MID_train["evidence"] == "exp"]

df_UID_MID_train_exp = drop_samples_without_mol_file(df = df_UID_MID_train_exp)
#calculating similarity matrix for all metabolites in the set:
df_metabolites_train, similarity_matrix_train = get_metabolites_and_similarities(df = df_UID_MID_train_exp)
print(len(df_metabolites_train))

df_UID_MID_train_exp["Binding"] = 1
df_UID_MID_train_exp.reset_index(inplace = True, drop = True)

df_UID_MID_train_exp = create_negative_samples(df = df_UID_MID_train_exp, df_metabolites = df_metabolites_train,
                                          similarity_matrix = similarity_matrix_train)
df_UID_MID_train_exp

1266
0
Time: 0.0 [min]
0
100
Time: 0.05 [min]
3
200
Time: 0.11 [min]
8
300
Time: 0.17 [min]
11
400
Time: 0.23 [min]
20
500
Time: 0.29 [min]
32
600
Time: 0.35 [min]
44
700
Time: 0.4 [min]
59
800
Time: 0.46 [min]
71
900
Time: 0.52 [min]
88
1000
Time: 0.57 [min]
104
1100
Time: 0.63 [min]
117
1200
Time: 0.69 [min]
133
1300
Time: 0.75 [min]
145
1400
Time: 0.81 [min]
154
1500
Time: 0.87 [min]
168
1600
Time: 0.93 [min]
184
1700
Time: 0.99 [min]
206
1800
Time: 1.05 [min]
215
1900
Time: 1.1 [min]
222
2000
Time: 1.16 [min]
234
2100
Time: 1.22 [min]
248
2200
Time: 1.28 [min]
257
2300
Time: 1.34 [min]
263
2400
Time: 1.41 [min]
280
2500
Time: 1.47 [min]
294
2600
Time: 1.53 [min]
308
2700
Time: 1.59 [min]
316
2800
Time: 1.65 [min]
329
2900
Time: 1.71 [min]
337
3000
Time: 1.77 [min]
347
3100
Time: 1.83 [min]
361
3200
Time: 1.9 [min]
373
3300
Time: 1.98 [min]
382
3400
Time: 2.05 [min]
396
3500
Time: 2.11 [min]
405
3600
Time: 2.17 [min]
420
3700
Time: 2.23 [min]
428
3800
Time: 2.3 [min]
435
3900
Time: 2.37 [min]
443
4000
Time: 2.43 [min]
454
4100
Time: 2.49 [min]
465
4200
Time: 2.55 [min]
473
4300
Time: 2.62 [min]
480
4400
Time: 2.69 [min]
491
4500
Time: 2.75 [min]
499
4600
Time: 2.81 [min]
509
4700
Time: 2.87 [min]
516
4800
Time: 2.94 [min]
519
4900
Time: 3.0 [min]
530
5000
Time: 3.07 [min]
542
5100
Time: 3.13 [min]
548
5200
Time: 3.19 [min]
558
5300
Time: 3.26 [min]
574
5400
Time: 3.33 [min]
586
5500
Time: 3.39 [min]
593
5600
Time: 3.46 [min]
605
5700
Time: 3.52 [min]
611
5800
Time: 3.58 [min]
623
5900
Time: 3.65 [min]
637
6000
Time: 3.72 [min]
652
6100
Time: 3.78 [min]
664
6200
Time: 3.85 [min]
669
6300
Time: 3.91 [min]
679
6400
Time: 3.97 [min]
688
6500
Time: 4.04 [min]
694
6600
Time: 4.1 [min]
699
6700
Time: 4.17 [min]
709
6800
Time: 4.23 [min]
713
6900
Time: 4.3 [min]
726
7000
Time: 4.36 [min]
736
7100
Time: 4.43 [min]
748
7200
Time: 4.49 [min]
756
7300
Time: 4.55 [min]
768
7400
Time: 4.62 [min]
777
7500
Time: 4.68 [min]
782
7600
Time: 4.75 [min]
790
7700
Time: 4.81 [min]
796
7800
Time: 4.88 [min]
804
7900
Time: 4.94 [min]
814
8000
Time: 5.01 [min]
819
8100
Time: 5.08 [min]
831
8200
Time: 5.14 [min]
844
8300
Time: 5.21 [min]
853
8400
Time: 5.27 [min]
865
8500
Time: 5.34 [min]
875
8600
Time: 5.4 [min]
884
8700
Time: 5.47 [min]
895
8800
Time: 5.54 [min]
907
8900
Time: 5.6 [min]
917
9000
Time: 5.67 [min]
925
9100
Time: 5.73 [min]
931
9200
Time: 5.8 [min]
939
9300
Time: 5.86 [min]
942
9400
Time: 5.93 [min]
951
9500
Time: 5.99 [min]
959
9600
Time: 6.05 [min]
968
9700
Time: 6.13 [min]
976
9800
Time: 6.2 [min]
985
9900
Time: 6.26 [min]
993
10000
Time: 6.34 [min]
997
10100
Time: 6.41 [min]
1003
10200
Time: 6.48 [min]
1012
10300
Time: 6.55 [min]
1018
10400
Time: 6.62 [min]
1025
10500
Time: 6.69 [min]
1032
10600
Time: 6.76 [min]
1038
10700
Time: 6.84 [min]
1049
10800
Time: 6.92 [min]
1060
10900
Time: 6.99 [min]
1071
11000
Time: 7.06 [min]
1074
11100
Time: 7.14 [min]
1079
11200
Time: 7.22 [min]
1080
11300
Time: 7.3 [min]
1085
11400
Time: 7.37 [min]
1088
11500
Time: 7.45 [min]
1092
11600
Time: 7.54 [min]
1099
11700
Time: 7.62 [min]
1106
11800
Time: 7.7 [min]
1107
11900
Time: 7.78 [min]
1111
12000
Time: 7.86 [min]
1117
12100
Time: 7.94 [min]
1126
12200
Time: 8.01 [min]
1130
12300
Time: 8.1 [min]
1137
12400
Time: 8.18 [min]
1140
12500
Time: 8.27 [min]
1145
12600
Time: 8.36 [min]
1156
12700
Time: 8.45 [min]
1161
12800
Time: 8.53 [min]
1165
12900
Time: 8.62 [min]
1170
13000
Time: 8.71 [min]
1174
13100
Time: 8.8 [min]
1177
13200
Time: 8.88 [min]
1180
13300
Time: 8.97 [min]
1184
13400
Time: 9.07 [min]
1187
13500
Time: 9.16 [min]
1190
13600
Time: 9.25 [min]
1193
13700
Time: 9.34 [min]
1198
13800
Time: 9.43 [min]
1206
13900
Time: 9.53 [min]
1210
14000
Time: 9.61 [min]
1213
14100
Time: 9.71 [min]
1216
14200
Time: 9.81 [min]
1222
14300
Time: 9.91 [min]
1226
14400
Time: 10.02 [min]
1228
14500
Time: 10.12 [min]
1234
14600
Time: 10.23 [min]
1236

,Uniprot ID,molecule ID,evidence,ECFP,Binding,type
0,Q5B2F7,CHEBI:57344,exp,0100000001000000000000000000000001000000000000...,1,NaN
1,Q9SAH9,CHEBI:58349,exp,0000000001000000100000100000000000000000000000...,1,NaN
2,Q8IPJ6,CHEBI:57776,exp,0000000000000000000000000000010001000000000000...,1,NaN
3,A0A1D5PCZ1,C00002,exp,0000000001000000000000000000000000000000000000...,1,NaN
4,O22765,CHEBI:33384,exp,0100000000000000000000000000000000000000000000...,1,NaN
...,...,...,...,...,...,...
55413,P43123,CHEBI:30616,NaN,NaN,0,NaN
55414,Q8RVK9,C00002,NaN,NaN,0,NaN
55415,Q8RVK9,CHEBI:30616,NaN,NaN,0,NaN
55416,Q62730,CHEBI:30616,NaN,NaN,0,NaN
55417,Q62730,C00002,NaN,NaN,0,NaN

#### (a)(ii) Creating negative data points for the training set (phylogentical evidence):

In [96]:
df_UID_MID_train_phylo = df_UID_MID_train.loc[df_UID_MID_train["evidence"] == "phylo"]

In [98]:
df_UID_MID_train_phylo = drop_samples_without_mol_file(df = df_UID_MID_train_phylo)
#calculating similarity matrix for all metabolites in the set:
df_metabolites_train, similarity_matrix_train = get_metabolites_and_similarities(df = df_UID_MID_train_phylo)
print(len(df_metabolites_train))

df_UID_MID_train_phylo["Binding"] = 1
df_UID_MID_train_phylo.reset_index(inplace = True, drop = True)

df_UID_MID_train_phylo = create_negative_samples(df = df_UID_MID_train_phylo, df_metabolites = df_metabolites_train,
                                          similarity_matrix = similarity_matrix_train)
df_UID_MID_train_phylo

655
0
Time: 0.0 [min]
0
100
Time: 0.14 [min]
0
200
Time: 0.29 [min]
0
300
Time: 0.44 [min]
0
400
Time: 0.59 [min]
0
500
Time: 0.73 [min]
1
600
Time: 0.88 [min]
2
700
Time: 1.03 [min]
2
800
Time: 1.17 [min]
3
900
Time: 1.32 [min]
4
1000
Time: 1.46 [min]
4
1100
Time: 1.61 [min]
4
1200
Time: 1.77 [min]
4
1300
Time: 1.91 [min]
5
1400
Time: 2.06 [min]
5
1500
Time: 2.21 [min]
6
1600
Time: 2.36 [min]
6
1700
Time: 2.52 [min]
6
1800
Time: 2.67 [min]
6
1900
Time: 2.82 [min]
6
2000
Time: 2.96 [min]
8
2100
Time: 3.1 [min]
9
2200
Time: 3.25 [min]
11
2300
Time: 3.39 [min]
13
2400
Time: 3.53 [min]
13
2500
Time: 3.67 [min]
14
2600
Time: 3.81 [min]
15
2700
Time: 3.95 [min]
15
2800
Time: 4.09 [min]
15
2900
Time: 4.23 [min]
15
3000
Time: 4.37 [min]
15
3100
Time: 4.51 [min]
15
3200
Time: 4.65 [min]
16
3300
Time: 4.79 [min]
17
3400
Time: 4.94 [min]
17
3500
Time: 5.08 [min]
17
3600
Time: 5.22 [min]
18
3700
Time: 5.37 [min]
18
3800
Time: 5.51 [min]
18
3900
Time: 5.66 [min]
18
4000
Time: 5.8 [min]
18
4100
Time: 5.94 [min]
19
4200
Time: 6.09 [min]
19
4300
Time: 6.23 [min]
19
4400
Time: 6.38 [min]
19
4500
Time: 6.52 [min]
19
4600
Time: 6.67 [min]
19
4700
Time: 6.82 [min]
22
4800
Time: 6.96 [min]
24
4900
Time: 7.11 [min]
25
5000
Time: 7.25 [min]
25
5100
Time: 7.4 [min]
27
5200
Time: 7.54 [min]
28
5300
Time: 7.69 [min]
28
5400
Time: 7.83 [min]
29
5500
Time: 7.97 [min]
30
5600
Time: 8.12 [min]
31
5700
Time: 8.26 [min]
31
5800
Time: 8.41 [min]
35
5900
Time: 8.56 [min]
35
6000
Time: 8.71 [min]
37
6100
Time: 8.85 [min]
39
6200
Time: 9.0 [min]
39
6300
Time: 9.15 [min]
39
6400
Time: 9.29 [min]
39
6500
Time: 9.44 [min]
41
6600
Time: 9.58 [min]
42
6700
Time: 9.73 [min]
44
6800
Time: 9.87 [min]
44
6900
Time: 10.02 [min]
44
7000
Time: 10.16 [min]
45
7100
Time: 10.3 [min]
46
7200
Time: 10.44 [min]
47
7300
Time: 10.58 [min]
47
7400
Time: 10.72 [min]
47
7500
Time: 10.87 [min]
47
7600
Time: 11.01 [min]
47
7700
Time: 11.15 [min]
48
7800
Time: 11.3 [min]
49
7900
Time: 11.44 [min]
50
8000
Time: 11.58 [min]
52
8100
Time: 11.73 [min]
52
8200
Time: 11.87 [min]
53
8300
Time: 12.01 [min]
54
8400
Time: 12.15 [min]
55
8500
Time: 12.29 [min]
56
8600
Time: 12.43 [min]
56
8700
Time: 12.58 [min]
56
8800
Time: 12.72 [min]
56
8900
Time: 12.87 [min]
57
9000
Time: 13.01 [min]
58
9100
Time: 13.15 [min]
58
9200
Time: 13.3 [min]
58
9300
Time: 13.44 [min]
59
9400
Time: 13.59 [min]
60
9500
Time: 13.73 [min]
61
9600
Time: 13.87 [min]
62
9700
Time: 14.02 [min]
62
9800
Time: 14.17 [min]
62
9900
Time: 14.31 [min]
63
10000
Time: 14.46 [min]
65
10100
Time: 14.6 [min]
66
10200
Time: 14.75 [min]
69
10300
Time: 14.89 [min]
70
10400
Time: 15.04 [min]
71
10500
Time: 15.18 [min]
71
10600
Time: 15.33 [min]
71
10700
Time: 15.47 [min]
71
10800
Time: 15.62 [min]
72
10900
Time: 15.77 [min]
72
11000
Time: 15.91 [min]
72
11100
Time: 16.06 [min]
74
11200
Time: 16.21 [min]
76
11300
Time: 16.35 [min]
76
11400
Time: 16.49 [min]
76
11500
Time: 16.64 [min]
77
11600
Time: 16.79 [min]
78
11700
Time: 16.93 [min]
79
11800
Time: 17.08 [min]
80
11900
Time: 17.22 [min]
80
12000
Time: 17.37 [min]
81
12100
Time: 17.52 [min]
81
12200
Time: 17.67 [min]
81
12300
Time: 17.81 [min]
81
12400
Time: 17.96 [min]
84
12500
Time: 18.11 [min]
85
12600
Time: 18.25 [min]
85
12700
Time: 18.4 [min]
85
12800
Time: 18.55 [min]
85
12900
Time: 18.69 [min]
85
13000
Time: 18.84 [min]
85
13100
Time: 18.98 [min]
86
13200
Time: 19.12 [min]
86
13300
Time: 19.26 [min]
86
13400
Time: 19.41 [min]
88
13500
Time: 19.55 [min]
88
13600
Time: 19.7 [min]
89
13700
Time: 19.84 [min]
89
13800
Time: 19.99 [min]
91
13900
Time: 20.14 [min]
91
14000
Time: 20.29 [min]
91
14100
Time: 20.44 [min]
91
14200
Time: 20.58 [min]
91
14300
Time: 20.73 [min]
92
14400
Time: 20.87 [min]
94
14500
Time: 21.01 [min]
95
14600
Time: 21.16 [min]
98
14700
Time: 21.31 [min]
98
14800
Time: 21.45 [min]
98
14900
Time: 21.6 [min]
100
15000
Time: 21.75 [min]
102
15100
Time: 21.9 [min]
102
15200
Time: 22.04 [min]
103
15300
Time: 22.19 [min]
104
15400
Time: 22.34 [min]
105
15500
Time: 22.48 [min]
107
15600
Time: 22.63 [min]
107
15700
Time: 22.77 [min]
110
15800
Time: 22.92 [min]
110
15900
Time: 23.07 [min]
113
16000
Time: 23.22 [min]
114
16100
Time: 23.36 [min]
114
16200
Time: 23.5 [min]
116
16300
Time: 23.65 [min]
116
16400
Time: 23.79 [min]
117
16500
Time: 23.93 [min]
117
16600
Time: 24.08 [min]
117
16700
Time: 24.22 [min]
119
16800
Time: 24.37 [min]
119
16900
Time: 24.51 [min]
119
17000
Time: 24.66 [min]
120
17100
Time: 24.8 [min]
120
17200
Time: 24.95 [min]
121
17300
Time: 25.09 [min]
123
17400
Time: 25.24 [min]
124
17500
Time: 25.39 [min]
126
17600
Time: 25.53 [min]
126
17700
Time: 25.68 [min]
127
17800
Time: 25.82 [min]
127
17900
Time: 25.97 [min]
127
18000
Time: 26.11 [min]
128
18100
Time: 26.26 [min]
128
18200
Time: 26.4 [min]
129
18300
Time: 26.54 [min]
130
18400
Time: 26.69 [min]
130
18500
Time: 26.83 [min]
130
18600
Time: 26.98 [min]
132
18700
Time: 27.12 [min]
132
18800
Time: 27.27 [min]
133
18900
Time: 27.41 [min]
134
19000
Time: 27.56 [min]
134
19100
Time: 27.7 [min]
135
19200
Time: 27.84 [min]
136
19300
Time: 27.99 [min]
136
19400
Time: 28.13 [min]
137
19500
Time: 28.28 [min]
138
19600
Time: 28.42 [min]
138
19700
Time: 28.57 [min]
139
19800
Time: 28.71 [min]
139
19900
Time: 28.85 [min]
140
20000
Time: 29.0 [min]
141
20100
Time: 29.14 [min]
141
20200
Time: 29.28 [min]
141
20300
Time: 29.42 [min]
141
20400
Time: 29.57 [min]
141
20500
Time: 29.71 [min]
142
20600
Time: 29.86 [min]
142
20700
Time: 30.0 [min]
142
20800
Time: 30.14 [min]
142
20900
Time: 30.29 [min]
142
21000
Time: 30.43 [min]
142
21100
Time: 30.58 [min]
143
21200
Time: 30.72 [min]
143
21300
Time: 30.87 [min]
145
21400
Time: 31.01 [min]
145
21500
Time: 31.15 [min]
145
21600
Time: 31.3 [min]
145
21700
Time: 31.44 [min]
147
21800
Time: 31.59 [min]
148
21900
Time: 31.74 [min]
148
22000
Time: 31.88 [min]
148
22100
Time: 32.03 [min]
148
22200
Time: 32.17 [min]
148
22300
Time: 32.31 [min]
149
22400
Time: 32.46 [min]
149
22500
Time: 32.6 [min]
150
22600
Time: 32.74 [min]
152
22700
Time: 32.89 [min]
153
22800
Time: 33.03 [min]
153
22900
Time: 33.17 [min]
153
23000
Time: 33.31 [min]
158
23100
Time: 33.46 [min]
158
23200
Time: 33.6 [min]
158
23300
Time: 33.74 [min]
159
23400
Time: 33.89 [min]
159
23500
Time: 34.03 [min]
159
23600
Time: 34.17 [min]
159
23700
Time: 34.32 [min]
159
23800
Time: 34.46 [min]
159
23900
Time: 34.61 [min]
161
24000
Time: 34.75 [min]
162
24100
Time: 34.9 [min]
162
24200
Time: 35.05 [min]
162
24300
Time: 35.2 [min]
162
24400
Time: 35.35 [min]
163
24500
Time: 35.49 [min]
163
24600
Time: 35.64 [min]
163
24700
Time: 35.79 [min]
164
24800
Time: 35.94 [min]
164
24900
Time: 36.08 [min]
164
25000
Time: 36.23 [min]
164
25100
Time: 36.37 [min]
164
25200
Time: 36.51 [min]
164
25300
Time: 36.66 [min]
164
25400
Time: 36.8 [min]
164
25500
Time: 36.94 [min]
165
25600
Time: 37.08 [min]
166
25700
Time: 37.23 [min]
166
25800
Time: 37.38 [min]
166
25900
Time: 37.52 [min]
167
26000
Time: 37.66 [min]
169
26100
Time: 37.81 [min]
170
26200
Time: 37.96 [min]
171
26300
Time: 38.11 [min]
171
26400
Time: 38.25 [min]
171
26500
Time: 38.4 [min]
172
26600
Time: 38.55 [min]
173
26700
Time: 38.69 [min]
174
26800
Time: 38.84 [min]
175
26900
Time: 38.98 [min]
175
27000
Time: 39.12 [min]
175
27100
Time: 39.26 [min]
176
27200
Time: 39.4 [min]
176
27300
Time: 39.55 [min]
176
27400
Time: 39.69 [min]
176
27500
Time: 39.83 [min]
176
27600
Time: 39.98 [min]
176
27700
Time: 40.12 [min]
177
27800
Time: 40.27 [min]
177
27900
Time: 40.42 [min]
178
28000
Time: 40.56 [min]
178
28100
Time: 40.71 [min]
181
28200
Time: 40.85 [min]
182
28300
Time: 41.0 [min]
182
28400
Time: 41.14 [min]
183
28500
Time: 41.29 [min]
186
28600
Time: 41.43 [min]
186
28700
Time: 41.57 [min]
186
28800
Time: 41.72 [min]
186
28900
Time: 41.86 [min]
186
29000
Time: 42.0 [min]
186
29100
Time: 42.15 [min]
187
29200
Time: 42.3 [min]
187
29300
Time: 42.45 [min]
187
29400
Time: 42.59 [min]
188
29500
Time: 42.74 [min]
189
29600
Time: 42.89 [min]
189
29700
Time: 43.04 [min]
189
29800
Time: 43.18 [min]
191
29900
Time: 43.33 [min]
191
30000
Time: 43.47 [min]
192
30100
Time: 43.62 [min]
192
30200
Time: 43.78 [min]
192
30300
Time: 43.92 [min]
192
30400
Time: 44.07 [min]
192
30500
Time: 44.21 [min]
192
30600
Time: 44.35 [min]

192
30700
Time: 44.49 [min]
194
30800
Time: 44.63 [min]
196
30900
Time: 44.78 [min]
197
31000
Time: 44.92 [min]
197
31100
Time: 45.06 [min]
198
31200
Time: 45.2 [min]
198
31300
Time: 45.34 [min]
199
31400
Time: 45.48 [min]
199
31500
Time: 45.62 [min]
200
31600
Time: 45.77 [min]
200
31700
Time: 45.91 [min]
200
31800
Time: 46.05 [min]
200
31900
Time: 46.19 [min]
200
32000
Time: 46.33 [min]
200
32100
Time: 46.47 [min]
200
32200
Time: 46.61 [min]
202
32300
Time: 46.76 [min]
202
32400
Time: 46.9 [min]
202
32500
Time: 47.04 [min]
202
32600
Time: 47.18 [min]
202
32700
Time: 47.32 [min]
203
32800
Time: 47.47 [min]
203
32900
Time: 47.61 [min]
204
33000
Time: 47.75 [min]
205
33100
Time: 47.9 [min]
206
33200
Time: 48.04 [min]
206
33300
Time: 48.18 [min]
206
33400
Time: 48.32 [min]
207
33500
Time: 48.45 [min]
207
33600
Time: 48.6 [min]
207
33700
Time: 48.74 [min]
207
33800
Time: 48.88 [min]
207
33900
Time: 49.03 [min]
207
34000
Time: 49.17 [min]
207
34100
Time: 49.31 [min]
208
34200
Time: 49.46 [min]
208
34300
Time: 49.6 [min]
208
34400
Time: 49.74 [min]
208
34500
Time: 49.88 [min]
208
34600
Time: 50.02 [min]
208
34700
Time: 50.17 [min]
208
34800
Time: 50.3 [min]
208
34900
Time: 50.44 [min]
209
35000
Time: 50.58 [min]
209
35100
Time: 50.73 [min]
209
35200
Time: 50.87 [min]
210
35300
Time: 51.01 [min]
210
35400
Time: 51.15 [min]
210
35500
Time: 51.3 [min]
210
35600
Time: 51.44 [min]
212
35700
Time: 51.58 [min]
213
35800
Time: 51.73 [min]
213
35900
Time: 51.87 [min]
214
36000
Time: 52.01 [min]
214
36100
Time: 52.16 [min]
214
36200
Time: 52.3 [min]
214
36300
Time: 52.44 [min]
215
36400
Time: 52.59 [min]
216
36500
Time: 52.74 [min]
216
36600
Time: 52.88 [min]
216
36700
Time: 53.02 [min]
216
36800
Time: 53.17 [min]
217
36900
Time: 53.31 [min]
217
37000
Time: 53.45 [min]
217
37100
Time: 53.6 [min]
218
37200
Time: 53.75 [min]
218
37300
Time: 53.89 [min]
218
37400
Time: 54.04 [min]
218
37500
Time: 54.18 [min]
218
37600
Time: 54.32 [min]
218
37700
Time: 54.46 [min]
218
37800
Time: 54.61 [min]
219
37900
Time: 54.76 [min]
219
38000
Time: 54.9 [min]
219
38100
Time: 55.04 [min]
219
38200
Time: 55.19 [min]
219
38300
Time: 55.33 [min]
220
38400
Time: 55.48 [min]
220
38500
Time: 55.63 [min]
221
38600
Time: 55.77 [min]
221
38700
Time: 55.91 [min]
221
38800
Time: 56.06 [min]
223
38900
Time: 56.21 [min]
223
39000
Time: 56.35 [min]
224
39100
Time: 56.5 [min]
224
39200
Time: 56.64 [min]
224
39300
Time: 56.79 [min]
225
39400
Time: 56.93 [min]
226
39500
Time: 57.08 [min]
227
39600
Time: 57.23 [min]
227
39700
Time: 57.37 [min]
227
39800
Time: 57.51 [min]
227
39900
Time: 57.66 [min]
227
40000
Time: 57.81 [min]
227
40100
Time: 57.95 [min]
229
40200
Time: 58.09 [min]
230
40300
Time: 58.24 [min]
230
40400
Time: 58.38 [min]
230
40500
Time: 58.52 [min]
230
40600
Time: 58.66 [min]
231
40700
Time: 58.8 [min]
231
40800
Time: 58.94 [min]
233
40900
Time: 59.08 [min]
233
41000
Time: 59.23 [min]
233
41100
Time: 59.37 [min]
233
41200
Time: 59.51 [min]
235
41300
Time: 59.66 [min]
236
41400
Time: 59.8 [min]
237
41500
Time: 59.94 [min]
238
41600
Time: 60.08 [min]
238
41700
Time: 60.23 [min]
239
41800
Time: 60.37 [min]
239
41900
Time: 60.52 [min]
239
42000
Time: 60.66 [min]
239
42100
Time: 60.8 [min]
240
42200
Time: 60.95 [min]
240
42300
Time: 61.1 [min]
240
42400
Time: 61.24 [min]
240
42500
Time: 61.39 [min]
240
42600
Time: 61.53 [min]
241
42700
Time: 61.66 [min]
242
42800
Time: 61.8 [min]
242
42900
Time: 61.94 [min]
243
43000
Time: 62.08 [min]
243
43100
Time: 62.22 [min]
244
43200
Time: 62.37 [min]
245
43300
Time: 62.52 [min]
245
43400
Time: 62.66 [min]
245
43500
Time: 62.8 [min]
246
43600
Time: 62.96 [min]
246
43700
Time: 63.1 [min]
246
43800
Time: 63.25 [min]
246
43900
Time: 63.39 [min]
246
44000
Time: 63.53 [min]
246
44100
Time: 63.67 [min]
246
44200
Time: 63.81 [min]
247
44300
Time: 63.96 [min]
248
44400
Time: 64.11 [min]
249
44500
Time: 64.26 [min]
249
44600
Time: 64.4 [min]
249
44700
Time: 64.54 [min]
249
44800
Time: 64.69 [min]
249
44900
Time: 64.83 [min]
250
45000
Time: 64.97 [min]
250
45100
Time: 65.12 [min]
250
45200
Time: 65.26 [min]
250
45300
Time: 65.4 [min]
250
45400
Time: 65.54 [min]
250
45500
Time: 65.69 [min]
250
45600
Time: 65.84 [min]
250
45700
Time: 65.98 [min]
250
45800
Time: 66.12 [min]
250
45900
Time: 66.27 [min]
251
46000
Time: 66.44 [min]
252
46100
Time: 66.59 [min]
252
46200
Time: 66.74 [min]
252
46300
Time: 66.88 [min]
252
46400
Time: 67.03 [min]
252
46500
Time: 67.17 [min]
252
46600
Time: 67.32 [min]
252
46700
Time: 67.46 [min]
252
46800
Time: 67.61 [min]
252
46900
Time: 67.76 [min]
252
47000
Time: 67.91 [min]
252
47100
Time: 68.05 [min]
252
47200
Time: 68.2 [min]
252
47300
Time: 68.34 [min]
252
47400
Time: 68.49 [min]
252
47500
Time: 68.63 [min]
252
47600
Time: 68.77 [min]
252
47700
Time: 68.91 [min]
253
47800
Time: 69.05 [min]
253
47900
Time: 69.2 [min]
253
48000
Time: 69.34 [min]
253
48100
Time: 69.49 [min]
253
48200
Time: 69.63 [min]
254
48300
Time: 69.78 [min]
254
48400
Time: 69.92 [min]
255
48500
Time: 70.07 [min]
256
48600
Time: 70.21 [min]
256
48700
Time: 70.35 [min]
256
48800
Time: 70.5 [min]
256
48900
Time: 70.64 [min]
257
49000
Time: 70.78 [min]
257
49100
Time: 70.92 [min]
257
49200
Time: 71.07 [min]
258
49300
Time: 71.21 [min]
258
49400
Time: 71.35 [min]
258
49500
Time: 71.49 [min]
258
49600
Time: 71.64 [min]
259
49700
Time: 71.78 [min]
259
49800
Time: 71.92 [min]
259
49900
Time: 72.06 [min]
259
50000
Time: 72.21 [min]
260
50100
Time: 72.35 [min]
260
50200
Time: 72.5 [min]
262
50300
Time: 72.64 [min]
262
50400
Time: 72.78 [min]
262
50500
Time: 72.92 [min]
262
50600
Time: 73.07 [min]
262
50700
Time: 73.21 [min]
263
50800
Time: 73.36 [min]
263
50900
Time: 73.5 [min]
263
51000
Time: 73.65 [min]
263
51100
Time: 73.79 [min]
264
51200
Time: 73.94 [min]
266
51300
Time: 74.09 [min]
266
51400
Time: 74.23 [min]
266
51500
Time: 74.37 [min]
266
51600
Time: 74.51 [min]
266
51700
Time: 74.66 [min]
266
51800
Time: 74.8 [min]
267
51900
Time: 74.95 [min]
267
52000
Time: 75.1 [min]
267
52100
Time: 75.25 [min]
267
52200
Time: 75.39 [min]
267
52300
Time: 75.53 [min]
268
52400
Time: 75.68 [min]
268
52500
Time: 75.83 [min]
268
52600
Time: 75.99 [min]
268
52700
Time: 76.14 [min]
268
52800
Time: 76.29 [min]
268
52900
Time: 76.44 [min]
269
53000
Time: 76.59 [min]
269
53100
Time: 76.73 [min]
269
53200
Time: 76.88 [min]
269
53300
Time: 77.02 [min]
269
53400
Time: 77.17 [min]
269
53500
Time: 77.32 [min]
269
53600
Time: 77.47 [min]
270
53700
Time: 77.62 [min]
270
53800
Time: 77.76 [min]
270
53900
Time: 77.91 [min]
270
54000
Time: 78.06 [min]
270
54100
Time: 78.2 [min]
270
54200
Time: 78.35 [min]
271
54300
Time: 78.49 [min]
271
54400
Time: 78.64 [min]
271
54500
Time: 78.78 [min]
271
54600
Time: 78.93 [min]
271
54700
Time: 79.07 [min]
271
54800
Time: 79.22 [min]
271
54900
Time: 79.37 [min]
271
55000
Time: 79.52 [min]
272
55100
Time: 79.67 [min]
272
55200
Time: 79.81 [min]
274
55300
Time: 79.96 [min]
274
55400
Time: 80.11 [min]
275
55500
Time: 80.25 [min]
277
55600
Time: 80.4 [min]
277
55700
Time: 80.55 [min]
277
55800
Time: 80.7 [min]
278
55900
Time: 80.84 [min]
278
56000
Time: 80.99 [min]
278
56100
Time: 81.13 [min]
278
56200
Time: 81.28 [min]
278
56300
Time: 81.43 [min]
278
56400
Time: 81.58 [min]
278
56500
Time: 81.72 [min]
278
56600
Time: 81.87 [min]
278
56700
Time: 82.02 [min]
281
56800
Time: 82.16 [min]
281
56900
Time: 82.31 [min]
281
57000
Time: 82.46 [min]
281
57100
Time: 82.61 [min]
281
57200
Time: 82.76 [min]
281
57300
Time: 82.9 [min]
281
57400
Time: 83.05 [min]
281
57500
Time: 83.2 [min]
281
57600
Time: 83.34 [min]
282
57700
Time: 83.49 [min]
282
57800
Time: 83.64 [min]
282
57900
Time: 83.78 [min]
283
58000
Time: 83.93 [min]
286
58100
Time: 84.08 [min]
286
58200
Time: 84.23 [min]
287
58300
Time: 84.37 [min]
287
58400
Time: 84.52 [min]
287
58500
Time: 84.67 [min]
288
58600
Time: 84.81 [min]
288
58700
Time: 84.96 [min]
288
58800
Time: 85.11 [min]
288
58900
Time: 85.27 [min]
288
59000
Time: 85.41 [min]
288
59100
Time: 85.55 [min]
289
59200
Time: 85.7 [min]
290
59300
Time: 85.85 [min]
290
59400
Time: 85.99 [min]
291
59500
Time: 86.14 [min]
292
59600
Time: 86.28 [min]
292
59700
Time: 86.43 [min]
292
59800
Time: 86.57 [min]
292
59900
Time: 86.72 [min]
294
60000
Time: 86.86 [min]

294
60100
Time: 87.01 [min]
294
60200
Time: 87.16 [min]
294
60300
Time: 87.29 [min]
294
60400
Time: 87.44 [min]
294
60500
Time: 87.58 [min]
295
60600
Time: 87.73 [min]
297
60700
Time: 87.87 [min]
297
60800
Time: 88.01 [min]
298
60900
Time: 88.15 [min]
298
61000
Time: 88.3 [min]
298
61100
Time: 88.44 [min]
298
61200
Time: 88.58 [min]
299
61300
Time: 88.72 [min]
299
61400
Time: 88.86 [min]
300
61500
Time: 89.0 [min]
300
61600
Time: 89.15 [min]
300
61700
Time: 89.29 [min]
300
61800
Time: 89.43 [min]
300
61900
Time: 89.58 [min]
300
62000
Time: 89.72 [min]
301
62100
Time: 89.87 [min]
301
62200
Time: 90.02 [min]
302
62300
Time: 90.16 [min]
302
62400
Time: 90.31 [min]
303
62500
Time: 90.45 [min]
304
62600
Time: 90.59 [min]
305
62700
Time: 90.74 [min]
305
62800
Time: 90.88 [min]
305
62900
Time: 91.02 [min]
305
63000
Time: 91.17 [min]
306
63100
Time: 91.31 [min]
306
63200
Time: 91.45 [min]
306
63300
Time: 91.6 [min]
306
63400
Time: 91.74 [min]
306
63500
Time: 91.88 [min]
306
63600
Time: 92.03 [min]
306
63700
Time: 92.18 [min]
306
63800
Time: 92.32 [min]
306
63900
Time: 92.46 [min]
306
64000
Time: 92.61 [min]
306
64100
Time: 92.75 [min]
306
64200
Time: 92.89 [min]
306
64300
Time: 93.04 [min]
306
64400
Time: 93.18 [min]
306
64500
Time: 93.32 [min]
307
64600
Time: 93.46 [min]
310
64700
Time: 93.61 [min]
310
64800
Time: 93.75 [min]
310
64900
Time: 93.88 [min]
310
65000
Time: 94.03 [min]
310
65100
Time: 94.17 [min]
311
65200
Time: 94.32 [min]
312
65300
Time: 94.46 [min]
312
65400
Time: 94.6 [min]
312
65500
Time: 94.74 [min]
312
65600
Time: 94.88 [min]
312
65700
Time: 95.02 [min]
312
65800
Time: 95.17 [min]
312
65900
Time: 95.3 [min]
312
66000
Time: 95.45 [min]
312
66100
Time: 95.59 [min]
312
66200
Time: 95.73 [min]
312
66300
Time: 95.88 [min]
312
66400
Time: 96.02 [min]
313
66500
Time: 96.17 [min]
313
66600
Time: 96.31 [min]
315
66700
Time: 96.46 [min]
315
66800
Time: 96.6 [min]
315
66900
Time: 96.74 [min]
315
67000
Time: 96.88 [min]
315
67100
Time: 97.03 [min]
315
67200
Time: 97.17 [min]
315
67300
Time: 97.31 [min]
315
67400
Time: 97.46 [min]
316
67500
Time: 97.6 [min]
316
67600
Time: 97.74 [min]
316
67700
Time: 97.88 [min]
316
67800
Time: 98.02 [min]
316
67900
Time: 98.17 [min]
319
68000
Time: 98.31 [min]
319
68100
Time: 98.46 [min]
319
68200
Time: 98.6 [min]
320
68300
Time: 98.75 [min]
320
68400
Time: 98.88 [min]
321
68500
Time: 99.03 [min]
321
68600
Time: 99.17 [min]
321
68700
Time: 99.32 [min]
323
68800
Time: 99.46 [min]
323
68900
Time: 99.6 [min]
323
69000
Time: 99.74 [min]
324
69100
Time: 99.88 [min]
324
69200
Time: 100.02 [min]
324
69300
Time: 100.17 [min]
324
69400
Time: 100.31 [min]
324
69500
Time: 100.45 [min]
326
69600
Time: 100.59 [min]
326
69700
Time: 100.73 [min]
326
69800
Time: 100.87 [min]
326
69900
Time: 101.01 [min]
326
70000
Time: 101.16 [min]
326
70100
Time: 101.3 [min]
326
70200
Time: 101.44 [min]
327
70300
Time: 101.57 [min]
327
70400
Time: 101.71 [min]
327
70500
Time: 101.86 [min]
327
70600
Time: 102.0 [min]
327
70700
Time: 102.14 [min]
327
70800
Time: 102.28 [min]
327
70900
Time: 102.42 [min]
327
71000
Time: 102.56 [min]
327
71100
Time: 102.7 [min]
328
71200
Time: 102.84 [min]
328
71300
Time: 102.98 [min]
328
71400
Time: 103.12 [min]
328
71500
Time: 103.26 [min]
328
71600
Time: 103.41 [min]
328
71700
Time: 103.55 [min]
329
71800
Time: 103.69 [min]
329
71900
Time: 103.83 [min]
329
72000
Time: 103.97 [min]
330
72100
Time: 104.11 [min]
330
72200
Time: 104.25 [min]
331
72300
Time: 104.39 [min]
332
72400
Time: 104.53 [min]
333
72500
Time: 104.67 [min]
333
72600
Time: 104.81 [min]
333
72700
Time: 104.96 [min]
333
72800
Time: 105.1 [min]
333
72900
Time: 105.24 [min]
334
73000
Time: 105.37 [min]
334
73100
Time: 105.51 [min]
335
73200
Time: 105.66 [min]
335
73300
Time: 105.79 [min]
336
73400
Time: 105.94 [min]
336
73500
Time: 106.07 [min]
337
73600
Time: 106.21 [min]
337
73700
Time: 106.35 [min]
338
73800
Time: 106.5 [min]
339
73900
Time: 106.64 [min]
340
74000
Time: 106.78 [min]
340
74100
Time: 106.92 [min]
340
74200
Time: 107.06 [min]
340
74300
Time: 107.2 [min]
341
74400
Time: 107.33 [min]
342
74500
Time: 107.48 [min]
344
74600
Time: 107.62 [min]
345
74700
Time: 107.75 [min]
345
74800
Time: 107.89 [min]
345
74900
Time: 108.03 [min]
345
75000
Time: 108.17 [min]
346
75100
Time: 108.31 [min]
347
75200
Time: 108.45 [min]
348
75300
Time: 108.59 [min]
348
75400
Time: 108.73 [min]
349
75500
Time: 108.87 [min]
349
75600
Time: 109.01 [min]
349
75700
Time: 109.15 [min]
349
75800
Time: 109.29 [min]
349
75900
Time: 109.43 [min]
350
76000
Time: 109.57 [min]
350
76100
Time: 109.71 [min]
350
76200
Time: 109.85 [min]
350
76300
Time: 109.99 [min]
350
76400
Time: 110.13 [min]
350
76500
Time: 110.27 [min]
350
76600
Time: 110.4 [min]
351
76700
Time: 110.54 [min]
351
76800
Time: 110.68 [min]
351
76900
Time: 110.83 [min]
351
77000
Time: 110.96 [min]
351
77100
Time: 111.1 [min]
351
77200
Time: 111.24 [min]
352
77300
Time: 111.38 [min]
352
77400
Time: 111.52 [min]
353
77500
Time: 111.65 [min]
353
77600
Time: 111.79 [min]
353
77700
Time: 111.93 [min]
353
77800
Time: 112.07 [min]
354
77900
Time: 112.21 [min]
354
78000
Time: 112.34 [min]
355
78100
Time: 112.48 [min]
355
78200
Time: 112.62 [min]
356
78300
Time: 112.76 [min]
357
78400
Time: 112.9 [min]
357
78500
Time: 113.05 [min]
357
78600
Time: 113.18 [min]
357
78700
Time: 113.33 [min]
357
78800
Time: 113.47 [min]
357
78900
Time: 113.6 [min]
357
79000
Time: 113.75 [min]
358
79100
Time: 113.89 [min]
358
79200
Time: 114.03 [min]
358
79300
Time: 114.17 [min]
358
79400
Time: 114.31 [min]
358
79500
Time: 114.45 [min]
358
79600
Time: 114.59 [min]
358
79700
Time: 114.73 [min]
358
79800
Time: 114.87 [min]
358
79900
Time: 115.01 [min]
358
80000
Time: 115.15 [min]
358
80100
Time: 115.29 [min]
358
80200
Time: 115.43 [min]
358
80300
Time: 115.57 [min]
358
80400
Time: 115.71 [min]
358
80500
Time: 115.85 [min]
358
80600
Time: 115.99 [min]
358
80700
Time: 116.13 [min]
359
80800
Time: 116.27 [min]
359
80900
Time: 116.41 [min]
359
81000
Time: 116.54 [min]
360
81100
Time: 116.68 [min]
361
81200
Time: 116.82 [min]
361
81300
Time: 116.96 [min]
361
81400
Time: 117.1 [min]
361
81500
Time: 117.24 [min]
361
81600
Time: 117.38 [min]
361
81700
Time: 117.52 [min]
361
81800
Time: 117.66 [min]
361
81900
Time: 117.79 [min]
361
82000
Time: 117.93 [min]
361
82100
Time: 118.08 [min]
361
82200
Time: 118.22 [min]
361
82300
Time: 118.36 [min]
361
82400
Time: 118.5 [min]
361
82500
Time: 118.63 [min]
361
82600
Time: 118.78 [min]
362
82700
Time: 118.92 [min]
363
82800
Time: 119.06 [min]
363
82900
Time: 119.21 [min]
363
83000
Time: 119.34 [min]
363
83100
Time: 119.48 [min]
363
83200
Time: 119.61 [min]
363
83300
Time: 119.75 [min]
363
83400
Time: 119.89 [min]
363
83500
Time: 120.04 [min]
364
83600
Time: 120.18 [min]
364
83700
Time: 120.32 [min]
364
83800
Time: 120.45 [min]
364
83900
Time: 120.6 [min]
364
84000
Time: 120.74 [min]
364
84100
Time: 120.88 [min]
364
84200
Time: 121.01 [min]
364
84300
Time: 121.15 [min]
364
84400
Time: 121.3 [min]
364
84500
Time: 121.43 [min]
364
84600
Time: 121.57 [min]
364
84700
Time: 121.72 [min]
365
84800
Time: 121.85 [min]
365
84900
Time: 121.99 [min]
365
85000
Time: 122.13 [min]
365
85100
Time: 122.28 [min]
365
85200
Time: 122.41 [min]
365
85300
Time: 122.55 [min]
365
85400
Time: 122.69 [min]
365
85500
Time: 122.82 [min]
365
85600
Time: 122.96 [min]
365
85700
Time: 123.1 [min]
365
85800
Time: 123.24 [min]
365
85900
Time: 123.38 [min]
365
86000
Time: 123.53 [min]
365
86100
Time: 123.67 [min]
365
86200
Time: 123.8 [min]
365
86300
Time: 123.95 [min]
366
86400
Time: 124.09 [min]
366
86500
Time: 124.23 [min]
367
86600
Time: 124.37 [min]
367
86700
Time: 124.51 [min]
367
86800
Time: 124.65 [min]
367
86900
Time: 124.79 [min]
368
87000
Time: 124.93 [min]
369
87100
Time: 125.07 [min]
369
87200
Time: 125.21 [min]
369
87300
Time: 125.35 [min]
369
87400
Time: 125.49 [min]
370
87500
Time: 125.62 [min]
370
87600
Time: 125.77 [min]
370
87700
Time: 125.9 [min]
370
87800
Time: 126.04 [min]
371
87900
Time: 126.18 [min]
371
88000
Time: 126.32 [min]
372
88100
Time: 126.46 [min]
372
88200
Time: 126.6 [min]
374
88300
Time: 126.74 [min]
376
88400
Time: 126.88 [min]
376
88500
Time: 127.02 [min]
376
88600
Time: 127.16 [min]
376
88700
Time: 127.3 [min]

376
88800
Time: 127.44 [min]
376
88900
Time: 127.58 [min]
377
89000
Time: 127.71 [min]
378
89100
Time: 127.85 [min]
378
89200
Time: 127.99 [min]
378
89300
Time: 128.13 [min]
378
89400
Time: 128.27 [min]
378
89500
Time: 128.4 [min]
380
89600
Time: 128.54 [min]
380
89700
Time: 128.68 [min]
380
89800
Time: 128.82 [min]
380
89900
Time: 128.96 [min]
381
90000
Time: 129.1 [min]
382
90100
Time: 129.24 [min]
383
90200
Time: 129.38 [min]
383
90300
Time: 129.52 [min]
384
90400
Time: 129.66 [min]
384
90500
Time: 129.79 [min]
385
90600
Time: 129.93 [min]
385
90700
Time: 130.07 [min]
385
90800
Time: 130.2 [min]
385
90900
Time: 130.34 [min]
386
91000
Time: 130.48 [min]
386
91100
Time: 130.61 [min]
386
91200
Time: 130.75 [min]
386
91300
Time: 130.89 [min]
386
91400
Time: 131.02 [min]
387
91500
Time: 131.16 [min]
387
91600
Time: 131.3 [min]
387
91700
Time: 131.44 [min]
387
91800
Time: 131.58 [min]
388
91900
Time: 131.72 [min]
388
92000
Time: 131.86 [min]
388
92100
Time: 132.01 [min]
388
92200
Time: 132.14 [min]
388
92300
Time: 132.28 [min]
388
92400
Time: 132.43 [min]
388
92500
Time: 132.58 [min]
388
92600
Time: 132.72 [min]
388
92700
Time: 132.86 [min]
388
92800
Time: 133.01 [min]
388
92900
Time: 133.16 [min]
388
93000
Time: 133.29 [min]
388
93100
Time: 133.44 [min]
388
93200
Time: 133.58 [min]
388
93300
Time: 133.72 [min]
388
93400
Time: 133.86 [min]
388
93500
Time: 134.01 [min]
388
93600
Time: 134.15 [min]
388
93700
Time: 134.29 [min]
388
93800
Time: 134.43 [min]
388
93900
Time: 134.57 [min]
388
94000
Time: 134.72 [min]
388
94100
Time: 134.87 [min]
388
94200
Time: 135.01 [min]
388
94300
Time: 135.16 [min]
388
94400
Time: 135.3 [min]
388
94500
Time: 135.44 [min]
389
94600
Time: 135.59 [min]
389
94700
Time: 135.73 [min]
389
94800
Time: 135.87 [min]
390
94900
Time: 136.01 [min]
390
95000
Time: 136.16 [min]
391
95100
Time: 136.3 [min]
391
95200
Time: 136.45 [min]
391
95300
Time: 136.59 [min]
391
95400
Time: 136.74 [min]
392
95500
Time: 136.88 [min]
392
95600
Time: 137.02 [min]
392
95700
Time: 137.17 [min]
392
95800
Time: 137.31 [min]
392
95900
Time: 137.46 [min]
392
96000
Time: 137.6 [min]
393
96100
Time: 137.75 [min]
393
96200
Time: 137.88 [min]
393
96300
Time: 138.03 [min]
393
96400
Time: 138.17 [min]
394
96500
Time: 138.32 [min]
394
96600
Time: 138.46 [min]
395
96700
Time: 138.61 [min]
395
96800
Time: 138.75 [min]
395
96900
Time: 138.9 [min]
395
97000
Time: 139.04 [min]
395
97100
Time: 139.18 [min]
395
97200
Time: 139.34 [min]
395
97300
Time: 139.49 [min]
395
97400
Time: 139.62 [min]
395
97500
Time: 139.77 [min]
395
97600
Time: 139.92 [min]
395
97700
Time: 140.06 [min]
395
97800
Time: 140.2 [min]
395
97900
Time: 140.34 [min]
395
98000
Time: 140.48 [min]
395
98100
Time: 140.62 [min]
395
98200
Time: 140.77 [min]
396
98300
Time: 140.91 [min]
396
98400
Time: 141.05 [min]
397
98500
Time: 141.2 [min]
397
98600
Time: 141.34 [min]
397
98700
Time: 141.48 [min]
398
98800
Time: 141.62 [min]
398
98900
Time: 141.77 [min]
398
99000
Time: 141.91 [min]
398
99100
Time: 142.04 [min]
398
99200
Time: 142.19 [min]
398
99300
Time: 142.33 [min]
398
99400
Time: 142.47 [min]
398
99500
Time: 142.62 [min]
398
99600
Time: 142.77 [min]
398
99700
Time: 142.92 [min]
398
99800
Time: 143.06 [min]
398
99900
Time: 143.2 [min]
400
100000
Time: 143.35 [min]
400
100100
Time: 143.5 [min]
400
100200
Time: 143.65 [min]
401
100300
Time: 143.79 [min]
401
100400
Time: 143.93 [min]
401
100500
Time: 144.07 [min]
402
100600
Time: 144.21 [min]
402
100700
Time: 144.36 [min]
403
100800
Time: 144.51 [min]
403
100900
Time: 144.65 [min]
403
101000
Time: 144.8 [min]
403
101100
Time: 144.95 [min]
403
101200
Time: 145.09 [min]
403
101300
Time: 145.24 [min]
403
101400
Time: 145.39 [min]
404
101500
Time: 145.52 [min]
404
101600
Time: 145.66 [min]
404
101700
Time: 145.8 [min]
405
101800
Time: 145.94 [min]
405
101900
Time: 146.08 [min]
405
102000
Time: 146.22 [min]
406
102100
Time: 146.37 [min]
406
102200
Time: 146.51 [min]
406
102300
Time: 146.65 [min]
407
102400
Time: 146.79 [min]
407
102500
Time: 146.93 [min]
408
102600
Time: 147.08 [min]
408
102700
Time: 147.22 [min]
408
102800
Time: 147.36 [min]
408
102900
Time: 147.5 [min]
408
103000
Time: 147.64 [min]
408
103100
Time: 147.78 [min]
408
103200
Time: 147.93 [min]
408
103300
Time: 148.07 [min]
408
103400
Time: 148.2 [min]
408
103500
Time: 148.34 [min]
408
103600
Time: 148.49 [min]
408
103700
Time: 148.62 [min]
409
103800
Time: 148.76 [min]
409
103900
Time: 148.91 [min]
410
104000
Time: 149.05 [min]
411
104100
Time: 149.19 [min]
411
104200
Time: 149.34 [min]
412
104300
Time: 149.49 [min]
412
104400
Time: 149.63 [min]
412
104500
Time: 149.77 [min]
412
104600
Time: 149.91 [min]
412
104700
Time: 150.05 [min]
412
104800
Time: 150.19 [min]
412
104900
Time: 150.33 [min]
412
105000
Time: 150.47 [min]
412
105100
Time: 150.61 [min]
412
105200
Time: 150.75 [min]
412
105300
Time: 150.9 [min]
412
105400
Time: 151.05 [min]
413
105500
Time: 151.18 [min]
413
105600
Time: 151.33 [min]
413
105700
Time: 151.47 [min]
413
105800
Time: 151.61 [min]
413
105900
Time: 151.75 [min]
413
106000
Time: 151.89 [min]
413
106100
Time: 152.03 [min]
413
106200
Time: 152.17 [min]
413
106300
Time: 152.31 [min]
416
106400
Time: 152.45 [min]
416
106500
Time: 152.6 [min]
416
106600
Time: 152.75 [min]
417
106700
Time: 152.9 [min]
417
106800
Time: 153.05 [min]
417
106900
Time: 153.19 [min]
417
107000
Time: 153.34 [min]
417
107100
Time: 153.48 [min]
417
107200
Time: 153.63 [min]
417
107300
Time: 153.78 [min]
417
107400
Time: 153.93 [min]
418
107500
Time: 154.07 [min]
418
107600
Time: 154.22 [min]
418
107700
Time: 154.37 [min]
418
107800
Time: 154.51 [min]
418
107900
Time: 154.66 [min]
418
108000
Time: 154.81 [min]
418
108100
Time: 154.95 [min]
421
108200
Time: 155.1 [min]
421
108300
Time: 155.24 [min]
421
108400
Time: 155.39 [min]
424
108500
Time: 155.54 [min]
424
108600
Time: 155.68 [min]
424
108700
Time: 155.83 [min]
424
108800
Time: 155.98 [min]
425
108900
Time: 156.12 [min]
425
109000
Time: 156.27 [min]
425
109100
Time: 156.41 [min]
425
109200
Time: 156.55 [min]
426
109300
Time: 156.69 [min]
427
109400
Time: 156.84 [min]
427
109500
Time: 156.98 [min]
430
109600
Time: 157.12 [min]
431
109700
Time: 157.27 [min]
432
109800
Time: 157.41 [min]
432
109900
Time: 157.56 [min]
432
110000
Time: 157.7 [min]
432
110100
Time: 157.83 [min]
432
110200
Time: 157.98 [min]
434
110300
Time: 158.12 [min]
434
110400
Time: 158.26 [min]
435
110500
Time: 158.41 [min]
435
110600
Time: 158.55 [min]
435
110700
Time: 158.69 [min]
435
110800
Time: 158.84 [min]
435
110900
Time: 158.98 [min]
435
111000
Time: 159.12 [min]
436
111100
Time: 159.26 [min]
436
111200
Time: 159.4 [min]
436
111300
Time: 159.54 [min]
437
111400
Time: 159.68 [min]
437
111500
Time: 159.83 [min]
438
111600
Time: 159.97 [min]
438
111700
Time: 160.12 [min]
438
111800
Time: 160.26 [min]
438
111900
Time: 160.4 [min]
439
112000
Time: 160.55 [min]
439
112100
Time: 160.69 [min]
439
112200
Time: 160.83 [min]
439
112300
Time: 160.97 [min]
439
112400
Time: 161.11 [min]
439
112500
Time: 161.25 [min]
440
112600
Time: 161.4 [min]
440
112700
Time: 161.54 [min]
441
112800
Time: 161.68 [min]
441
112900
Time: 161.82 [min]
441
113000
Time: 161.96 [min]
444
113100
Time: 162.11 [min]
444
113200
Time: 162.25 [min]
444
113300
Time: 162.39 [min]
445
113400
Time: 162.53 [min]
445
113500
Time: 162.68 [min]
446
113600
Time: 162.81 [min]
447
113700
Time: 162.95 [min]
447
113800
Time: 163.09 [min]
448
113900
Time: 163.23 [min]
448
114000
Time: 163.36 [min]
448
114100
Time: 163.5 [min]
448
114200
Time: 163.64 [min]
448
114300
Time: 163.78 [min]
448
114400
Time: 163.92 [min]
448
114500
Time: 164.06 [min]
448
114600
Time: 164.2 [min]
448
114700
Time: 164.34 [min]
449
114800
Time: 164.48 [min]
452
114900
Time: 164.62 [min]
453
115000
Time: 164.76 [min]
454
115100
Time: 164.9 [min]
454
115200
Time: 165.04 [min]
454
115300
Time: 165.17 [min]
455
115400
Time: 165.31 [min]
456
115500
Time: 165.45 [min]
456
115600
Time: 165.59 [min]
456
115700
Time: 165.72 [min]
456
115800
Time: 165.86 [min]
457
115900
Time: 165.99 [min]
458
116000
Time: 166.12 [min]
459
116100
Time: 166.26 [min]
459
116200
Time: 166.4 [min]
460
116300
Time: 166.53 [min]
461
116400
Time: 166.67 [min]
461
116500
Time: 166.81 [min]

461
116600
Time: 166.94 [min]
461
116700
Time: 167.07 [min]
461
116800
Time: 167.21 [min]
461
116900
Time: 167.35 [min]
461
117000
Time: 167.48 [min]
461
117100
Time: 167.62 [min]
461
117200
Time: 167.75 [min]
461
117300
Time: 167.9 [min]
462
117400
Time: 168.04 [min]
463
117500
Time: 168.17 [min]
464
117600
Time: 168.3 [min]
464
117700
Time: 168.44 [min]
464
117800
Time: 168.58 [min]
464
117900
Time: 168.71 [min]
464
118000
Time: 168.85 [min]
464
118100
Time: 168.98 [min]
465
118200
Time: 169.12 [min]
465
118300
Time: 169.25 [min]
466
118400
Time: 169.39 [min]
466
118500
Time: 169.52 [min]
466
118600
Time: 169.65 [min]
467
118700
Time: 169.8 [min]
467
118800
Time: 169.94 [min]
467
118900
Time: 170.08 [min]
467
119000
Time: 170.22 [min]
468
119100
Time: 170.36 [min]
468
119200
Time: 170.51 [min]
469
119300
Time: 170.65 [min]
469
119400
Time: 170.79 [min]
469
119500
Time: 170.93 [min]
470
119600
Time: 171.07 [min]
471
119700
Time: 171.21 [min]
472
119800
Time: 171.35 [min]
473
119900
Time: 171.49 [min]
473
120000
Time: 171.63 [min]
473
120100
Time: 171.78 [min]
473
120200
Time: 171.92 [min]
473
120300
Time: 172.06 [min]
473
120400
Time: 172.2 [min]
473
120500
Time: 172.34 [min]
473
120600
Time: 172.48 [min]
475
120700
Time: 172.62 [min]
476
120800
Time: 172.76 [min]
476
120900
Time: 172.9 [min]
476
121000
Time: 173.04 [min]
477
121100
Time: 173.18 [min]
478
121200
Time: 173.32 [min]
479
121300
Time: 173.46 [min]
480
121400
Time: 173.6 [min]
481
121500
Time: 173.74 [min]
481
121600
Time: 173.88 [min]
481
121700
Time: 174.01 [min]
481
121800
Time: 174.15 [min]
482
121900
Time: 174.29 [min]
483
122000
Time: 174.43 [min]
483
122100
Time: 174.57 [min]
484
122200
Time: 174.7 [min]
484
122300
Time: 174.84 [min]
484
122400
Time: 174.98 [min]
484
122500
Time: 175.12 [min]
485
122600
Time: 175.27 [min]
486
122700
Time: 175.41 [min]
487
122800
Time: 175.55 [min]
487
122900
Time: 175.69 [min]
487
123000
Time: 175.83 [min]
487
123100
Time: 175.96 [min]
487
123200
Time: 176.1 [min]
487
123300
Time: 176.24 [min]
487
123400
Time: 176.37 [min]
488
123500
Time: 176.51 [min]
488
123600
Time: 176.64 [min]
489
123700
Time: 176.78 [min]
489
123800
Time: 176.91 [min]
489
123900
Time: 177.05 [min]
489
124000
Time: 177.19 [min]
489
124100
Time: 177.32 [min]
489
124200
Time: 177.46 [min]
489
124300
Time: 177.59 [min]
489
124400
Time: 177.72 [min]
489
124500
Time: 177.86 [min]
490
124600
Time: 177.99 [min]
490
124700
Time: 178.13 [min]
491
124800
Time: 178.26 [min]
492
124900
Time: 178.4 [min]
492
125000
Time: 178.54 [min]
493
125100
Time: 178.67 [min]
493
125200
Time: 178.8 [min]
493
125300
Time: 178.94 [min]
493
125400
Time: 179.06 [min]
493
125500
Time: 179.19 [min]
493
125600
Time: 179.33 [min]
493
125700
Time: 179.46 [min]
493
125800
Time: 179.59 [min]
494
125900
Time: 179.73 [min]
494
126000
Time: 179.87 [min]
495
126100
Time: 180.0 [min]
497
126200
Time: 180.14 [min]
497
126300
Time: 180.27 [min]
497
126400
Time: 180.4 [min]
497
126500
Time: 180.54 [min]
498
126600
Time: 180.67 [min]
498
126700
Time: 180.8 [min]
498
126800
Time: 180.94 [min]
498
126900
Time: 181.06 [min]
498
127000
Time: 181.19 [min]
498
127100
Time: 181.33 [min]
498
127200
Time: 181.46 [min]
498
127300
Time: 181.59 [min]
498
127400
Time: 181.72 [min]
498
127500
Time: 181.86 [min]
499
127600
Time: 181.99 [min]
499
127700
Time: 182.12 [min]
499
127800
Time: 182.25 [min]
499
127900
Time: 182.38 [min]
499
128000
Time: 182.51 [min]
499
128100
Time: 182.64 [min]
499
128200
Time: 182.78 [min]
499
128300
Time: 182.91 [min]
499
128400
Time: 183.04 [min]
499
128500
Time: 183.18 [min]
499
128600
Time: 183.32 [min]
500
128700
Time: 183.44 [min]
500
128800
Time: 183.58 [min]
500
128900
Time: 183.71 [min]
500
129000
Time: 183.84 [min]
500
129100
Time: 183.97 [min]
500
129200
Time: 184.11 [min]
500
129300
Time: 184.24 [min]
500
129400
Time: 184.37 [min]
500
129500
Time: 184.5 [min]
500
129600
Time: 184.64 [min]
500
129700
Time: 184.77 [min]
500
129800
Time: 184.9 [min]
500
129900
Time: 185.03 [min]
500
130000
Time: 185.17 [min]
500
130100
Time: 185.3 [min]
500
130200
Time: 185.44 [min]
500
130300
Time: 185.58 [min]
500
130400
Time: 185.71 [min]
500
130500
Time: 185.84 [min]
501
130600
Time: 185.98 [min]
501
130700
Time: 186.11 [min]
503
130800
Time: 186.25 [min]
503
130900
Time: 186.38 [min]
504
131000
Time: 186.51 [min]
504
131100
Time: 186.64 [min]
504
131200
Time: 186.77 [min]
504
131300
Time: 186.9 [min]
504
131400
Time: 187.04 [min]
504
131500
Time: 187.17 [min]
504
131600
Time: 187.31 [min]
505
131700
Time: 187.45 [min]
505
131800
Time: 187.58 [min]
505
131900
Time: 187.71 [min]
505
132000
Time: 187.84 [min]
506
132100
Time: 187.98 [min]
506
132200
Time: 188.11 [min]
506
132300
Time: 188.25 [min]
506
132400
Time: 188.38 [min]
506
132500
Time: 188.5 [min]
508
132600
Time: 188.63 [min]
508
132700
Time: 188.76 [min]
508
132800
Time: 188.89 [min]
508
132900
Time: 189.02 [min]
508
133000
Time: 189.15 [min]
508
133100
Time: 189.28 [min]
509
133200
Time: 189.41 [min]
509
133300
Time: 189.54 [min]
509
133400
Time: 189.67 [min]
510
133500
Time: 189.79 [min]
511
133600
Time: 189.92 [min]
512
133700
Time: 190.05 [min]
512
133800
Time: 190.17 [min]
512
133900
Time: 190.29 [min]
513
134000
Time: 190.42 [min]
513
134100
Time: 190.55 [min]
513
134200
Time: 190.68 [min]
513
134300
Time: 190.81 [min]
513
134400
Time: 190.94 [min]
513
134500
Time: 191.07 [min]
513
134600
Time: 191.19 [min]
514
134700
Time: 191.32 [min]
514
134800
Time: 191.45 [min]
514
134900
Time: 191.58 [min]
514
135000
Time: 191.7 [min]
514
135100
Time: 191.83 [min]
514
135200
Time: 191.96 [min]
515
135300
Time: 192.09 [min]
515
135400
Time: 192.21 [min]
515
135500
Time: 192.34 [min]
515
135600
Time: 192.46 [min]
515
135700
Time: 192.59 [min]
516
135800
Time: 192.72 [min]
516
135900
Time: 192.84 [min]
516
136000
Time: 192.97 [min]
516
136100
Time: 193.1 [min]
517
136200
Time: 193.23 [min]
517
136300
Time: 193.35 [min]
517
136400
Time: 193.47 [min]
517
136500
Time: 193.59 [min]
517
136600
Time: 193.72 [min]
518
136700
Time: 193.85 [min]
519
136800
Time: 193.98 [min]
520
136900
Time: 194.1 [min]
520
137000
Time: 194.23 [min]
520
137100
Time: 194.35 [min]
520
137200
Time: 194.47 [min]
520
137300
Time: 194.6 [min]
520
137400
Time: 194.72 [min]
520
137500
Time: 194.84 [min]
520
137600
Time: 194.97 [min]
520
137700
Time: 195.09 [min]
521
137800
Time: 195.22 [min]
521
137900
Time: 195.34 [min]
521
138000
Time: 195.47 [min]
521
138100
Time: 195.61 [min]
521
138200
Time: 195.74 [min]
521
138300
Time: 195.86 [min]
521
138400
Time: 196.0 [min]
522
138500
Time: 196.13 [min]
523
138600
Time: 196.26 [min]
524
138700
Time: 196.38 [min]
524
138800
Time: 196.52 [min]
524
138900
Time: 196.64 [min]
524
139000
Time: 196.77 [min]
525
139100
Time: 196.89 [min]
525
139200
Time: 197.02 [min]
525
139300
Time: 197.14 [min]
525
139400
Time: 197.27 [min]
525
139500
Time: 197.39 [min]
525
139600
Time: 197.51 [min]
525
139700
Time: 197.63 [min]
525
139800
Time: 197.76 [min]
525
139900
Time: 197.88 [min]
525
140000
Time: 198.0 [min]
525
140100
Time: 198.13 [min]
525
140200
Time: 198.25 [min]
525
140300
Time: 198.38 [min]
526
140400
Time: 198.5 [min]
528
140500
Time: 198.63 [min]
528
140600
Time: 198.75 [min]
528
140700
Time: 198.87 [min]
530
140800
Time: 198.99 [min]
530
140900
Time: 199.11 [min]
530
141000
Time: 199.23 [min]
530
141100
Time: 199.36 [min]
530
141200
Time: 199.48 [min]
530
141300
Time: 199.61 [min]
531
141400
Time: 199.73 [min]
532
141500
Time: 199.85 [min]
532
141600
Time: 199.97 [min]
532
141700
Time: 200.08 [min]
532
141800
Time: 200.21 [min]
532
141900
Time: 200.32 [min]
532
142000
Time: 200.44 [min]
532
142100
Time: 200.56 [min]
533
142200
Time: 200.68 [min]
533
142300
Time: 200.8 [min]
533
142400
Time: 200.92 [min]
533
142500
Time: 201.04 [min]
533
142600
Time: 201.16 [min]
533
142700
Time: 201.28 [min]
534
142800
Time: 201.4 [min]
534
142900
Time: 201.51 [min]
534
143000
Time: 201.63 [min]
534
143100
Time: 201.76 [min]
534
143200
Time: 201.88 [min]
534
143300
Time: 202.0 [min]
534
143400
Time: 202.12 [min]
534
143500
Time: 202.23 [min]
534
143600
Time: 202.35 [min]
534
143700
Time: 202.48 [min]
534
143800
Time: 202.6 [min]
534
143900
Time: 202.73 [min]
534

144000
Time: 202.85 [min]
534
144100
Time: 202.98 [min]
534
144200
Time: 203.1 [min]
534
144300
Time: 203.23 [min]
534
144400
Time: 203.35 [min]
534
144500
Time: 203.47 [min]
534
144600
Time: 203.59 [min]
535
144700
Time: 203.71 [min]
535
144800
Time: 203.83 [min]
535
144900
Time: 203.95 [min]
535
145000
Time: 204.07 [min]
535
145100
Time: 204.18 [min]
535
145200
Time: 204.31 [min]
535
145300
Time: 204.42 [min]
535
145400
Time: 204.55 [min]
535
145500
Time: 204.67 [min]
536
145600
Time: 204.79 [min]
536
145700
Time: 204.91 [min]
536
145800
Time: 205.02 [min]
537
145900
Time: 205.15 [min]
537
146000
Time: 205.26 [min]
538
146100
Time: 205.39 [min]
539
146200
Time: 205.52 [min]
539
146300
Time: 205.64 [min]
539
146400
Time: 205.76 [min]
539
146500
Time: 205.89 [min]
539
146600
Time: 206.02 [min]
540
146700
Time: 206.14 [min]
541
146800
Time: 206.27 [min]
541
146900
Time: 206.4 [min]
541
147000
Time: 206.52 [min]
541
147100
Time: 206.65 [min]
541
147200
Time: 206.77 [min]
541
147300
Time: 206.9 [min]
541
147400
Time: 207.02 [min]
541
147500
Time: 207.15 [min]
541
147600
Time: 207.27 [min]
541
147700
Time: 207.39 [min]
541
147800
Time: 207.52 [min]
541
147900
Time: 207.64 [min]
543
148000
Time: 207.76 [min]
544
148100
Time: 207.89 [min]
545
148200
Time: 208.01 [min]
547
148300
Time: 208.14 [min]
547
148400
Time: 208.27 [min]
547
148500
Time: 208.39 [min]
547
148600
Time: 208.51 [min]
547
148700
Time: 208.63 [min]
547
148800
Time: 208.75 [min]
547
148900
Time: 208.88 [min]
547
149000
Time: 209.0 [min]
547
149100
Time: 209.13 [min]
547
149200
Time: 209.25 [min]
549
149300
Time: 209.37 [min]
549
149400
Time: 209.49 [min]
550
149500
Time: 209.61 [min]
550
149600
Time: 209.73 [min]
550
149700
Time: 209.86 [min]
550
149800
Time: 209.97 [min]
550
149900
Time: 210.1 [min]
550
150000
Time: 210.22 [min]
550
150100
Time: 210.35 [min]
551
150200
Time: 210.47 [min]
551
150300
Time: 210.59 [min]
551
150400
Time: 210.72 [min]
551
150500
Time: 210.84 [min]
552
150600
Time: 210.97 [min]
553
150700
Time: 211.1 [min]
553
150800
Time: 211.21 [min]
553
150900
Time: 211.33 [min]
553
151000
Time: 211.45 [min]
554
151100
Time: 211.57 [min]
555
151200
Time: 211.69 [min]
555
151300
Time: 211.81 [min]
555
151400
Time: 211.93 [min]
555
151500
Time: 212.05 [min]
555
151600
Time: 212.17 [min]
555
151700
Time: 212.29 [min]
555
151800
Time: 212.41 [min]
556
151900
Time: 212.52 [min]
557
152000
Time: 212.65 [min]
557
152100
Time: 212.77 [min]
557
152200
Time: 212.89 [min]
557
152300
Time: 213.0 [min]
557
152400
Time: 213.11 [min]
557
152500
Time: 213.24 [min]
557
152600
Time: 213.36 [min]
557
152700
Time: 213.48 [min]
557
152800
Time: 213.6 [min]
557
152900
Time: 213.72 [min]
557
153000
Time: 213.84 [min]
557
153100
Time: 213.95 [min]
558
153200
Time: 214.07 [min]
559
153300
Time: 214.19 [min]
560
153400
Time: 214.32 [min]
560
153500
Time: 214.43 [min]
560
153600
Time: 214.55 [min]
561
153700
Time: 214.67 [min]
561
153800
Time: 214.78 [min]
562
153900
Time: 214.9 [min]
562
154000
Time: 215.03 [min]
562
154100
Time: 215.15 [min]
562
154200
Time: 215.27 [min]
562
154300
Time: 215.39 [min]
562
154400
Time: 215.51 [min]
562
154500
Time: 215.63 [min]
563
154600
Time: 215.75 [min]
563
154700
Time: 215.87 [min]
563
154800
Time: 215.99 [min]
563
154900
Time: 216.11 [min]
563
155000
Time: 216.23 [min]
564
155100
Time: 216.35 [min]
564
155200
Time: 216.47 [min]
564
155300
Time: 216.58 [min]
564
155400
Time: 216.7 [min]
564
155500
Time: 216.82 [min]
565
155600
Time: 216.94 [min]
565
155700
Time: 217.06 [min]
565
155800
Time: 217.18 [min]
565
155900
Time: 217.29 [min]
565
156000
Time: 217.41 [min]
565
156100
Time: 217.53 [min]
565
156200
Time: 217.64 [min]
565
156300
Time: 217.76 [min]
565
156400
Time: 217.87 [min]
566
156500
Time: 217.99 [min]
566
156600
Time: 218.11 [min]
567
156700
Time: 218.23 [min]
568
156800
Time: 218.34 [min]
568
156900
Time: 218.46 [min]
570
157000
Time: 218.58 [min]
570
157100
Time: 218.7 [min]
570
157200
Time: 218.81 [min]
571
157300
Time: 218.93 [min]
571
157400
Time: 219.05 [min]
571
157500
Time: 219.16 [min]
572
157600
Time: 219.28 [min]
572
157700
Time: 219.39 [min]
573
157800
Time: 219.5 [min]
573
157900
Time: 219.62 [min]
574
158000
Time: 219.73 [min]
575
158100
Time: 219.84 [min]
575
158200
Time: 219.96 [min]
575
158300
Time: 220.07 [min]
575
158400
Time: 220.19 [min]
575
158500
Time: 220.3 [min]
575
158600
Time: 220.42 [min]
576
158700
Time: 220.54 [min]
576
158800
Time: 220.65 [min]
577
158900
Time: 220.77 [min]
577
159000
Time: 220.88 [min]
577
159100
Time: 220.99 [min]
577
159200
Time: 221.11 [min]
577
159300
Time: 221.23 [min]
577
159400
Time: 221.34 [min]
577
159500
Time: 221.46 [min]
577
159600
Time: 221.57 [min]
577
159700
Time: 221.69 [min]
577
159800
Time: 221.81 [min]
577
159900
Time: 221.93 [min]
577
160000
Time: 222.04 [min]
577
160100
Time: 222.15 [min]
578
160200
Time: 222.27 [min]
579
160300
Time: 222.39 [min]
579
160400
Time: 222.5 [min]
579
160500
Time: 222.62 [min]
580
160600
Time: 222.73 [min]
580
160700
Time: 222.85 [min]
580
160800
Time: 222.96 [min]
580
160900
Time: 223.07 [min]
580
161000
Time: 223.19 [min]
580
161100
Time: 223.3 [min]
581
161200
Time: 223.41 [min]
582
161300
Time: 223.53 [min]
582
161400
Time: 223.64 [min]
582
161500
Time: 223.76 [min]
584
161600
Time: 223.87 [min]
584
161700
Time: 223.99 [min]
586
161800
Time: 224.1 [min]
587
161900
Time: 224.21 [min]
588
162000
Time: 224.32 [min]
588
162100
Time: 224.44 [min]
588
162200
Time: 224.55 [min]
588
162300
Time: 224.66 [min]
588
162400
Time: 224.77 [min]
588
162500
Time: 224.87 [min]
588
162600
Time: 224.98 [min]
588
162700
Time: 225.09 [min]
588
162800
Time: 225.2 [min]
588
162900
Time: 225.32 [min]
588
163000
Time: 225.43 [min]
588
163100
Time: 225.54 [min]
591
163200
Time: 225.66 [min]
591
163300
Time: 225.77 [min]
591
163400
Time: 225.88 [min]
591
163500
Time: 225.99 [min]
591
163600
Time: 226.1 [min]
592
163700
Time: 226.22 [min]
593
163800
Time: 226.33 [min]
593
163900
Time: 226.44 [min]
593
164000
Time: 226.54 [min]
593
164100
Time: 226.65 [min]
593
164200
Time: 226.76 [min]
593
164300
Time: 226.87 [min]
593
164400
Time: 226.98 [min]
594
164500
Time: 227.09 [min]
594
164600
Time: 227.2 [min]
594
164700
Time: 227.31 [min]
594
164800
Time: 227.41 [min]
594
164900
Time: 227.52 [min]
594
165000
Time: 227.63 [min]
594
165100
Time: 227.73 [min]
594
165200
Time: 227.84 [min]
594
165300
Time: 227.95 [min]
595
165400
Time: 228.06 [min]
595
165500
Time: 228.16 [min]
595
165600
Time: 228.28 [min]
595
165700
Time: 228.39 [min]
595
165800
Time: 228.5 [min]
596
165900
Time: 228.61 [min]
596
166000
Time: 228.72 [min]
596
166100
Time: 228.83 [min]
596
166200
Time: 228.94 [min]
596
166300
Time: 229.04 [min]
597
166400
Time: 229.15 [min]
597
166500
Time: 229.26 [min]
597
166600
Time: 229.37 [min]
597
166700
Time: 229.48 [min]
597
166800
Time: 229.59 [min]
597
166900
Time: 229.7 [min]
597
167000
Time: 229.81 [min]
597
167100
Time: 229.92 [min]
597
167200
Time: 230.03 [min]
597
167300
Time: 230.14 [min]
597
167400
Time: 230.25 [min]
598
167500
Time: 230.35 [min]
598
167600
Time: 230.46 [min]
598
167700
Time: 230.56 [min]
598
167800
Time: 230.67 [min]
598
167900
Time: 230.77 [min]
599
168000
Time: 230.88 [min]
599
168100
Time: 230.99 [min]
600
168200
Time: 231.1 [min]
601
168300
Time: 231.2 [min]
601
168400
Time: 231.31 [min]
601
168500
Time: 231.42 [min]
601
168600
Time: 231.53 [min]
602
168700
Time: 231.64 [min]
602
168800
Time: 231.75 [min]
602
168900
Time: 231.85 [min]
602
169000
Time: 231.96 [min]
602
169100
Time: 232.06 [min]
602
169200
Time: 232.17 [min]
602
169300
Time: 232.28 [min]
602
169400
Time: 232.38 [min]
602
169500
Time: 232.49 [min]
603
169600
Time: 232.59 [min]
603
169700
Time: 232.7 [min]
603
169800
Time: 232.81 [min]
603
169900
Time: 232.91 [min]
603
170000
Time: 233.01 [min]
603
170100
Time: 233.12 [min]
603
170200
Time: 233.22 [min]
603
170300
Time: 233.33 [min]
603
170400
Time: 233.43 [min]
604
170500
Time: 233.54 [min]
604
170600
Time: 233.65 [min]
604
170700
Time: 233.75 [min]
604
170800
Time: 233.86 [min]
604
170900
Time: 233.96 [min]
605
171000
Time: 234.08 [min]
605
171100
Time: 234.19 [min]
605
171200
Time: 234.31 [min]
605
171300
Time: 234.42 [min]
605

171400
Time: 234.53 [min]
606
171500
Time: 234.65 [min]
606
171600
Time: 234.76 [min]
606
171700
Time: 234.87 [min]
606
171800
Time: 234.98 [min]
608
171900
Time: 235.08 [min]
610
172000
Time: 235.2 [min]
610
172100
Time: 235.31 [min]
611
172200
Time: 235.42 [min]
611
172300
Time: 235.53 [min]
611
172400
Time: 235.65 [min]
611
172500
Time: 235.76 [min]
611
172600
Time: 235.87 [min]
611
172700
Time: 235.97 [min]
612
172800
Time: 236.08 [min]
612
172900
Time: 236.19 [min]
612
173000
Time: 236.3 [min]
613
173100
Time: 236.42 [min]
613
173200
Time: 236.53 [min]
613
173300
Time: 236.64 [min]
613
173400
Time: 236.75 [min]
613
173500
Time: 236.87 [min]
613
173600
Time: 236.97 [min]
613
173700
Time: 237.08 [min]
613
173800
Time: 237.19 [min]
613
173900
Time: 237.3 [min]
613
174000
Time: 237.41 [min]
613
174100
Time: 237.52 [min]
613
174200
Time: 237.63 [min]
613
174300
Time: 237.74 [min]
614
174400
Time: 237.85 [min]
614
174500
Time: 237.96 [min]
614
174600
Time: 238.07 [min]
614
174700
Time: 238.18 [min]
614
174800
Time: 238.28 [min]
615
174900
Time: 238.39 [min]
615
175000
Time: 238.5 [min]
615
175100
Time: 238.61 [min]
615
175200
Time: 238.72 [min]
615
175300
Time: 238.83 [min]
615
175400
Time: 238.93 [min]
615
175500
Time: 239.05 [min]
615
175600
Time: 239.16 [min]
615
175700
Time: 239.27 [min]
615
175800
Time: 239.39 [min]
615
175900
Time: 239.5 [min]
615
176000
Time: 239.61 [min]
615
176100
Time: 239.72 [min]
615
176200
Time: 239.83 [min]
616
176300
Time: 239.93 [min]
616
176400
Time: 240.04 [min]
616
176500
Time: 240.15 [min]
616
176600
Time: 240.26 [min]
616
176700
Time: 240.36 [min]
616
176800
Time: 240.48 [min]
616
176900
Time: 240.59 [min]
616
177000
Time: 240.7 [min]
618
177100
Time: 240.81 [min]
619
177200
Time: 240.91 [min]
619
177300
Time: 241.02 [min]
620
177400
Time: 241.13 [min]
620
177500
Time: 241.24 [min]
620
177600
Time: 241.35 [min]
620
177700
Time: 241.45 [min]
620
177800
Time: 241.55 [min]
620
177900
Time: 241.67 [min]
620
178000
Time: 241.77 [min]
620
178100
Time: 241.87 [min]
620
178200
Time: 241.98 [min]
620
178300
Time: 242.09 [min]
620
178400
Time: 242.2 [min]
621
178500
Time: 242.31 [min]
621
178600
Time: 242.41 [min]
621
178700
Time: 242.52 [min]
621
178800
Time: 242.63 [min]
621
178900
Time: 242.73 [min]
621
179000
Time: 242.84 [min]
621
179100
Time: 242.95 [min]
621
179200
Time: 243.06 [min]
621
179300
Time: 243.17 [min]
622
179400
Time: 243.28 [min]
622
179500
Time: 243.4 [min]
622
179600
Time: 243.5 [min]
622
179700
Time: 243.61 [min]
622
179800
Time: 243.72 [min]
622
179900
Time: 243.83 [min]
622
180000
Time: 243.93 [min]
622
180100
Time: 244.04 [min]
623
180200
Time: 244.16 [min]
624
180300
Time: 244.27 [min]
624
180400
Time: 244.37 [min]
624
180500
Time: 244.48 [min]
624
180600
Time: 244.6 [min]
624
180700
Time: 244.7 [min]
624
180800
Time: 244.82 [min]
624
180900
Time: 244.92 [min]
624
181000
Time: 245.03 [min]
624
181100
Time: 245.14 [min]
624
181200
Time: 245.25 [min]
625
181300
Time: 245.35 [min]
625
181400
Time: 245.46 [min]
625
181500
Time: 245.57 [min]
626
181600
Time: 245.68 [min]
626
181700
Time: 245.79 [min]
626
181800
Time: 245.89 [min]
626
181900
Time: 246.0 [min]
627
182000
Time: 246.1 [min]
627
182100
Time: 246.21 [min]
627
182200
Time: 246.32 [min]
627
182300
Time: 246.42 [min]
627
182400
Time: 246.53 [min]
627
182500
Time: 246.64 [min]
628
182600
Time: 246.75 [min]
629
182700
Time: 246.85 [min]
629
182800
Time: 246.96 [min]
629
182900
Time: 247.06 [min]
630
183000
Time: 247.16 [min]
631
183100
Time: 247.27 [min]
631
183200
Time: 247.37 [min]
633
183300
Time: 247.48 [min]
634
183400
Time: 247.58 [min]
634
183500
Time: 247.69 [min]
634
183600
Time: 247.8 [min]
634
183700
Time: 247.9 [min]
634
183800
Time: 248.0 [min]
634
183900
Time: 248.1 [min]
634
184000
Time: 248.21 [min]
634
184100
Time: 248.31 [min]
634
184200
Time: 248.42 [min]
634
184300
Time: 248.51 [min]
634
184400
Time: 248.6 [min]
635
184500
Time: 248.71 [min]
635
184600
Time: 248.81 [min]
636
184700
Time: 248.92 [min]
636
184800
Time: 249.02 [min]
636
184900
Time: 249.13 [min]
637
185000
Time: 249.23 [min]
637
185100
Time: 249.34 [min]
637
185200
Time: 249.44 [min]
637
185300
Time: 249.54 [min]
637
185400
Time: 249.63 [min]
637
185500
Time: 249.74 [min]
637
185600
Time: 249.85 [min]
637
185700
Time: 249.95 [min]
637
185800
Time: 250.06 [min]
637
185900
Time: 250.16 [min]
637
186000
Time: 250.26 [min]
637
186100
Time: 250.36 [min]
637
186200
Time: 250.47 [min]
637
186300
Time: 250.57 [min]
637
186400
Time: 250.67 [min]
638
186500
Time: 250.78 [min]
638
186600
Time: 250.88 [min]
639
186700
Time: 250.98 [min]
639
186800
Time: 251.09 [min]
640
186900
Time: 251.2 [min]
640
187000
Time: 251.3 [min]
640
187100
Time: 251.4 [min]
640
187200
Time: 251.51 [min]
640
187300
Time: 251.61 [min]
640
187400
Time: 251.71 [min]
640
187500
Time: 251.82 [min]
640
187600
Time: 251.92 [min]
640
187700
Time: 252.02 [min]
640
187800
Time: 252.13 [min]
640
187900
Time: 252.23 [min]
640
188000
Time: 252.33 [min]
640
188100
Time: 252.44 [min]
641
188200
Time: 252.54 [min]
641
188300
Time: 252.64 [min]
641
188400
Time: 252.75 [min]
641
188500
Time: 252.85 [min]
641
188600
Time: 252.95 [min]
641
188700
Time: 253.05 [min]
641
188800
Time: 253.16 [min]
641
188900
Time: 253.26 [min]
641
189000
Time: 253.36 [min]
641
189100
Time: 253.46 [min]
641
189200
Time: 253.56 [min]
641
189300
Time: 253.66 [min]
642
189400
Time: 253.76 [min]
642
189500
Time: 253.87 [min]
642
189600
Time: 253.97 [min]
642
189700
Time: 254.07 [min]
642
189800
Time: 254.17 [min]
642
189900
Time: 254.27 [min]
642
190000
Time: 254.37 [min]
642
190100
Time: 254.48 [min]
642
190200
Time: 254.59 [min]
642
190300
Time: 254.69 [min]
642
190400
Time: 254.79 [min]
642
190500
Time: 254.89 [min]
642
190600
Time: 255.0 [min]
642
190700
Time: 255.1 [min]
642
190800
Time: 255.2 [min]
642
190900
Time: 255.31 [min]
643
191000
Time: 255.41 [min]
643
191100
Time: 255.51 [min]
643
191200
Time: 255.61 [min]
643
191300
Time: 255.71 [min]
643
191400
Time: 255.82 [min]
643
191500
Time: 255.92 [min]
643
191600
Time: 256.03 [min]
643
191700
Time: 256.13 [min]
643
191800
Time: 256.24 [min]
643
191900
Time: 256.34 [min]
643
192000
Time: 256.44 [min]
643
192100
Time: 256.54 [min]
643
192200
Time: 256.65 [min]
643
192300
Time: 256.74 [min]
643
192400
Time: 256.85 [min]
643
192500
Time: 256.95 [min]
643
192600
Time: 257.05 [min]
643
192700
Time: 257.15 [min]
643
192800
Time: 257.26 [min]
644
192900
Time: 257.36 [min]
644
193000
Time: 257.47 [min]
644
193100
Time: 257.57 [min]
644
193200
Time: 257.67 [min]
644
193300
Time: 257.78 [min]
644
193400
Time: 257.88 [min]
644
193500
Time: 257.98 [min]
645
193600
Time: 258.09 [min]
645
193700
Time: 258.19 [min]
646
193800
Time: 258.3 [min]
646
193900
Time: 258.41 [min]
646
194000
Time: 258.51 [min]
646
194100
Time: 258.61 [min]
646
194200
Time: 258.71 [min]
646
194300
Time: 258.81 [min]
646
194400
Time: 258.91 [min]
646
194500
Time: 259.02 [min]
646
194600
Time: 259.12 [min]
646
194700
Time: 259.22 [min]
646
194800
Time: 259.31 [min]
647
194900
Time: 259.42 [min]
648
195000
Time: 259.52 [min]
648
195100
Time: 259.62 [min]
648
195200
Time: 259.72 [min]
648
195300
Time: 259.81 [min]
648
195400
Time: 259.92 [min]
649
195500
Time: 260.02 [min]
649
195600
Time: 260.12 [min]
649
195700
Time: 260.23 [min]
649
195800
Time: 260.33 [min]
649
195900
Time: 260.42 [min]
649
196000
Time: 260.52 [min]
649
196100
Time: 260.63 [min]
649
196200
Time: 260.72 [min]
649
196300
Time: 260.83 [min]
649
196400
Time: 260.93 [min]
649
196500
Time: 261.03 [min]
649
196600
Time: 261.13 [min]
649
196700
Time: 261.24 [min]
649
196800
Time: 261.33 [min]
649
196900
Time: 261.44 [min]
649
197000
Time: 261.53 [min]
649
197100
Time: 261.63 [min]
649
197200
Time: 261.74 [min]
649
197300
Time: 261.84 [min]
649
197400
Time: 261.94 [min]
649
197500
Time: 262.04 [min]
649
197600
Time: 262.14 [min]
649
197700
Time: 262.24 [min]
649
197800
Time: 262.35 [min]
649
197900
Time: 262.45 [min]
649
198000
Time: 262.56 [min]
649
198100
Time: 262.67 [min]
649
198200
Time: 262.77 [min]
649
198300
Time: 262.86 [min]
649
198400
Time: 262.97 [min]
649
198500
Time: 263.06 [min]
649
198600
Time: 263.17 [min]
649
198700
Time: 263.27 [min]
649

198800
Time: 263.37 [min]
649
198900
Time: 263.48 [min]
649
199000
Time: 263.59 [min]
650
199100
Time: 263.69 [min]
650
199200
Time: 263.79 [min]
650
199300
Time: 263.88 [min]
650
199400
Time: 263.98 [min]
650
199500
Time: 264.08 [min]
650
199600
Time: 264.19 [min]
651
199700
Time: 264.29 [min]
651
199800
Time: 264.39 [min]
651
199900
Time: 264.48 [min]
651
200000
Time: 264.58 [min]
651
200100
Time: 264.69 [min]
651
200200
Time: 264.79 [min]
651
200300
Time: 264.89 [min]
651
200400
Time: 265.0 [min]
652
200500
Time: 265.1 [min]
652
200600
Time: 265.19 [min]
652
200700
Time: 265.29 [min]
652
200800
Time: 265.4 [min]
652
200900
Time: 265.49 [min]
652
201000
Time: 265.6 [min]
652
201100
Time: 265.69 [min]
653
201200
Time: 265.8 [min]
653
201300
Time: 265.89 [min]
653
201400
Time: 266.0 [min]
653
201500
Time: 266.1 [min]
653
201600
Time: 266.19 [min]
653
201700
Time: 266.29 [min]
653
201800
Time: 266.37 [min]
653
201900
Time: 266.47 [min]
653
202000
Time: 266.57 [min]
653
202100
Time: 266.68 [min]
653
202200
Time: 266.78 [min]
653
202300
Time: 266.88 [min]
653
202400
Time: 266.98 [min]
653
202500
Time: 267.08 [min]
653
202600
Time: 267.18 [min]
653
202700
Time: 267.29 [min]
653
202800
Time: 267.39 [min]
653
202900
Time: 267.49 [min]
653
203000
Time: 267.58 [min]
653
203100
Time: 267.69 [min]
653
203200
Time: 267.79 [min]
653
203300
Time: 267.9 [min]
653
203400
Time: 268.0 [min]
653
203500
Time: 268.1 [min]
653
203600
Time: 268.2 [min]
653
203700
Time: 268.3 [min]
653
203800
Time: 268.4 [min]
653
203900
Time: 268.51 [min]
653
204000
Time: 268.62 [min]
653
204100
Time: 268.72 [min]
653
204200
Time: 268.82 [min]
653
204300
Time: 268.91 [min]
653
204400
Time: 269.01 [min]
653
204500
Time: 269.11 [min]
653
204600
Time: 269.21 [min]
653
204700
Time: 269.31 [min]
653
204800
Time: 269.42 [min]
653
204900
Time: 269.51 [min]
653
205000
Time: 269.62 [min]
653
205100
Time: 269.72 [min]
653
205200
Time: 269.82 [min]
653
205300
Time: 269.92 [min]
653
205400
Time: 270.02 [min]
653
205500
Time: 270.13 [min]
653
205600
Time: 270.23 [min]
653
205700
Time: 270.34 [min]
653
205800
Time: 270.44 [min]
653
205900
Time: 270.54 [min]
653
206000
Time: 270.64 [min]
653
206100
Time: 270.74 [min]
653
206200
Time: 270.83 [min]
653
206300
Time: 270.94 [min]
653
206400
Time: 271.04 [min]
653
206500
Time: 271.14 [min]
653
206600
Time: 271.24 [min]
653
206700
Time: 271.33 [min]
653
206800
Time: 271.44 [min]
653
206900
Time: 271.54 [min]
653
207000
Time: 271.64 [min]
653
207100
Time: 271.74 [min]
653
207200
Time: 271.85 [min]
653
207300
Time: 271.95 [min]
653
207400
Time: 272.05 [min]
653
207500
Time: 272.15 [min]
653
207600
Time: 272.26 [min]
653
207700
Time: 272.35 [min]
653
207800
Time: 272.45 [min]
653
207900
Time: 272.55 [min]
653
208000
Time: 272.65 [min]
653
208100
Time: 272.75 [min]
653
208200
Time: 272.86 [min]
653
208300
Time: 272.96 [min]
653
208400
Time: 273.07 [min]
653
208500
Time: 273.16 [min]
653
208600
Time: 273.27 [min]
653
208700
Time: 273.37 [min]
653
208800
Time: 273.47 [min]
653
208900
Time: 273.57 [min]
653
209000
Time: 273.67 [min]
653
209100
Time: 273.77 [min]
653
209200
Time: 273.87 [min]
653
209300
Time: 273.97 [min]
653
209400
Time: 274.07 [min]
653
209500
Time: 274.17 [min]
653
209600
Time: 274.27 [min]
653
209700
Time: 274.37 [min]
653
209800
Time: 274.47 [min]
653
209900
Time: 274.57 [min]
653
210000
Time: 274.67 [min]
653
210100
Time: 274.78 [min]
653
210200
Time: 274.87 [min]
653
210300
Time: 274.98 [min]
653
210400
Time: 275.08 [min]
653
210500
Time: 275.18 [min]
653
210600
Time: 275.28 [min]
653
210700
Time: 275.38 [min]
653
210800
Time: 275.48 [min]
653
210900
Time: 275.58 [min]
653
211000
Time: 275.69 [min]
653
211100
Time: 275.79 [min]
653
211200
Time: 275.89 [min]
653
211300
Time: 275.99 [min]
653
211400
Time: 276.09 [min]
653
211500
Time: 276.19 [min]
653
211600
Time: 276.29 [min]
653
211700
Time: 276.39 [min]
653
211800
Time: 276.49 [min]
653
211900
Time: 276.59 [min]
653
212000
Time: 276.69 [min]
653
212100
Time: 276.79 [min]
653
212200
Time: 276.89 [min]
653
212300
Time: 277.0 [min]
653
212400
Time: 277.1 [min]
653
212500
Time: 277.2 [min]
653
212600
Time: 277.3 [min]
653
212700
Time: 277.4 [min]
653
212800
Time: 277.5 [min]
653
212900
Time: 277.6 [min]
653
213000
Time: 277.7 [min]
653
213100
Time: 277.8 [min]
653
213200
Time: 277.89 [min]
653
213300
Time: 277.99 [min]
653
213400
Time: 278.09 [min]
653
213500
Time: 278.19 [min]
653
213600
Time: 278.28 [min]
653
213700
Time: 278.38 [min]
653
213800
Time: 278.48 [min]
653
213900
Time: 278.58 [min]
653
214000
Time: 278.68 [min]
653
214100
Time: 278.78 [min]
653
214200
Time: 278.88 [min]
653
214300
Time: 278.99 [min]
653
214400
Time: 279.09 [min]
653
214500
Time: 279.2 [min]
653
214600
Time: 279.3 [min]
653
214700
Time: 279.4 [min]
653
214800
Time: 279.49 [min]
653
214900
Time: 279.6 [min]
653
215000
Time: 279.69 [min]
653
215100
Time: 279.8 [min]
653
215200
Time: 279.89 [min]
653
215300
Time: 280.0 [min]
653
215400
Time: 280.09 [min]
653

,Uniprot ID,molecule ID,evidence,ECFP,Binding,type
0,A8XT89,CHEBI:58885,phylo,0000000000000100000000000000000000000000000000...,1,NaN
1,B2GV06,CHEBI:57292,phylo,0100100001000000000000000000000011000000000000...,1,NaN
2,A0A022RBJ3,CHEBI:33227,phylo,1000000000000000000000000000000000000000000000...,1,NaN
3,G3S168,CHEBI:59776,phylo,0100000000000000000000000000000000000000000000...,1,NaN
4,F6I0H0,C00002,phylo,0000000001000000000000000000000000000000000000...,1,NaN
...,...,...,...,...,...,...
794423,A0A2J6JMI2,CHEBI:30616,NaN,NaN,0,NaN
794424,Q8Y7G6,C00002,NaN,NaN,0,NaN
794425,Q8Y7G6,CHEBI:30616,NaN,NaN,0,NaN
794426,B9R6X0,C00002,NaN,NaN,0,NaN
794427,B9R6X0,CHEBI:30616,NaN,NaN,0,NaN

#### (a)(iii) Creating negative data points for the test set:

In [101]:
df_UID_MID_test = df_UID_MID_test.loc[df_UID_MID_test["evidence"] == "exp"]

In [102]:
df_UID_MID_test = drop_samples_without_mol_file(df = df_UID_MID_test)
#calculating similarity matrix for all metabolites in the set:
df_metabolites_test, similarity_matrix_test = get_metabolites_and_similarities(df = df_UID_MID_test)
print(len(df_metabolites_test))

df_UID_MID_test["Binding"] = 1
df_UID_MID_test.reset_index(inplace = True, drop = True)

df_UID_MID_test = create_negative_samples(df = df_UID_MID_test, df_metabolites = df_metabolites_test,
                                          similarity_matrix = similarity_matrix_test)
df_UID_MID_test

706
0
Time: 0.0 [min]
0
100
Time: 0.04 [min]
1
200
Time: 0.09 [min]
16
300
Time: 0.13 [min]
32
400
Time: 0.18 [min]
57
500
Time: 0.23 [min]
75
600
Time: 0.28 [min]
94
700
Time: 0.33 [min]
120
800
Time: 0.38 [min]
138
900
Time: 0.42 [min]
161
1000
Time: 0.47 [min]
173
1100
Time: 0.53 [min]
193
1200
Time: 0.58 [min]
218
1300
Time: 0.63 [min]
237
1400
Time: 0.68 [min]
253
1500
Time: 0.73 [min]
267
1600
Time: 0.78 [min]
283
1700
Time: 0.83 [min]
302
1800
Time: 0.89 [min]
322
1900
Time: 0.93 [min]
338
2000
Time: 0.99 [min]
356
2100
Time: 1.04 [min]
378
2200
Time: 1.09 [min]
398
2300
Time: 1.15 [min]
410
2400
Time: 1.21 [min]
423
2500
Time: 1.26 [min]
437
2600
Time: 1.32 [min]
457
2700
Time: 1.38 [min]
465
2800
Time: 1.44 [min]
486
2900
Time: 1.5 [min]
505
3000
Time: 1.57 [min]
518
3100
Time: 1.64 [min]
544
3200
Time: 1.71 [min]
560
3300
Time: 1.78 [min]
575
3400
Time: 1.85 [min]
592
3500
Time: 1.93 [min]
612

,Uniprot ID,molecule ID,evidence,ECFP,Binding,type
0,P71828,CHEBI:57925,exp,0100000001000000000000000000000000000000000000...,1,NaN
1,A0A1D8PGI8,CHEBI:16897,exp,0100000000000001000000000000000000000000000100...,1,NaN
2,Q8NEZ4,C00019,exp,0100100001000000000000000000000001000000000000...,1,NaN
3,F4K5T2,CHEBI:35235,exp,0100000000000000000000000000000000000000000000...,1,NaN
4,Q05762,CHEBI:57453,exp,0110000000000000001000000000000000000000000000...,1,NaN
...,...,...,...,...,...,...
13297,P48163,CHEBI:30616,NaN,NaN,0,NaN
13298,P48163,C00002,NaN,NaN,0,NaN
13299,Q3TIG7,CHEBI:16389,NaN,NaN,0,NaN
13300,Q3TIG7,CHEBI:57925,NaN,NaN,0,NaN
13301,Q3TIG7,CHEBI:16469,NaN,NaN,0,NaN

In [103]:
df_UID_MID_train_phylo.to_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_train_phylo.pkl"))
df_UID_MID_train_exp.to_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_train_exp.pkl"))
df_UID_MID_test.to_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_test_exp_phylo.pkl"))

### (b) Mapping ECFPs and ESM-1b-vectors to different splits:

In [138]:
df_UID_MID_train_phylo = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_train_phylo.pkl"))
df_UID_MID_train_exp = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_train_exp.pkl"))
df_UID_MID_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data","df_UID_MID_test_exp_phylo.pkl"))

In [139]:
df_UID_MID_train_exp["evidence"] = "exp"
df_UID_MID_train_phylo["evidence"] = "phylo"
df_UID_MID_train = pd.concat([df_UID_MID_train_exp, df_UID_MID_train_phylo], ignore_index = True)

df_UID_MID_test["evidence"] = "exp"

#### (b)(i) Mappings ECFPs:

In [140]:
df_UID_MID_train.drop(columns = ["ECFP"], inplace = True)
df_UID_MID_train = df_UID_MID_train.merge(df_ecfps, right_on = "substrate ID", left_on = "molecule ID", how = "left")

df_UID_MID_test.drop(columns = ["ECFP"], inplace = True)
df_UID_MID_test = df_UID_MID_test.merge(df_ecfps, right_on = "substrate ID", left_on = "molecule ID", how = "left")

#### (b)(ii) Mappings ESM1b-vectors:

In [141]:
df_train = df_UID_MID_train
df_test = df_UID_MID_test

Uniprot_df = pd.DataFrame(data = {"Uniprot ID" : UNIPROT_df["Uniprot ID"],
                                 "ESM1b" : UNIPROT_df["ESM1b"]})

df_train = df_train.merge(Uniprot_df, on = "Uniprot ID", how = "left")
df_test = df_test.merge(Uniprot_df, on = "Uniprot ID", how = "left")

df_train.to_pickle(join(CURRENT_DIR, ".." ,"data","splits", "df_train.pkl"))
df_test.to_pickle(join(CURRENT_DIR, ".." ,"data", "splits", "df_test.pkl"))

## 7. Adding task-specific enzyme representations

### (a) Creating input data for training the task-specific ESM1b vectors:

In [2]:
df_UID_MID_train = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","enzyme_substrate_data", "df_UID_MID_train.pkl" ))
df_UID_MID_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_substrate_data", "df_UID_MID_test.pkl"))

### (b) Training the ESM1b model:
Training is executed via terminal with the following command:

### (c) Creating and mapping task-specific ESM1b vectors:

The following command line was used to calculate the representations:

<span style="color:red"> 
python extract_ts.py esm1b_t33_650M_UR50S \path_to_fasta_file\all_sequences.fasta \path_to_store_representations\all_sequences_enz_sub_ts --repr_layers 33 --include mean </span>

Loading ESM-1b-vectors and storing them in the UniProt DataFrame. All representations were merged into one dictionary:

In [10]:
UNIPROT_df = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "Uniprot_df_with_ESM1b.pkl"))
UNIPROT_df.drop(columns = "ESM1b", inplace = True)

In [15]:
rep_dict = torch.load(join(CURRENT_DIR, ".." ,"data", "enzyme_data", "all_sequences_enz_sub_ts.pt"))

UNIPROT_df["ESM1b_ts"] = ""

for ind in UNIPROT_df.index:
    try:
        UNIPROT_df["ESM1b_ts"][ind] = rep_dict[str(ind) +".pt"]
    except:
        print(ind)
UNIPROT_df

,Uniprot ID,Sequence,cluster,identity,ESM1b_ts
0,G3QP07,MAAGAGTAGLASGPGVVRDPAASQPRKRPGREGGEGARRSDTMAGG...,43869.0,NaN,"[-0.39227092, 0.07003846, -0.5990788, 0.700520..."
1,Q9KNU3,MRNTMFTSKEGQTIPQVTFPTRQGDAWVNVTSDELFKGKTVIVFSL...,109863.0,NaN,"[1.3834287, -0.7375668, 0.05813489, 0.5876554,..."
2,H3HBD2,MYPSVALLLWLWGAGVALQVIGLLGCLVEQNDTSDCASTARDRRTS...,17764.0,NaN,"[-0.007945929, 0.24109727, -0.2252904, 0.57749..."
3,A0A3B6C0N2,MEYHRVVSLVAVVVVLLRRWPALSSAQAPVSRTITVDSHGGGDFSS...,88170.0,60-80%,"[0.49238744, -0.38436332, 0.007538329, 0.29569..."
4,A0A1Z5RRB7,MDMPSHTHSQLCESKALVASYTQEARKRNQQHNMASKPGPLSRWPW...,28018.0,NaN,"[1.1889924, -0.46404734, -0.45838878, -0.04551..."
...,...,...,...,...,...
230809,A0A072VJI1,MELSAVTLGGKGSSLSSSAVYATAIGKSQIKIDSSALDRLTSPPSS...,15606.0,NaN,"[-0.39187044, 0.36415467, -0.3715744, 0.164436..."
230810,D7SVZ9,MFIESFKVESPNVKYTENEIHSVYDYETTELVHENRNGTYQWVVKP...,34817.0,NaN,"[0.22725554, -0.84085894, -0.21936668, 0.49389..."
230811,A0A2C9WL07,MAPISILLFSSILLFSASSTGRALSFNYYEKTCPDVELIVTNAVKN...,93693.0,NaN,"[0.97941506, -0.032301113, 0.23183702, -0.1546..."
230812,F4ICB6,MGCVNSKQTVSVTPAIDHSGVFRDNVCSGSGRIVVEDLPPVTETKL...,22447.0,NaN,"[-0.79635423, -0.1706877, -0.5774648, 1.040991..."
230813,B5LAU7,MAAAATCAFFPTGNPPSDSGAKSSGNLGGGSVPGSIDARGLNNVKK...,66315.0,60-80%,"[0.5010556, -0.21546274, 0.0012560516, 1.38983..."

Mapping:

In [16]:
df_train = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","splits", "df_train.pkl"))
df_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "splits", "df_test.pkl"))

Uniprot_df = pd.DataFrame(data = {"Uniprot ID" : UNIPROT_df["Uniprot ID"],
                                 "ESM1b_ts" : UNIPROT_df["ESM1b_ts"]})

df_train = df_train.merge(Uniprot_df, on = "Uniprot ID", how = "left")
df_test = df_test.merge(Uniprot_df, on = "Uniprot ID", how = "left")

df_train.to_pickle(join(CURRENT_DIR, ".." ,"data","splits", "df_train_with_ESM1b_ts.pkl"))
df_test.to_pickle(join(CURRENT_DIR, ".." ,"data", "splits", "df_test_with_ESM1b_ts.pkl"))

## 8. Adding task-specific metabolite representations

Task-specific metabolite representations are created with the jupyter notebook "Training Graph Neural Network":

In [ ]:
df_train = pd.read_pickle(join(CURRENT_DIR, ".." ,"data","splits", "df_train_with_ESM1b_ts_GNN.pkl"))
df_test = pd.read_pickle(join(CURRENT_DIR, ".." ,"data", "splits", "df_test_with_ESM1b_ts_GNN.pkl"))